﻿
@model IEnumerable<IslamicAcademy.Core.VM.LibraryReadVM>

@{
    Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Id</th>
                        <th>اسم المادة</th>
                        <th>اسم المتن</th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Tittel </th>
                        <th>ملف المكتبة </th>


                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.MatrialName</td>
                            <td>@item.ElmatoneName</td>
                            <td>@item.Tittel</td>

                            <td><a src="~/@item.FilePathe" style="width:150px; height:150px;" download=""> </a></td>


                            <td>
                                <div class="btn-group display-inline pull-right text-align-center hidden-tablet">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog fa-lg"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-xs pull-left">
                                        <li class="text-align-center">
                                            <a href="@Url.Action("Edit",new { Id=item.Id})" class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate">@IslamicAcademy.Localiztion.IslamicAcademy.Edit</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="text-align-center">
                                            <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="Delete(@item.Id)"> @IslamicAcademy.Localiztion.IslamicAcademy.Delete</button>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="text-align-center">
                                            <a href="javascript:void(0);" class="btn btn-warning waves-effect waves-light m-b-0" aria-hidden="true">@IslamicAcademy.Localiztion.IslamicAcademy.Cancel</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


</script>




