﻿<div class="row" style="margin-right:250px;"> 
    <div class="col-10" style="margin-right:50px;">
        <div class="card-box table-responsive">


            <p style="margin-right:250px;">
                شهادة
            </p>



            <p style="margin-right:70px;">
                الحمد للة رب العالمين والصلاة والسلام على رسول اللة أما بعد.
            </p>
            <p>
                فتشهد جائزة الشيخ صالح بن عبدالله المحيسن للمتون العلمية ودراساتها بالجامعة ال  الاسلامية
            </p>

            <p style="margin-right:170px;">
                ان:   @ViewBag.StudentName
            </p>
            <p>
                من كلية @ViewBag.CollageName قد شارك فى الفرع الاول(اتقان) فى الفصل @ViewBag.Class لعام 1439-1438 ه
            </p>
            <p style="margin-right:60px;">
                واجتازا مقررات المستوى @ViewBag.Level فى مسار @ViewBag.Track  بمعدل أ+ وبتقدير
            </p>
            <p style="margin-right:250px;">
                (@ViewBag.Ev)
            </p>
            <p style="margin-right:70px;">
                سائلين الله له العلم النافع والعمل الصالح وان يسلك بة سبيل العلماء العاملين
            </p>
            <p>
                <a style="margin-right:100px;">الختم</a>
                <a style="margin-right:250px;">الامين العام</a>

            </p>
            <p>
                <a style="margin-right:100px;"></a>
                <a style="margin-right:250px;">د.محمد بن صالح المحيسن </a>

            </p>
        </div>
</div>
</div>