﻿<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li class="menu-title">@IslamicAcademy.Localiztion.IslamicAcademy.Main</li>

                @*<li>
            <a href="@Url.Action("Index", "Home", new { area = "" })" class="waves-effect waves-primary">
                <i class="ti-home"></i><span>@GlobalRes.MainPage</span>
            </a>
        </li>*@

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-stats-up"></i><span> بوابة المعلم </span> <span class="badge badge-primary pull-right">8</span>
                    </a>
                    <ul class="list-unstyled">

                        <li ><a href="@Url.Action("Index","HomeTeacher",new { @area="Teacher"})">الإرشادات و التعليمات</a></li>
                        <li ><a href="@Url.Action("Index1","Setting",new { @area="Teacher"})"> صرف المتون للطلاب </a></li>
                        <li ><a href="@Url.Action("StudentReceived","Setting",new { @area="Teacher"})">  الطلاب الذين تم الصرف لهم     </a></li>

                        <li><a href="@Url.Action("Index1","TeacherInstructionsDetails",new { @area="Teacher"})">الإرشادات و التعليمات</a></li>
                        @*<li><a href="chart-morris.html">المقررات المطروحة(الجدول)</a></li>*@
                        <li><a href="@Url.Action("Index1","PrepareStudents",new { @Area="Teacher"})">تحضير الطلاب</a></li>
                        <li><a href="@Url.Action("Index","EvulationStudent",new { @Area="Teacher"})">تقيم درجات الطالب</a></li>
                        @*<li><a href="chart-peity.html">إحالة الطلاب للإختبارات</a></li>
        <li><a href="chart-sparkline.html">الغياب ورفع الأعذار</a></li>
        <li><a href="chart-other.html">طلب أجازة</a></li>*@
                    </ul>
                </li>
                @*<li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @SchoolSystem.Localiztion.AgentResource.ExameControle </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index1", "Memory_Pattern_Answers", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.MemoryTestAnswers</a></li>
                <li><a href="@Url.Action("Index1", "Memory_Pattern_Qustions", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.TestAnswers</a></li>
                <li><a href="@Url.Action("Index1", "Memory_pattern_AnswerMean", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.memoryquestions</a></li>
                <li><a href="@Url.Action("Index1", "memory_pattern_Test", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.Testthememorypattern</a></li>
                <li><a href="@Url.Action("Index1", "Test", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.Aptitudetest</a></li>

                <li><a href="@Url.Action("Index1", "Capabilitiesqustions", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.CapacityTestQuestions</a></li>

                <li><a href="@Url.Action("Index1", "Game", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.Gamesforthegiftedchild</a></li>

            </ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> التحكم في منظومة افاق</span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index1", "Guardian", new { area = "Admin" })">ولى الامر</a></li>
                <li><a href="@Url.Action("Index", "Student", new { area = "Admin" })">الطلاب</a></li>
                <li><a href="@Url.Action("Index1", "SharedCareer", new { area = "Admin" })">مهن الطلاب</a></li>
                <li><a href="@Url.Action("Index", "Employee", new { area = "Admin" })">الموظفين</a></li>
                <li><a href="@Url.Action("Index1", "Subjects", new { area = "Admin" })">المواد الدراسية</a></li>

                <li><a href="@Url.Action("Index1", "EmpClass", new { area = "Admin" })">توزيع المعلمين</a></li>

                <li><a href="@Url.Action("Index1", "Stage", new { area = "Admin" })">المراحل الدراسية</a></li>

                <li><a href="@Url.Action("Contole", "Scadules", new { area = "Admin" })">الجداول</a></li>
                <li><a href="@Url.Action("Index1", "NonAttandance", new { area = "Admin" })">اخذ الغياب</a></li>
                <li><a href="@Url.Action("Index1", "RealResultMonthly", new { area = "Admin" })"> درجات الطالب الشهرية</a></li>
                <li><a href="@Url.Action("Index1", "StudentsList", new { area = "Admin" })"> تنشيط الطالب</a></li>
                <li><a href="@Url.Action("Index1", "PrintStudentList", new { area = "Admin" })"> قوائم الطلاب</a></li>

                <li><a href="@Url.Action("Index1", "Evaluations", new { area = "Admin" })">تقيم الطلاب </a></li>

                <li><a href="@Url.Action("Index1", "Levels", new { area = "Admin" })">نقاط المعلمين </a></li>

                <li><a href="@Url.Action("Index1", "TeacherLists", new { area = "Admin" })">قياس مستوى المعلم  </a></li>

            </ul>
        </li>


        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> الاعدادات</span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index1", "Footer", new { area = "Admin" })">ملومات الاتصال </a></li>
                <li><a href="@Url.Action("Index1", "Career", new { area = "Admin" })">المهن</a></li>
                <li><a href="@Url.Action("Index1", "Nationality", new { area = "Admin" })">الجنسيات </a></li>
                <li><a href="@Url.Action("Index1", "Job", new { area = "Admin" })">الوظائف</a></li>
                <li><a href="@Url.Action("Index1", "ContactUs", new { area = "Admin" })">اتصل بنا </a></li>

                <li><a href="@Url.Action("Index1", "Message", new { area = "Admin" })">الرسائل </a></li>

                <li><a href="@Url.Action("Index1", "DiscoverTelend", new { area = "Admin" })">الهويات </a></li>

                <li><a href="@Url.Action("Index1", "DiscoverTelent", new { area = "Admin" })">الميول</a></li>
                <li><a href="@Url.Action("Index1", "DiscoverSkills", new { area = "Admin" })">المهارات </a></li>
                <li><a href="@Url.Action("Index1", "Maxims", new { area = "Admin" })"> الحكمة اليومية  </a></li>

            </ul>
        </li>*@
                @*<li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> التجكم فى الادمن</span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index", "AdminMange", new { area = "Admin" })">الادمن  </a></li>


            </ul>
        </li>*@



                @*<li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Marketing  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index1", "ManageRequest", new { area = "Marketing" })">@GlobalRes.Order</a></li>
            </ul>
        </li>
        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.PriceOffers  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index1", "ManageRequestOffer", new { area = "Marketing" })">@GlobalRes.OrderInput</a></li>

            </ul>
        </li>
        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Contracts  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index1", "ManageRequestContract", new { area = "Marketing" })">@GlobalRes.Contracts @Model.</a></li>

            </ul>
        </li>*@
                @*<li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Analysis  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled"></ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Running  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled"></ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.SupportRequests  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled"></ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Engineers  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled"></ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Visits  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled"></ul>
        </li>*@

            </ul>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>