﻿
@model IslamicAcademy.Core.VM.FirestBranchRegisterFM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-push-3">
            <div class="border-1px p-25">
                <h4 class="text-theme-colored text-uppercase m-0">تسجيل الطلاب فى الفرع الاول</h4>
                <div class="line-bottom mb-30"></div>
                <p></p>
                @*@using (Html.BeginForm("Register", "Home", new { area = "" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()*@
                <input type="text" hidden id="BranchId" name="BranchId" value="@ViewBag.BranchId" />
                <div id="appointment_form" name="appointment_form" class="mt-30" method="post" action="includes/appointment.php">
                    <div class="row">
                        <div class="col-sm-12">
                            <label>    @IslamicAcademy.Localiztion.IslamicAcademy.NameStudent   </label>

                            <div class="form-group mb-10">
                                <input type="text" class="form-control" required id="Name" name="Name" value="@Model.Name" />
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Nationality   </label>

                            <div class="form-group mb-10">
                                @Html.DropDownListFor(x => Model.NationalityId, (List<SelectListItem>)ViewBag.NationalityList, new
                                {
                                    @class = "form-control select2",
                                    @required = "required"

                                })
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label>هل انت من منسوبى الجامعه الاسلامية</label>

                            <div class="form-group mb-10">
                                <select class="form-control" id="JoinedUniversity" name="JoinedUniversity">
                                    <option value="0">اختر الحالة</option>
                                    <option value="نعم">نعم</option>
                                    <option value="لا">لا</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label id="Text1">  رقم الهوية/ رقم الطالب     </label>

                            <div class="form-group mb-10">
                                <input type="text" class="form-control" id="Code" name="Code" value="@Model.Code" />
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Phonenumber   </label>

                            <div class="form-group mb-10">
                                <input type="text" class="form-control" id="Phonenumber" name="Phonenumber" value="@Model.Phonenumber" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>    @IslamicAcademy.Localiztion.IslamicAcademy.WhatsNumber   </label>

                            <div class="form-group mb-10">
                                <input type="text" class="form-control" id="WhatsNumber" name="WhatsNumber" value="@Model.WhatsNumber" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>    @IslamicAcademy.Localiztion.IslamicAcademy.TelgramNumber   </label>

                            <div class="form-group mb-10">
                                <input type="text" class="form-control" id="TelgramNumber" name="TelgramNumber" value="@Model.TelgramNumber" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Email   </label>

                            <div class="form-group mb-10">
                                <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" />
                            </div>
                        </div>
                        @*<div class="col-sm-12">
                                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.EducationBody   </label>

                                                <div class="form-group mb-10">
                                                    @Html.DropDownListFor(x => Model.EducationBodyId, (List<SelectListItem>)ViewBag.EducationBodyList, new
                            {
                                @class = "form-control select2",
                                @required = "required"

                            })
                                                </div>
                                            </div>*@

                        <div class="col-sm-12">
                            <label>    @IslamicAcademy.Localiztion.IslamicAcademy.stage   </label>

                            <div class="form-group mb-10">
                                @Html.DropDownListFor(x => Model.StageId, (List<SelectListItem>)ViewBag.StageList, new
                                {
                                    @class = "form-control select2",
                                    @required = "required"

                                })
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Case   </label>

                            <div class="form-group mb-10">
                                <select class="form-control" id="Case" name="Case">
                                    <option value="مستمر">مستمر</option>
                                    <option value="جديد">جديد</option>

                                </select>
                            </div>
                        </div>



                        <div class="col-sm-12">
                            <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Colleges   </label>

                            <div class="form-group mb-10">
                                @Html.DropDownListFor(x => Model.ColleageId, (List<SelectListItem>)ViewBag.ColleageList, new
                                {
                                    @class = "form-control select2",
                                    @required = "required"

                                })
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Level   </label>

                            <div class="form-group mb-10">
                                @Html.DropDownListFor(x => Model.LevelId, (List<SelectListItem>)ViewBag.LevelList, new
                                {
                                    @class = "form-control select2",
                                    @onchange = "GetTrackList(this.value)",
                                    @required = "required"

                                })
                            </div>
                        </div>



                        <div class="col-sm-12">
                            <label>    المسار   </label>

                            <div class="form-group mb-10">
                                @Html.DropDownListFor(x => Model.TrackId, (List<SelectListItem>)ViewBag.TrackList, new
                                {
                                    @class = "form-control select2",
                                    @onchange = "GetCoursiersList(this.value)",
                                    @required = "required"

                                })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group mb-10" id="CoursesList">


                            </div>
                        </div>




                        <div class="col-sm-12">
                            <label>    اختر اليوم المناسب لحضور التقيم  </label>

                            <div class="form-group mb-10">
                                <select class="form-control" id="EvaulationDayes" name="EvaulationDayes">
                                    <option value="الاحد">الاحد</option>
                                    <option value="الاثنين">الاثنين</option>
                                    <option value="الثلاثاء">الثلاثاء</option>
                                    <option value="الاربعاء">الاربعاء</option>
                                    <option value="الخميس">الخميس</option>

                                </select>
                            </div>
                        </div>

                    </div>

                    @*<div class="form-group mb-0 mt-20">
                        <button type="submit" class="btn btn-dark btn-theme-colored" onclick="RegisterFirstBranch()" data-loading-text="Please wait...">Submit</button>
                    </div>*@
                </div>

                <!-- Appointment Form Validation-->
            </div>
        </div>
    </div>
</div>