﻿
@model  IslamicAcademy.Core.VM.FirestBranchRegisterFM


<div class="modal-dialog" style="width: 1200px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">تاجيل  </h4>
        </div>
        <div class="modal-body" style="width :1200px;">

            <div class="row">
                <div class="col-md-1">
                    <label>   التاريخ   </label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="DateTime" name="DateTime" required />

                </div>


            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input type="button" value="حفظ" class="btn yellow Save" onclick="PostponedRow(@Model.Id)" />
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">الغاء</button>*@
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#DateTime").datepicker();
    });
</script>

<script>
    function PostponedRow(id)
    {
        var Date = $("#DateTime").val();
        var Url = "../FirestBranchRegister/PostponedRow?Id=" + id + "&DateTime=" + Date;

        ajaxRequest("Post", Url, "", 'json', false, false).done(function (result) {
            var res = result.split(',');
            if (res[0] == "success") {
                $('#myModalAddEdit').modal('hide');
                toastr.success(res[1]);
                Search();
                //  window.location = "../ManageTasksAnalysis/Index";
            }
            else
                toastr.error(res[1]);
        });
    }


</script>
