﻿
@model IEnumerable<IslamicAcademy.Core.VM.FirestBranchRegisterVM>

@{
    Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Id</th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Nationality</th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Colleges </th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.stage </th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.NameStudent </th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Phonenumber </th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Email </th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.WhatsNumber </th>


                        <th>تاريخ التأجيل</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.NationalityName</td>
                        <td>@item.ColleageName</td>
                        <td>@item.StageName</td>
                        <td>@item.Name</td>
                        <td>@item.Phonenumber</td>
                        <td>@item.Email</td>
                        <td>@item.WhatsNumber</td>
                        <td>@item.PostponedDate</td>




                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


</script>




