﻿
@model IEnumerable<IslamicAcademy.Core.VM.InputFileVM>


<div class="modal-dialog" style="width: 1000px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="width :1000px;">

            <table class="table table-hover table-bordered datatable"  style="width:450px">
                <thead>
                    <tr>
                        <th>التسلسل </th>
                        <th>الملف </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td><a href="~/@item.File" download>تحميل</a></td>
                            




                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

