﻿
@model IEnumerable<IslamicAcademy.Core.VM.InputVM>

@{ 
    Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Datetime </th>
                        <th>النوع </th>
                        <th>الجهة الرسمية </th>
                        <th>عدد المشفوعات </th>
                        <th>تفاصيل </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Date</td>
                        <td>@item.LettersTypeName</td>
                        <td>@item.OfficialAgenciesName</td>
                        <td>@item.Count</td>
                        <td>@Html.Raw(item.Details)</td>
                       

                        <td>
                            <div class="btn-group display-inline pull-right text-align-center hidden-tablet" id="btn-div">
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-cog fa-lg"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-xs pull-left">
                                    <li class="text-align-center">
                                        <a href="@Url.Action("Edit",new { Id=item.Id})" class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate">@IslamicAcademy.Localiztion.IslamicAcademy.Edit</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="text-align-center">
                                        <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="Delete(@item.Id)"> @IslamicAcademy.Localiztion.IslamicAcademy.Delete</button>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="text-align-center">
                                        <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="Print(this)"> @IslamicAcademy.Localiztion.IslamicAcademy.Print</button>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="text-align-center">
                                        <a  onclick="File(@item.Id)" class="btn btn-warning waves-effect waves-light m-b-0" aria-hidden="true">الملفات</a>
                                    </li>
                                </ul>
                            </div>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>
    </div><script src="~/plugins/printThis.js"></script>
        <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });

            function Print(btn) {
                var replaceText = $(btn).closest("#btn-div").html();
                var str = $(btn).closest("tr").html();
                str = str.replace(replaceText, " ");
                console.log(str);
                var divToPrint = "<div ><table ><tr><td>التاريخ </td><td> النوع</td> <td> الجهه الرسميه</td><td> عدد المشفوعات</td> <td> التفاصيل</td></tr> "
                    +
                    str +
                    + "</table></div>";
                $(divToPrint).printThis();

            }
        </script>




