﻿
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/DroidKufi-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/DroidKufi-Bold.ttf) format('truetype');
}




body {
    font-family: 'Droid Arabic Kufi', sans-serif;
    font-weight:700;
    font-size:18px;
     padding-top: 50px;
    padding-bottom: 20px;
    /*line-height:24;*/

}

h1,h2,h3,h4 .Kufi{
    font-family: 'Droid Arabic Kufi', sans-serif;
    /*text-shadow:1px 1px #8f8f8f;*/
}
h1{
    font-size:28px;
}

h2{
    font-size:24px;
}

h3{
    font-size:18px;
}

h4{
    font-size:18px;
    
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 0px;
    padding-right: 0px;
    margin-left:0px;
    margin-right:0px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
