﻿<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li class="menu-title">@IslamicAcademy.Localiztion.IslamicAcademy.Main</li>
               
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-map"></i><span> بوابة الموظف </span><span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled"></ul>
                </li>

                <li class="has_sub">
                    <a href="@Url.Action("TaskeList","TaskEmp",new { Area="Employee"})" class="waves-effect waves-primary" style="color:#555">
                        <i class="ti-paint-bucket"></i> <span>   المهمات </span>
                        <span class="menu-arrow"></span>
                    </a>

                </li>
                <li class="has_sub">
                    <a href="@Url.Action("Create","TaskEmp",new { Area="Employee"})" class="waves-effect waves-primary" style="color:#555">
                        <i class="ti-paint-bucket"></i> <span>   اضافة مهمة</span>
                        <span class="menu-arrow"></span>
                    </a>

                </li>
                <li class="has_sub">
                    <a href="@Url.Action("Index1","TaskEmp",new { Area="Employee"})" class="waves-effect waves-primary" style="color:#555">
                        <i class="ti-paint-bucket"></i> <span> مهمات التنفيذ (@ViewBag.EmpTask)</span>
                        <span class="menu-arrow"></span>
                    </a>

                </li>

                <li class="has_sub">
                    <a href="@Url.Action("TaskeEnd","TaskEmp",new { Area="Employee"})" class="waves-effect waves-primary" style="color:#555">
                        <i class="ti-paint-bucket"></i> <span> المهمات المنفذه (@ViewBag.TaskEndedEmp)</span>
                        <span class="menu-arrow"></span>
                    </a>

                </li>


                <li class="has_sub">
                    <a href="@Url.Action("TaskEmpShowOnly","TaskEmp",new { Area="Employee"})" class="waves-effect waves-primary" style="color:#555">
                        <i class="ti-paint-bucket"></i> <span> مهمات القراءه (@ViewBag.EmpShow)</span>
                        <span class="menu-arrow"></span>
                    </a>

                </li>



                @*<li><a href="map-vector.html">إتصل بنا</a></li>*@


            </ul>

                    <div class="clearfix"></div>
</div>
        <div class="clearfix"></div>
    </div>
</div>