﻿
@model IslamicAcademy.Core.VM.DoctrinesDetailsVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm("Create", "DoctrinesDetails", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    @*<div class="modal-dialog" style="width: 900px;">*@
    <div class="modal-content" style="width: 1000px;">
        <div class="modal-header">
            <h4 class="modal-title">اضافه المتون الفقهية &nbsp; &nabla; </h4>
            <a href="@Url.Action("Index1", "DoctrinesDetails", new { area = "Admin" })" class="btn yellow " value=" ">رجوع للقائمة السابقة </a>
        </div>
        <div class="modal-body" style="width :900px;">
            <div class="panel">
                @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                <div class="panel-body p25 pb5">
                    <div class="tab-content pn br-n admin-form">
                        <div id="tab1_1" class="tab-pane active">

                            <div class="row">
                                <div class="col-md-2">
                                    @Html.HiddenFor(model => model.Id)
                                    <label>    المذهب الفقهى   </label>
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@
                                    @Html.DropDownListFor(x => Model.DoctrinesId, (List<SelectListItem>)ViewBag.DoctrinesList, new
                                    {
                                        @class = "form-control select2"

                                    })
                                </div>


                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Name   </label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="Name" name="Name" required value="@Model.Name" />
                                   
                                </div>


                            </div>
                            <br />
                            <br />

                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="@IslamicAcademy.Localiztion.IslamicAcademy.Save" class="btn yellow Saveee" onclick="Save()" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@IslamicAcademy.Localiztion.IslamicAcademy.Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*</div>*@
    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>

    @*</div>*@
}



<script src="~/Areas/Admin/Scripts/DoctrinesDetails.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        DoctrinesDetails.init();

    })

</script>


@*<script>
        $(document).ready(function () {
            $("input[type=text]").addClass("gui-input");
        });

        $('.btn').on('click', function () {
            var $this = $(this);
            setTimeout(function () {
                $this.button('reset');
            }, 8000);
        });

    </script>*@

