﻿@model IEnumerable<IslamicAcademy.Core.VM.NewsVM>

@foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="new-1">
            <img src="~/@item.ImagePathe" class="img-responsive" />
            <h2><a href="@Url.Action("NewsDetails","Home",new { Id=item.Id})">  @item.Tittel</a></h2>
            <p>@Html.Raw(item.Details)</p>

            <h5> @item.Datetime <i class="fa fa-calendar"></i></h5>
        </div><!--end new-1-->
    </div><!--end col-4-->
}

