﻿@model IEnumerable<IslamicAcademy.Core.VM.ScandBranchCoursesVM>
<div class="tabel-tab">
    <table style="width:100%">
        <tbody>
            <tr class="table-first">
                <th>اسم المادة</th>
                <th>اسم المتن</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MatrialName</td>
                    <td>@item.ElmatoneName</td>
                </tr>
            }
        </tbody>
    </table>
</div>