﻿@model IEnumerable<IslamicAcademy.Core.VM.CollegeVM>



<div class="img-internal">
    <div class="container">
        <div class="row">
            <div class="overlay-big"></div>

            <div class="col-md-6 col-xs-12">
                <h2>نبذة عن متون </h2>
                <div class="line-orang"></div>
            </div><!--end col-6-->

            <div class="col-md-6 hidden-xs">
                <div class="left-col">
                    <p><a href="#"> الرئيسية </a>
                    <p>> المقررات </p>
                </div><!---->
            </div><!--end col-6-->


        </div>
    </div><!--end container-->
</div><!--img-internal-->




<div class="about-internal" >

    <div class="container">
        <div class="row">



            <div class="cleaner-h5"></div>


            <div class="col-md-3 wow fadeInRight">
                @Html.Action("FirstBranchSideMenu")
            </div><!--end col-3-->

            <div class="col-md-9 wow fadeInLeft">

                <div class="row">


                    <div class="col-md-12">
                        <h2 class="heade-h2"> المقررات الدراسية </h2>
                        <p>نسعى دائماُ بتقديم منتجات وخدمات بأعلى معايير الجودة عبر التطوير المستمر لفريقنا واستحداث أفضل الأدوات التي تضعنا في المقدمة. </p>
                    </div><!--end col-12-->

                    <div class="cleaner-h2"></div>

                    <div class="col-md-1">
                    </div><!--end col-1-->
                    @foreach (var item in Model)
            {
                <div class="col-md-2">
                    <div class="blcok orange">
                        <a onclick="setCollage(@item.Id)">
                            <img class="img-responsive" src="~/assetsweb/images/icon/number-2.png" />
                            <h4>@item.Name</h4>
                        </a>
                    </div>
                </div><!--end col-2-->
    }





                    <div class="col-md-1"></div>

                </div>

                <div class="cleaner-h2"></div>

                <h2 class="heade-h2"> من فضلك قم باختيار المستوى </h2>
                <div class="cleaner-h2"></div>


                <div class="col-md-2">
                    <div class="mosta">
                        <a onclick="GetTrack('1')" style="font-size:12px">المستوى الاول</a> 
                    </div>
                    @*<h4 class="mosta-a"><a onclick="GetTrack('1')">المستوى الاول</a> </h4>*@

                </div>


                <div class="col-md-2">
                    <div class="mosta">
                        <a onclick="GetTrack('2')" style="font-size:12px">المستوى الثانى</a>
                    </div>
                    @*<h4 class="mosta-a"><a onclick="GetTrack('2')">المستوى الثانى</a> </h4>*@

                </div>

                <div class="col-md-2">
                    <div class="mosta">
                        <a onclick="GetTrack('3')" style="font-size:12px">المستوى الثالث</a>
                    </div>
                    @*<h4 class="mosta-a"><a onclick="GetTrack('3')">المستوى الثالث</a> </h4>*@

                </div>

                <div class="col-md-2">
                    <div class="mosta">
                        <a onclick="GetTrack('4')" style="font-size:12px">المستوى الرابع</a>
                    </div>
                    @*<h4 class="mosta-a"><a onclick="GetTrack('4')">المستوى الرابع</a> </h4>*@

                </div>

                <div class="col-md-2">
                    <div class="mosta">
                        <a onclick="GetTrack('5')" style="font-size:12px">المستوى الخامس</a>
                    </div>
                    @*<h4 class="mosta-a"><a onclick="GetTrack('5')">المستوى الخامس</a> </h4>*@

                </div>

                <div class="col-md-2">
                    <div class="mosta">
                        <a onclick="GetTrack('6')" style="font-size:12px">المستوى السادس</a>
                    </div>
                    <h4 class="mosta-a"><a onclick="GetTrack('6')"></a> </h4>

                </div>
                
                <div class="col-md-2">
                    <div class="mosta">
                        <a onclick="GetTrack('7')" style="font-size:12px">المستوى السابع</a>
                    </div>
                    @*<h4 class="mosta-a"><a onclick="GetTrack('7')">المستوى السابع</a> </h4>*@

                </div>


                <div class="col-md-2">
                    <div class="mosta">
                        <a onclick="GetTrack('8')" style="font-size:12px">المستوى الثامن</a>
                    </div>
                    @*<h4 class="mosta-a"><a onclick="GetTrack('8')"> المستوى الثامن</a> </h4>*@

                </div>


                <div class="cleaner-h2"></div>

                <h2 class="heade-h2"> من فضلك قم باختيار المسار </h2>
                <div class="cleaner-h2"></div>

                <div id="Track">

                    @*@Html.Action("Track")*@
                </div>

                <div class="cleaner-h2"></div>

                <h2 class="heade-h2">المواد الدراسية </h2>
                <div class="cleaner-h2"></div>

                <div class="tabel-tab" id="CoursesBytrackAndLevel">


                </div>

            </div>






        </div><!--end col-9-->

    </div><!--end row-->

    <div class="cleaner-h5"></div>



</div>

<script>
    var collageId=0;
   function setCollage(id){
    collageId=id;
    }
    function GetTrack(LevelId) {
    if(collageId===0)
    {
    alert('اختر كليه من فضلك اولا');
    return ;
    }
        LevelId = LevelId ? LevelId : 0;
        $("#LevelId").val(LevelId);
       
        $.ajax
            ({
                url: '/Home/GetTrackListByLevel?Id=' + LevelId + '&C_Id=' + collageId,
                type: 'Get',
                datatype: 'application/json',
                contentType: 'application/json',

                success: function (result) {
                    $("#Track").html(result);


                  
                },
                error: function () {
                    toastr.error("Whooaaa! Something went wrong..")
                },
            });
    }



    function GetCourses(TrackId) {
        

        $.ajax
            ({
                url: '/Home/GetCourses?TrackId=' + TrackId ,
                type: 'Get',
                datatype: 'application/json',
                contentType: 'application/json',

                success: function (result) {
                    $("#CoursesBytrackAndLevel").html(result);



                },
                error: function () {
                    toastr.error("Whooaaa! Something went wrong..")
                },
            });
    }
  
</script>