﻿

@model IEnumerable<IslamicAcademy.Models.StudentMatoneVM>


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label class="head_item">@item.Name</label>
                                <hr />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @foreach (var item3 in item.Elmatone)
                                {

                                <label>
                                    <input type="checkbox" class="sss" onclick="onlyOne(this)" value="@item3.Id" id="Case" name="Case" title="@item3.Name" /> @item3.Name

                                    @*<input type="checkbox" class="sss" onclick="onlyOne(this,'@item.Id')" value="@item.MatoneId" id="@item.Id" name="@item.Id" title="@item.MatoneName" /> @item3.Name*@
                                </label>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>


        }
        @*<div class="col-md-12">
            <button type="submit" class="btn btn-gemy-form btn-padd" onclick="RegisterFirstBranch()" data-loading-text="Please wait..."> استمر</button>
        </div>*@


    </div>
</div>
