﻿@model IEnumerable<IslamicAcademy.Core.VM.CoursesVM>


<table style="width:100%">
    
        <tr class="table-first">
            <th>@IslamicAcademy.Localiztion.IslamicAcademy.Id</th>
            <th>@IslamicAcademy.Localiztion.IslamicAcademy.Branches</th>
            <th>اسم الكلية </th>
            <th>اسم المادة </th>
            <th>اسم المتن</th>
            <th>المقرر </th>
            <th>الاسبوعى</th>
            <th>السنوى</th>


        </tr>
    
  
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.BranchName</td>
                <td>@item.ColleageName</td>
                <td>@item.MatarialeName</td>
                <td>@item.ElmatoneName</td>
                <td>@item.Couresess</td>
                <td>@item.Weak</td>
                <td>@item.year</td>


             

            </tr>
        }
  
</table>