﻿
@model IEnumerable<IslamicAcademy.Core.VM.CoursesStudentVM>

@{
    /**/

    Layout = null;
}
@if (Model != null)
{
    <div class="about-internal">
        <div class="container">
            <div class="row">
                <div class="tabel-tab">


                    <table style="width:100%">
                        <thead>
                            <tr>
                                <th>اسم المادة</th>

                                <th>اسم المتن</th>
                                <th>الاسبوعى </th>
                                <th> السنوى</th>
                                <th>المقرر </th>


                                @*<th></th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.MatrailName</td>
                                <td>@item.ElmatoneName</td>
                                <td>@item.Weak</td>
                                <td>@item.Year</td>
                                <td>@item.Courses</td>


                                @*<td>
            <div class="btn-group display-inline pull-right text-align-center hidden-tablet">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cog fa-lg"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-xs pull-left">
                    <li class="text-align-center">
                        <a href="@Url.Action("Edit",new { Id=item.Id})" class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate">@IslamicAcademy.Localiztion.IslamicAcademy.Edit</a>
                    </li>
                    <li class="divider"></li>
                    <li class="text-align-center">
                        <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="Delete(@item.Id)"> @IslamicAcademy.Localiztion.IslamicAcademy.Delete</button>
                    </li>
                    <li class="divider"></li>
                    <li class="text-align-center">
                        <a href="javascript:void(0);" class="btn btn-warning waves-effect waves-light m-b-0" aria-hidden="true">@IslamicAcademy.Localiztion.IslamicAcademy.Cancel</a>
                    </li>
                </ul>
            </div>
        </td>*@

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>

                }





