﻿
@model IEnumerable<IslamicAcademy.Core.VM.MatrailVM>



<div class="study">
    <div class="container">
        <div class="row">

            <div class="cleaner-h5"></div>

            <div class="col-md-6">
                <div class="line"></div>
                <h4>منهاج متون </h4>
                <h2 class="title">المناهج الدراسية </h2>
            </div><!--end col-6-->

            <div class="col-md-6"></div>

            <div class="cleaner-h3"></div>

        @foreach (var item in Model.Take(2))
        {
              <div class="col-md-4 wow fadeInRight">
                <div class="block-new">
                    <img src="~/assetsweb/images/1.png" class="img-responsive" />
                    <h5> @item.Name</h5>
                    <p>
                        @Html.Raw(item.Details)
                    </p>

                </div>
            </div><!--end col-4-->

            <div class="cleaner-h2 visible-xs"></div>

        }
          

           
        
        <!--end col-4-->

            <div class="cleaner-h2 visible-xs"></div>

            <div class="col-md-4 wow fadeInLeft">
            @if (Model.Count() > 4) { 
            foreach (var item in Model.Skip(2).Take(3))
            {
                 <div class="block-new-1">
                    <img src="~/assetsweb/images/3.png" class="img-responsive pos-image" />
                    <div class="overlay"></div>

                    <div class="text-pos">
                        <h5>@item.Name </h5>
                        <p>
                            @item.Details
                        </p>
                    </div><!--end text-pos-->
                </div><!--end block-->
                    }
            }
                else
            {
            }

               

                

            </div><!--end col-4-->

            <div class="cleaner-h5"></div>

        </div><!--end row-->
    </div><!--end container-->
</div>