﻿



@model IEnumerable<IslamicAcademy.Core.VM.NewsVM>

<div class="owl-carousel-3col owl-nav-top" data-nav="true">

    @foreach (var item in Model)
    {
        <div class="item">
            <article class="post clearfix maxwidth600 mb-sm-30">
                <div class="entry-header">
                    <div class="post-thumb thumb"> <img src="~/@item.ImagePathe" alt="" class="img-responsive img-fullwidth"> </div>
                    <div class="entry-meta meta-absolute text-center pl-15 pr-15">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <ul>
                                    <li><a class="text-white" href="#"><i class="fa fa-thumbs-o-up"></i> 265 <br> Likes</a></li>
                                    <li class="mt-20"><a class="text-white" href="#"><i class="fa fa-comments-o"></i> 72 <br> comments</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry-content border-1px p-20">
                    <h5 class="entry-title mt-0 pt-0"><a href="#">@item.Tittel</a></h5>
                    <p class="text-left mb-20 mt-15 font-13">
                        @Html.Raw(item.Details)
                    </p>
                    <a class="btn btn-flat btn-dark btn-theme-colored btn-sm pull-left" href="@Url.Action("NewsDetails",new { Id=item.Id})">Read more</a>
                    <ul class="list-inline entry-date pull-right font-12 mt-5">
                        <li><a class="text-theme-colored" href="#">Admin |</a></li>
                        <li><span class="text-theme-colored">Nov 13, 2015</span></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </article>
        </div>


    }

</div>