﻿

@model IEnumerable<IslamicAcademy.Core.VM.LibraryReadVM>







<div class="about-us margin news-page">
    <div class="container">
        <div class="row">



            <div class="cleaner-h5"></div>


            <div class="col-md-12 wow fadeInRight">


                <div class="line-small"></div>
                <h2 class="title">المكتبة الصوتية </h2>
            </div><!--end col-6-->

            <div class="col-md-9 wow fadeInRight">
                <div class="row">


                    <div class="tabels">
                        <table class="bordered tabel-final">

                            <thead>
                                <tr>

                                    <th>المادة</th>
                                    <th>المتن</th>
                                    <th>عنوان المكتبة</th>
                                    <th>الصوت</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>

                                    <td>@item.MatrialName</td>
                                    <!--text btn-->
                                    <td>
                                        @item.ElmatoneName

                                    </td>
                                    <!--audio player-->


                                    <td align="text-align:center;" style="width:25%;">
                                        @item.Tittel
                                    </td>

                                    <td align="text-align:center;" style="width:25%;">
                                        <audio controls="" preload="none">
                                            <source src="@item.FilePathe"
                                                    type="audio/mpeg">
                                        </audio>
                                    </td>

                                    <!--video lightbox-->

                                </tr>
                                }






                            </tbody>

                        </table>

                    </div><!--end tabels-->
                </div><!--end row-->
            </div><!--end col-9-->






            <div class="cleaner-h5"></div>

        </div><!--end row-->
    </div><!--end container-->
</div><!--end about-us-->
