﻿@model IEnumerable<IslamicAcademy.Core.VM.LibraryReadVM>




<div class="img-internal">
    <div class="container">
        <div class="row">
            <div class="overlay-big"></div>

            <div class="col-md-6 col-xs-12">
                <h2>معرض الصور </h2>
                <div class="line-orang"></div>
            </div><!--end col-6-->

            <div class="col-md-6 hidden-xs">
                <div class="left-col">
                    <p><a href="index.html"> الرئيسية </a>
                    <p>> المكتبة </p>
                </div><!---->
            </div><!--end col-6-->


        </div>
    </div><!--end container-->
</div><!--img-internal-->



<div class="about-us margin news-page">
    <div class="container">
        <div class="row">

            <div class="cleaner-h5"></div>


            <div class="col-md-12 wow fadeInRight">


                <div class="line-small"></div>
                <h2 class="title">المكتبة المقرؤه </h2>
            </div><!--end col-6-->




            <div class="col-md-9 wow fadeInRight">
                <div class="row">

                    <table class="bordered tabel-final">

                        <thead>
                            <tr>

                                <th>المادة</th>
                                <th>المتن</th>
                                <th>العنوان</th>
                                <th>تنزيل الملف</th>
                                <th>ملف الصوت</th>
                                <th>شاهد الفيديو</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
    {
                            <tr>

                                <td>@item.MatrialName</td>
                                <td>@item.ElmatoneName</td>
                                <td>@item.Tittel</td>
                                <!--text btn-->
                                <td>
                                    <a class="youtube-bytom" href="~/@item.FilePathe">
                                        <i class="fa fa-download"></i>
                                    </a>
                                </td>
                                <!--audio player-->


                                <td align="text-align:center;" style="width:25%;">
                                    <audio controls="" preload="none">
                                        <source src="~/@item.VedoPathe">
                                    </audio>
                                </td>

                                <td>
                                    <button type="button" class="youtube-bytom" data-toggle="modal" data-target="#@item.Id">
                                        <i class="fa fa-youtube-play"></i>
                                    </button>
                                    <div class="modal fade" id="@item.Id" tabindex="-1" role="dialog" aria-labelledby="@item.Id" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="@item.Id">@item.Tittel</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" class="clos">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <iframe width="560" height="315" src="@item.LinkPathe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <!--video lightbox-->

                            </tr>

}





                        </tbody>

                    </table>
                </div><!--end row-->
            </div><!--end col-9-->



            <div class="col-md-3 wow fadeInLeft">



                @Html.Action("News2")
                <div class="adv">
                    <div class="cleaner-h2"></div>
                    <a href="#"><img src="~/assetsweb/images/donate.jpg" class="img-responsive width" /></a>
                    <div class="cleaner-h2"></div>
                </div><!--end adv-->


            </div><!--end col-3-->





            <div class="cleaner-h5"></div>

        </div><!--end row-->
    </div><!--end container-->
</div><!--end about-us-->
