﻿

@model IEnumerable<IslamicAcademy.Core.VM.AcousticsVM>







<div class="about-us margin news-page">
    <div class="container">
        <div class="row">



            <div class="cleaner-h5"></div>


            <div class="col-md-12 wow fadeInRight">


                <div class="line-small"></div>
                <h2 class="title">المكتبة المرءية </h2>
            </div><!--end col-6-->

            <div class="col-md-9 wow fadeInRight">
                <div class="row">


                    <div class="tabels">
                        <table class="bordered tabel-final">

                            <thead>
                                <tr>

                                    <th>المادة</th>
                                    <th>المتن</th>
                                    <th>عنوان المكتبة</th>
                                    <th>الفديو</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.MatrialName</td>
                                <!--text btn-->
                                <td>
                                    @item.ElmatoneName

                                </td>
                                <!--audio player-->


                                <td align="text-align:center;" style="width:25%;">
                                    @item.Tittel
                                </td>

                                <td>
                                    <button type="button" class="youtube-bytom" data-toggle="modal" data-target="#@item.Id">
                                        <i class="fa fa-youtube-play"></i>
                                    </button>
                                    <div class="modal fade" id="@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="@item.Id">@item.Tittel</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" class="clos">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <iframe width="560" height="315" src="@item.Link" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <!--video lightbox-->

                            </tr>
                }






                            </tbody>

                        </table>

                    </div><!--end tabels-->
                </div><!--end row-->
            </div><!--end col-9-->






            <div class="cleaner-h5"></div>

        </div><!--end row-->
    </div><!--end container-->
</div><!--end about-us-->
