﻿
@model IEnumerable<IslamicAcademy.Core.VM.NewsVM>



<div class="news-blocks">
    <div class="container">
        <div class="row">

            <div class="cleaner-h5"></div>

            <div class="col-md-8">
                <div class="line"></div>
                <h4>متون </h4>
                <h2 class="title">الاخبار </h2>
            </div><!--end col-8-->

            <div class="col-md-4 hidden-xs">
                <div class="line"></div>
                <h4>التواصل الاجتماعى </h4>
                <h2 class="title">اخر التغريدات </h2>
            </div><!--end col-4-->

            <div class="cleaner-h3"></div>

        @foreach (var item in Model)
        {
            <div class="col-md-4 wow fadeInRight">

                <div class="block-new news new-block">
                    <img src="~/@item.ImagePathe" class="img-responsive" />
                   <a href="@Url.Action("NewsDetails","Home" ,new { Id=item.Id})" ><h5>@item.Tittel </h5></a>
                    <p>
                        @if (item.Details.Length >= 100)
                        {
                        @Html.Raw(item.Details.Substring(0, 100))
                        }
                        else
                        {
                               @Html.Raw(item.Details)

                        }
                    </p>

                </div>
            </div>



        }
            
           

            <div class="col-md-4 hidden-xs">

                <a class="twitter-timeline" href="https://twitter.com/zad_studing?ref_src=twsrc%5Etfw">Tweets by zad_studing</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            </div><!--end col-4-->





        </div><!--end row-->
    </div><!--end container-->
    <div class="cleaner-h5"></div>
    <div class="cleaner-h3"></div>
</div>
