﻿@model IEnumerable<IslamicAcademy.Core.VM.NewsVM>



@foreach (var item in Model)
{
    
<div class="first-news">
    <img src="~/@item.ImagePathe" class="img-responsive" />
    <h5><a href="#"> @item.Tittel  </a> </h5>
    <div class="cleaner"></div>
</div><!--end first-news-->
}