﻿
@model IEnumerable<IslamicAcademy.Core.VM.NewsVM>


<div class="gallery-isotope grid-4 gutter-small clearfix" data-lightbox="gallery">
    <!-- Portfolio Item Start -->
    @foreach (var item in Model)
    {
        <div class="gallery-item">
            <div class="thumb">
                <img alt="project" src="~/@item.ImagePathe" class="img-fullwidth">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                    <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                            <a href="~/@item.ImagePathe" data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


</div>