﻿
<ul class="menu-right">
    @*<li>
        <a href="@Url.Action("FirstBranch","Home")">
            <i class="fa fa-address-book"></i>
            <p>
                مقررات الفرع
            </p>
        </a>
    </li>*@
    <li>
        <a href="@Url.Action("ScandBranchAdvantages","Home")">
            <i class="fa fa-address-book"></i>
            <p>
                مميزات الفرع
            </p>
        </a>
    </li>
    <li>
        <a href="@Url.Action("AssignmentsDate","Home",new { BranchId=2})">
            <i class="fa fa-calendar"></i><p>
                تواريخ مهمه
            </p>
        </a>
    </li>
    <li>
            <a href="#tabs-3">
                <i class="fa fa-newspaper-o"></i><p>
                    المتون المشروحة
                </p>
            </a>
        </li>
        <li>
            <a href="#tabs-2">
                <i class="fa fa-calendar-minus-o"></i><p>
                    الجدول الزمنى
                </p>
            </a>
        </li>
    <li>
        <a href="@Url.Action("EvaluationCriteria","Home",new { BranchId=2})">
            <i class="fa fa-line-chart"></i><p>
                معايير التقييم
            </p>
        </a>
    </li>
    <li>
        <a href="@Url.Action("BranchTwoRegister","Home")">
            <i class="fa fa-lock"></i><p>
                التسجيل
            </p>
        </a>
    </li>


</ul>