﻿
@model IEnumerable<IslamicAcademy.Core.VM.TrackFM>


@foreach (var item in Model)
{


<div class="col-md-2">
    <div class="mosta orange">
        <a onclick="GetCourses(@item.Id)" style="font-size:15px;">@item.Name</a>
    </div>
    <h4 class="mosta-a"><a onclick="GetCourses(@item.Id)">@item.Name</a> </h4>

</div>

}
