﻿
@{
    Layout = null;
}



<div class="about-us">
    <div class="container">
        <div class="row">

            <div class="cleaner-h5 hidden-xs"></div>
            <div class="cleaner-h5 hidden-xs"></div>


            <div class="col-md-6 wow fadeInRight">


                <div class="line"></div>
                <h4>مرحبا بك </h4>
                <h2 class="title">نبذة عن الجائزة </h2>


                <p>
                    @Html.Action("IntroducingPrize")

                </p>

            </div><!--end col-6-->



            <div class="col-md-3 wow fadeInLeft">
                <div class="vision">
                    <img src="~/assetsweb/images/icon/5.png" class="img-responsive" />
                    <h4>المشرف العام</h4>

                    @Html.Action("WordsSupevisor")
                </div><!--end vision-->
            </div><!--end col-3-->


            <div class="col-md-3 wow fadeInLeft">
                <div class="vision message">
                    <img src="~/assetsweb/images/icon/6.png" class="img-responsive" />
                    <h4>
                        نظام التسجيل
                    </h4>
                    @Html.Action("SysteamPrize")

                </div><!--end vision-->
            </div><!--end col-3-->



        </div><!--end row-->
    </div><!--end container-->
</div><!--end about-us-->

