﻿@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="img-internal">
    <div class="container">
        <div class="row">
            <div class="overlay-big"></div>

            <div class="col-md-6 col-xs-12">
                <h2>نبذة عن متون </h2>
                <div class="line-orang"></div>
            </div><!--end col-6-->

            <div class="col-md-6 hidden-xs">
                <div class="left-col">
                    <p><a href="#"> الرئيسية </a>
                    <p>> عن الجائزة </p>
                </div><!---->
            </div><!--end col-6-->


        </div>
    </div><!--end container-->
</div><!--img-internal-->


@Html.Action("AboutUs")

<div class="cleaner-h5"></div>

<div class="about-internal">
    <div class="container">
        <div class="row">



            <div class="cleaner-h5"></div>


            <div id="tabs">

                <div class="col-md-4 wow fadeInRight">
                    <ul>
                        <li>
                            <a href="#tabs-1">
                                <img src="~/assetsweb/images/icon/about-3.png" /><p>
                                    نظام الجائزة
                                </p>
                            </a>
                        </li>

                        <li>
                            <a href="#tabs-2">
                                <img src="~/assetsweb/images/icon/about-1.png" />
                                كلمة المشرف العام
                            </a>
                        </li>

                        <li class="ttabs">
                            <a href="#tabs-3">
                                <img src="~/assetsweb/images/icon/about-4.png" />
                                الممثليات
                            </a>
                        </li>

                        <li>
                            <a href="#tabs-4">
                                <img src="~/assetsweb/images/icon/about-2.png" />
                                كلمة رئيس مجلس امناء الجائزة
                            </a>
                        </li>




                    </ul>
                </div><!--end col-3-->

                <div class="col-md-8 wow fadeInLeft">

                    <div id="tabs-1">
                        <div class="row">



                            <div class="col-md-12">
                                <h2>نظام الجائزة</h2>
                                @Html.Action("SysteamPrize")
                            </div><!--end col-6-->

                        </div><!--end row-->
                    </div>

                    <div id="tabs-2">
                        <div class="row">



                            <div class="col-md-12">
                                <h2>كلمة المشرف العام</h2>
                                @Html.Action("WordsSupevisor")
                            </div><!--end col-6-->

                        </div><!--end row-->
                    </div>

                    <div id="tabs-3">
                        <div class="row">



                            <div class="col-md-12">
                                <h2>الممثليات</h2>
                                @Html.Action("Representations")

                            </div><!--end col-6-->

                        </div><!--end row-->
                    </div>

                    <div id="tabs-4">
                        <div class="row">


                            <div class="col-md-12">
                                <h2>كلمة رئيس مجلس امناء الجائزة</h2>
                                @Html.Action("WordsManage")
                            </div><!--end col-6-->

                        </div><!--end row-->
                    </div>



                </div><!--end col-9-->

            </div><!--end tabs-->

            <div class="cleaner-h5"></div>



        </div>
    </div>
</div><!--end about-internal-->
