﻿@model IslamicAcademy.Models.RegisterViewModel

@{
    ViewBag.Title = "AddPassWord";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}



<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="http://placehold.it/1920x1280">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb text-left text-black mt-10">
                        <li><a href="#">الرئسية</a></li>
                        <li><a href="#">ادخال كلمة السر</a></li>
                        <li class="active text-gray-silver">كلمة السر</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#register-tab" data-toggle="tab">تسجيل كلمة السر</a></li>
                </ul>
                <div class="tab-content">

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {@Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="tab-pane fade in p-15" id="register-tab">
                        <div name="reg-form" class="register-form">
                            <div class="icon-box mb-0 p-0">
                                <a href="#" class="icon icon-bordered icon-rounded icon-sm pull-left mb-0 mr-10">
                                    <i class="pe-7s-users"></i>
                                </a>
                                @*<h4 class="text-gray pt-10 mt-0 mb-30">Don't have an Account? Register Now.</h4>*@
                            </div>
                            <hr>
                            @*<p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi id perspiciatis facilis nulla possimus quasi, amet qui. Ea rerum officia, aspernatur nulla neque nesciunt alias.</p>*@
                            <div class="row" hidden>
                                <div class="form-group col-md-6">
                                    <label for="form_name">Name</label>
                                    @*<input name="form_name" class="form-control" type="text">*@
                                    @*@Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })*@
                                    <input type="text" value="@ViewBag.Name" id="FullName" name="FullName" class="form-control" readonly />

                                    <input type="text" value="@ViewBag.UserId" id="UserId" name="UserId" class="form-control" readonly />

                                </div>
                                <div class="form-group col-md-6" hidden>
                                    <label>Email Address</label>
                                    @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })*@
                                    <input type="text" value="@ViewBag.Email" id="Email" name="Email" class="form-control" readonly />

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="form_choose_username"> اسم المستخدم</label>
                                    @*@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })*@
                                    <input type="text" value="@ViewBag.UserName" id="UserName" name="UserName" class="form-control" readonly />

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="form_choose_password"> كلمة السر</label>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-6">
                                    <label> اعادة-كلمة السر</label>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-dark btn-lg btn-block mt-15" value="تسجيل " />

                                @*<button class="btn btn-dark btn-lg btn-block mt-15" type="submit">Register Now</button>*@
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
</section>

