﻿@model IEnumerable<IslamicAcademy.Core.VM.NewsVM>

@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}




<div class="img-internal">
    <div class="container">
        <div class="row">
            <div class="overlay-big"></div>

            <div class="col-md-6 col-xs-12">
                <h2>معرض الصور </h2>
                <div class="line-orang"></div>
            </div><!--end col-6-->

            <div class="col-md-6 hidden-xs">
                <div class="left-col">
                    <p><a href="#"> الرئيسية </a>
                    <p>> الاخبار </p>
                </div><!---->
            </div><!--end col-6-->


        </div>
    </div><!--end container-->
</div><!--img-internal-->



<div class="about-us margin news-page">
    <div class="container">
        <div class="row">

            <div class="cleaner-h5"></div>


            <div class="col-md-12 wow fadeInRight">


                <div class="line-small"></div>
                <h2 class="title">الاخبار </h2>
            </div><!--end col-6-->


            @Html.Action("AllNewsSearch")

            <div class="col-md-9 wow fadeInRight">
                <div class="row">





                    @*<div class="col-md-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item-per page-item"><a class="page-link" href="#">السابق</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item-next page-item"><a class="page-link" href="#">التالى</a></li>
                        </ul>
                    </nav>
                </div>*@
                    <!--end col-12-->


                </div><!--end row-->
            </div><!--end col-9-->



           





            <div class="cleaner-h5"></div>

        </div><!--end row-->
    </div><!--end container-->
</div><!--end about-us-->











<div class="newsletter">
    <div class="container">
        <div class="row">

            <div class="col-md-7 wow fadeInRight">
                <p class="i"><i class="fa fa-envelope"></i></p>
                <p>
                    الان يمكنك متابعة اخر اخبارنا عن طريق
                    <span>
                        البريد الالكترونى
                    </span>
                </p>

            </div><!--end col-md-6-->

            <div class="col-md-5 wow fadeInLeft">
                <form class="newsleter">
                    <input type="text" placeholder="البريد الالكترونى" />
                    <button class="btn btn-gemy-form">اشترك الان</button>
                </form>
            </div>


        </div><!--end row-->
    </div><!--end container-->
</div>



