﻿@model IEnumerable<IslamicAcademy.Core.VM.AssignmentsDateVM>

@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}


<div class="img-internal">
    <div class="container">
        <div class="row">
            <div class="overlay-big"></div>

            <div class="col-md-6 col-xs-12">
                <h2>معرض الصور </h2>
                <div class="line-orang"></div>
            </div><!--end col-6-->

            <div class="col-md-6 hidden-xs">
                <div class="left-col">
                    <p><a href="index.html"> الرئيسية </a>
                    <p>> التواريخ لمهمة </p>
                </div><!---->
            </div><!--end col-6-->


        </div>
    </div><!--end container-->
</div><!--img-internal-->



<div class="about-internal">
    <div class="container">
        <div class="row">

            <div class="cleaner-h5"></div>

            <div class="col-md-3 wow fadeInRight">
                @Html.Action("FirstBranchSideMenu")
            </div><!--end col-3-->
            <div class="col-md-9 wow fadeInLeft">

                <div class="row">

                    <table class="bordered tabel-final">

                        <thead>
                            <tr>

                                <th>التسلسل</th>
                                <th>الفرع</th>
                                <th>العنوان</th>
                                <th>التفاصيل </th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.Id</td>
                            <td>@item.BranchName</td>
                            <td>@item.Tittel</td>
                            <td>@Html.Raw(item.Details)</td>
                            <!--text btn-->






                        </tr>

            }





                        </tbody>

                    </table>
                </div><!--end row-->
            </div><!--end col-9-->



          





            <div class="cleaner-h5"></div>

        </div><!--end row-->
    </div><!--end container-->
</div><!--end about-us-->
