﻿
@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}



<div class="img-internal">
    <div class="container">
        <div class="row">
            <div class="overlay-big"></div>

            <div class="col-md-6 col-xs-12">
                <h2>معرض الصور </h2>
                <div class="line-orang"></div>
            </div><!--end col-6-->

            <div class="col-md-6 hidden-xs">
                <div class="left-col">
                    <p><a href="index.html"> الرئيسية </a>
                    <p>> الفروع </p>
                </div><!---->
            </div><!--end col-6-->


        </div>
    </div><!--end container-->
</div><!--img-internal-->



<div class="about-us margin news-page">
    <div class="container">
        <div class="row">

            <div class="cleaner-h5"></div>


            <div class="col-md-12 wow fadeInRight">


                <div class="line-small"></div>
                <h2 class="title">الفروع </h2>
            </div><!--end col-6-->




            <div class="col-md-9 wow fadeInRight">
                <div class="row">

                    <div class="col-md-4">
                        <div class="new-1">
                            <a href="@Url.Action("FirstBranch","Home")"><img src="~/assetsweb/images/1.png" class="img-responsive" /></a>
                            <h2><a href="@Url.Action("FirstBranch","Home")"> الفرع 1 </a></h2>
                            <p>لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم </p>
                        </div><!--end new-1-->
                    </div><!--end col-4-->

                    <div class="col-md-4">
                        <div class="new-1">
                            <a href="@Url.Action("BranchTwoRegister","Home")"><img src="~/assetsweb/images/2.png" class="img-responsive" /></a>
                            <h2><a href="@Url.Action("BranchTwoRegister","Home")"> الفرع2 </a></h2>
                            <p>لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم </p>
                        </div><!--end new-1-->
                    </div><!--end col-4-->

                    <div class="col-md-4">
                        <div class="new-1">
                            <a href="Fara3-1.html"><img src="~/assetsweb/images/3.png" class="img-responsive" /></a>
                            <h2><a href="Fara3-1.html"> الفرع 3 </a></h2>
                            <p>لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم </p>
                        </div><!--end new-1-->
                    </div><!--end col-4-->



                </div><!--end row-->
            </div><!--end col-9-->



            <div class="col-md-3 wow fadeInLeft">

                <div class="login-side hidden-xs">
                    <h4><i class="fa fa-lock"></i> تسجيل الدخول </h4>
                    <div class="line-horz"></div>

                    <form>
                        <label>الاسم </label>
                        <input type="text" placeholder="الاسم" />

                        <label>كلمة المرور </label>
                        <input type="text" placeholder="كلمة المرور" />

                        <button class="btn btn-gemy-form btn-form-side">تسجيل الدخول </button>

                        <a href="#" class="text-centter">نسيت كلمة المرور </a>
                        <p> مستخدم جديد <a href="#"> احصل على عضويتك الان </a></p>

                    </form>

                </div><!--end login-side-->

                <div class="adv">
                    <div class="cleaner-h2"></div>
                    <a href="#"><img src="images/join-us-adv.jpg" class="img-responsive width" /></a>
                    <div class="cleaner-h2"></div>
                </div><!--end adv-->

                <div class="latest-news login-side hidden-xs">
                    <h4><i class="fa fa-chain"></i> اخر الاخبار </h4>
                    <div class="line-horz"></div>

                    @Html.Action("News2")
                </div>
            <!--end latest-news-->

                <div class="adv">
                    <div class="cleaner-h2"></div>
                    <a href="#"><img src="~/assetsweb/images/donate.jpg" class="img-responsive width" /></a>
                    <div class="cleaner-h2"></div>
                </div><!--end adv-->


            </div><!--end col-3-->





            <div class="cleaner-h5"></div>

        </div><!--end row-->
    </div><!--end container-->
</div><!--end about-us-->
