﻿
@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

@if (ViewBag.BranchId == 1)
{
    <section class="position-inherit">
        <div class="container">
            <div class="row">
                <div class="col-md-3 scrolltofixed-container">
                    <div class="list-group scrolltofixed">
                        <a href="#section-five" class="list-group-item "> مميزات الفرع  </a>
                        <a href="#section-two" class="list-group-item "> التواريخ المهمة   </a>
                        <a href="#section-there" class="list-group-item "> تقسيم المقررات    </a>

                        <a href="#section-one" class="list-group-item "> الكليات  </a>


                        <a href="#section-foure" class="list-group-item "> معاير التقيم     </a>


                    </div>
                </div>
                <div class="col-md-9">
                    <div id="section-fiv" class="mb-50">
                        <h2>المميزات  </h2>
                        <hr>
                        @Html.Action("AdvantagesByBranchId", new { Id = 1 })
                    </div>

                    <div id="section-two" class="mb-50">
                        <h2>  تواريخ مهمة</h2>
                        <hr>
                        @Html.Action("AssignmentsDateByBranchId", new { Id = 1 })
                    </div>

                    <div id="section-there" class="mb-50">
                        <h2>تقسيم المقررات </h2>
                        <hr>
                        @Html.Action("CoursesByBranchId", new { Id = 1 })
                    </div>
                    <div id="section-one" class="mb-50">
                        <h2>الكليات </h2>
                        <hr>
                        @Html.Action("CollegesByBranchId", new { Id = 1 })
                        @*<p class="mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam officia dolor rerum enim doloremque iusto eos atque tempora dignissimos similique, quae, maxime sit accusantium delectus, maiores officiis vitae fuga sunt repellendus. Molestiae quae, ducimus ut tenetur nobis id quam autem quibusdam commodi inventore laborum libero officiis, accusantium a laboriosam cumque consequatur voluptates fuga assumenda corporis amet. Vitae placeat architecto ipsa cumque fugiat, atque molestiae perferendis quasi quaerat iste voluptate quas dicta corporis, incidunt quibusdam quia odit unde, rem harum quis! Optio debitis veniam quibusdam, culpa quia, aperiam cupiditate perspiciatis repellat similique saepe magnam quaerat iusto obcaecati doloremque, dolor praesentium a!</p>
                            <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Ut tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio. Phasellus auctor velit at lacus blandit, commodo iaculis justo viverra. Etiam vitae est arcu. Mauris vel congue dolor. Aliquam eget mi mi. Fusce quam tortor, commodo ac dui quis, bibendum viverra erat. Maecenas mattis lectus enim, quis tincidunt dui molestie euismod. Curabitur et diam tristique, accumsan nunc eu, hendrerit tellus.</p>*@
                    </div>

                    <div id="section-foure" class="mb-50">
                        <h2>معاير التقيم</h2>
                        <hr>
                        @Html.Action("EvaluationCriteriaByBranchId", new { Id = 1 })

                    </div>
                </div>
            </div>
        </div>
    </section>
}



@if (ViewBag.BranchId == 2)
{
    <section class="position-inherit">
        <div class="container">
            <div class="row">
                <div class="col-md-3 scrolltofixed-container">
                    <div class="list-group scrolltofixed">
                        <a href="#section-five" class="list-group-item "> مميزات الفرع  </a>
                        <a href="#section-two" class="list-group-item "> تواريخ مهمة    </a>
                        <a href="#section-there" class="list-group-item "> المتون المشروحة     </a>

                        <a href="#section-one" class="list-group-item "> الجدول الزمنى  </a>


                        <a href="#section-foure" class="list-group-item "> معاير التقيم     </a>


                    </div>
                </div>
                <div class="col-md-9">
                    <div id="section-fiv" class="mb-50">
                        <h2>المميزات  </h2>
                        <hr>
                        @Html.Action("AdvantagesByBranchId", new { Id = 2 })
                    </div>

                    <div id="section-two" class="mb-50">
                        <h2>  تواريخ مهمة</h2>
                        <hr>
                        @Html.Action("AssignmentsDateByBranchId", new { Id = 2 })
                    </div>

                    <div id="section-there" class="mb-50">
                        <h2> المتون الشروحه </h2>
                        <hr>
                        @*@Html.Action("CoursesByBranchId", new { Id = 1 })*@
                    </div>
                    <div id="section-one" class="mb-50">
                        <h2>الجدول الزمنى </h2>
                        <hr>
                        @*@Html.Action("CollegesByBranchId", new { Id = 1 })*@
                        @*<p class="mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam officia dolor rerum enim doloremque iusto eos atque tempora dignissimos similique, quae, maxime sit accusantium delectus, maiores officiis vitae fuga sunt repellendus. Molestiae quae, ducimus ut tenetur nobis id quam autem quibusdam commodi inventore laborum libero officiis, accusantium a laboriosam cumque consequatur voluptates fuga assumenda corporis amet. Vitae placeat architecto ipsa cumque fugiat, atque molestiae perferendis quasi quaerat iste voluptate quas dicta corporis, incidunt quibusdam quia odit unde, rem harum quis! Optio debitis veniam quibusdam, culpa quia, aperiam cupiditate perspiciatis repellat similique saepe magnam quaerat iusto obcaecati doloremque, dolor praesentium a!</p>
                            <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Ut tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio. Phasellus auctor velit at lacus blandit, commodo iaculis justo viverra. Etiam vitae est arcu. Mauris vel congue dolor. Aliquam eget mi mi. Fusce quam tortor, commodo ac dui quis, bibendum viverra erat. Maecenas mattis lectus enim, quis tincidunt dui molestie euismod. Curabitur et diam tristique, accumsan nunc eu, hendrerit tellus.</p>*@
                    </div>

                    <div id="section-foure" class="mb-50">
                        <h2>معاير التقيم</h2>
                        <hr>
                        @Html.Action("EvaluationCriteriaByBranchId", new { Id = 2 })

                    </div>
                </div>
            </div>
        </div>
    </section>
}

@if (ViewBag.BranchId == 3)
{
    <section class="position-inherit">
        <div class="container">
            <div class="row">
                <div class="col-md-3 scrolltofixed-container">
                    <div class="list-group scrolltofixed">
                        <a href="#section-five" class="list-group-item "> مميزات الفرع  </a>
                        <a href="#section-two" class="list-group-item "> تواريخ مهمة    </a>
                        <a href="#section-there" class="list-group-item "> المتون التى تجرى عليها البحوث     </a>



                        <a href="#section-foure" class="list-group-item "> معاير التقيم     </a>


                    </div>
                </div>
                <div class="col-md-9">
                    <div id="section-fiv" class="mb-50">
                        <h2>المميزات  </h2>
                        <hr>
                        @Html.Action("AdvantagesByBranchId", new { Id = 3 })
                    </div>

                    <div id="section-two" class="mb-50">
                        <h2>  تواريخ مهمة</h2>
                        <hr>
                        @Html.Action("AssignmentsDateByBranchId", new { Id = 3 })
                    </div>

                    <div id="section-there" class="mb-50">
                        <h2>  المتون التى تجرى عليها البحوث </h2>
                        <hr>
                        @*@Html.Action("CoursesByBranchId", new { Id = 1 })*@
                    </div>
                  

                    <div id="section-foure" class="mb-50">
                        <h2>معاير التقيم</h2>
                        <hr>
                        @Html.Action("EvaluationCriteriaByBranchId", new { Id = 3 })

                    </div>
                </div>
            </div>
        </div>
    </section>
}