﻿@model IslamicAcademy.Models.RegisterVM
@{
    ViewBag.Title = "BranchTwoRegister";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="about-internal">

    @Html.Raw(TempData["success"])
    <div class="container">
        <div class="row">
            <div class="cleaner-h5"></div>
            <div class="col-md-3 wow fadeInRight">
                @Html.Action("ScandBranchSideMenu")
            </div><!--end col-3-->
            <div class="col-md-9 wow fadeInLeft">
                <div class="border-1px p-25">
                    <h4 class="text-theme-colored text-uppercase m-0">تسجيل الطلاب فى الفرع الثانى</h4>
                    <div class="line-bottom mb-30"></div>
                    <p></p>
                    @using (Html.BeginForm("Register", "Home", new { area = "" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data", @class = "frooo3" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="text" hidden id="BranchId" name="BranchId" value="2" />
                        <div id="appointment_form" name="appointment_form" class="mt-30" method="post" action="includes/appointment.php">

                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.NameStudent   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" required id="Name" name="Name" value="@Model.Name" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Nationality   </label>

                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.NationalityId, (List<SelectListItem>)ViewBag.NationalityList, new
            {
                @class = "form-control select2",
                @required = "required"

            })
                                </div>
                            </div>


                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Phonenumber   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="Phonenumber" name="Phonenumber" placeholder="966" value="@Model.Phonenumber" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.WhatsNumber   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="WhatsNumber" name="WhatsNumber" value="@Model.WhatsNumber" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.TelgramNumber   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="TelgramNumber" name="TelgramNumber" value="@Model.TelgramNumber" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>  البيانات الاكادمية  </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="AcadmeyDetails" name="AcadmeyDetails" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.EducationBody   </label>

                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.EducationBodyId, (List<SelectListItem>)ViewBag.EducationBodyList, new
            {
                @class = "form-control select2",
                @required = "required"

            })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.stage   </label>

                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.StageId, (List<SelectListItem>)ViewBag.StageList, new
            {
                @class = "form-control select2",
                @required = "required"

            })
                                </div>
                            </div>


                            <div class="col-md-6">
                                <label>    مرحلة الدراسات العليا   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="STageEducationhigher" name="STageEducationhigher" value="@Model.STageEducationhigher" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>    السنة   </label>

                                <div class="form-group mb-10">
                                    <select class="form-control" id="Year" name="Year">
                                        <option value="الاول">الاول</option>
                                        <option value="الثانى">الثانى</option>
                                        <option value="الثالث">الثالث</option>
                                        <option value="الرابع">الرابع</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>    مرحلة  البكالوريوس   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="Bachelorsdegree" name="Bachelorsdegree" value="@Model.Bachelorsdegree" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Level   </label>

                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.LevelId, (List<SelectListItem>)ViewBag.LevelList, new
            {
                @class = "form-control select2",
                @onchange = "GetTrackList(this.value)",
                @required = "required"

            })
                                </div>
                            </div>

                            @*<div class="col-md-6">
                                <label>   المتن   </label>

                                <div class="form-group mb-10">
                                    <select class="form-control" id="Elmatone" name="Elmatone">
                                        <option value="المختار للتقوى">المختار للتقوى</option>
                                        <option value="اسهل المسالك">اسهل المسالك</option>
                                        <option value="الغاية والتتريب">الغاية والتتريب</option>
                                        <option value="اخصر المختصرات">اخصر المختصرات</option>

                                    </select>
                                </div>
                            </div>*@
                            <div class="col-md-12">
                                @Html.Action("BranchTwoCourses")
                            </div>

                            <div class="col-md-6 form-group mb-0 mt-20">
                                <input name="form_botcheck" class="form-control" type="hidden" value="">
                                <button type="submit" class="btn btn-gemy-form btn-padd" data-loading-text="Please wait...">Submit</button>
                            </div>
                        </div>


                    }
                    <!-- Appointment Form Validation-->
                </div>

            </div>
        </div>
    </div>


</div>

