﻿@model IslamicAcademy.Core.VM.ContactUsVM

@{
    /**/

    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
@Html.Raw(TempData["success"])


    <div class="img-internal">
        <div class="container">
            <div class="row">
                <div class="overlay-big"></div>

                <div class="col-md-6 col-xs-12">
                    <h2>معرض الصور </h2>
                    <div class="line-orang"></div>
                </div><!--end col-6-->

                <div class="col-md-6 hidden-xs">
                    <div class="left-col">
                        <p><a href="#"> الرئيسية </a>
                        <p>> تواصل معنا </p>
                    </div><!---->
                </div><!--end col-6-->


            </div>
        </div><!--end container-->
    </div><!--img-internal-->



    <div class="about-us margin news-page">
        <div class="container">
            <div class="row">

                <div class="cleaner-h2"></div>

                <div class="line-small"></div>
                <h2 class="title">اتصل بنا </h2>
                @*@using (Html.BeginForm("ContactUs", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {*@
            <div class="col-md-6 wow fadeInRight">
                <form class="contact-us">
                    <label>الاسم</label>
                    <input type="text" name="Name" id="Name" placeholder="الاسم" />

                    <label>رقم الهاتف</label>
                    <input type="text" placeholder="رقم الهاتف"  name="Phone" id="Phone"/>

                    <label>العنوان</label>
                    <input type="text" placeholder="العنوان"  name="Address" id="Address"/>

                    <label>الموضوع</label>
                    <input type="text" placeholder="الموضوع"  />

                    <label>الرسالة</label>
                    <textarea id="Message" name="Message"></textarea>

                    <div class="cleaner-h2"></div>

                    <button class="btn btn-gemy-form">ارسل رسالتك </button>

                </form>
            </div><!--end col-6-->
                @*}*@
            <div class="cleaner-h5 visible-xs"></div>

            <div class="col-md-6 wow fadeInLeft">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13820.511624065884!2d31.31680286977539!3d30.004483499999996!3m2!1i1024!2i768!4f13.1!4m3!3e6!4m0!4m0!5e0!3m2!1sen!2seg!4v1539233868115" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>

                <div class="cleaner-h1"></div>

                <div class="social-linkss-1">
                    <p><i class="fa fa-location-arrow"></i> المدينة المنوره - مكه المكرمة</p>
                    <p><i class="fa fa-phone"></i> 01093174220 - 025056379</p>
                    <p><i class="fa fa-envelope"></i> CEO@Mooton.com </p>
                </div>

                <div class="social-linksss">
                    <a href="#" class="fa fa-facebook-f"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-google"></a>
                    <a href="#" class="fa fa-pinterest-p"></a>
                </div>

            </div><!--end col-6-->


            </div><!--end row-->
        </div><!--end container-->
    </div><!--end newsletter-->


    <div class="cleaner-h5"></div>
    <div class="cleaner-h5"></div>
