﻿
@model IEnumerable<IslamicAcademy.Core.VM.AdvantagesFM>

@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";

}

<div class="img-internal">
    <div class="container">
        <div class="row">
            <div class="overlay-big"></div>

            <div class="col-md-6 col-xs-12">
                <h2>نبذة عن متون </h2>
                <div class="line-orang"></div>
            </div><!--end col-6-->

            <div class="col-md-6 hidden-xs">
                <div class="left-col">
                    <p><a href="#"> الرئيسية </a>
                    <p>> مميزات الفرع الاول </p>
                </div><!---->
            </div><!--end col-6-->


        </div>
    </div><!--end container-->
</div><!--img-internal-->




<div class="about-internal">
    <div class="container">
        <div class="row">


            <div class="cleaner-h5"></div>

            <div class="col-md-3 wow fadeInRight">
                @Html.Action("FirstBranchSideMenu")
            </div><!--end col-3-->

            <div class="col-md-9 wow fadeInLeft">

                <div class="row">


                    <div class="col-md-12">
                        @*<h2 class="heade-h2"> مميزات الفرع </h2>*@
                        @*<p>نسعى دائماُ بتقديم منتجات وخدمات بأعلى معايير الجودة عبر التطوير المستمر لفريقنا واستحداث أفضل الأدوات التي تضعنا في المقدمة. </p>*@

                        <div class="cleaner-h2"></div>

                        <h2 class="heade-h2"> مميزات الفرع </h2>

                        <ul class="menu-mmoezat">
                            @foreach (var item in Model)
                            {


                                <li><i class="fa fa-arrow-circle-o-left"></i>@Html.Raw(item.Details) </li>

                            }
                        </ul>


                    </div><!--end col-12-->



                </div><!--end col-9-->

            </div><!--end row-->

            <div class="cleaner-h5"></div>



        </div>
    </div>
</div><!--end about-internal-->
