﻿
@model IslamicAcademy.Models.RegisterVM
@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
@Html.Raw(TempData["success"])

<style>

    .text-theme-colored {
        color: #CC942F;
        border-bottom: 1px solid #CC942F;
        padding: 6px;
    }

    .form-control {
        padding: 0px 12px;
        font-size: 16px;
    }
</style>
<div class="row">
    <div class="overlay-big"></div>
    <div class="col-md-6 col-xs-12">
        <h2>نبذة عن متون </h2>
        <div class="line-orang"></div>
    </div><!--end col-6-->
    <div class="col-md-6 hidden-xs">
        <div class="left-col">
            <p><a href="#"> الرئيسية </a>
            <p>> تسجيل الفرع الاول </p>
        </div><!---->
    </div><!--end col-6-->

</div>
<br />
<br />
<div class="about-internal">


    <div class="container">
        <div class="row">
            <div class="cleaner-h5"></div>
            <div class="col-md-3 wow fadeInRight">
                @Html.Action("FirstBranchSideMenu")
            </div><!--end col-3-->
            <div class="col-md-9 wow fadeInLeft">
                <div class="border-1px p-25">
                    <h4 class="text-theme-colored text-uppercase m-0">تسجيل الطلاب فى الفرع الاول</h4>
                    <div class="line-bottom mb-30"></div>
                    <p></p>
                    @*@using (Html.BeginForm("Register", "Home", new { area = "" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()*@
                    <input type="text" hidden id="BranchId" name="BranchId" value="@ViewBag.BranchId" />
                    <div id="appointment_form" name="appointment_form" class="mt-30" method="post" action="includes/appointment.php">
                        <div class="row">
                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.NameStudent   </label>
                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" required id="Name" name="Name" value="@Model.Name"  />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Nationality   </label>
                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.NationalityId, (List<SelectListItem>)ViewBag.NationalityList, new
                                    {
                                        @class = "form-control select2",
                                        @required = "required"

                                    })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>نوع الوثيقه</label>
                                <div class="form-group mb-10">
                                    <select class="form-control" id="JoinedUniversity" onchange="StudentCase()" name="JoinedUniversity">
                                        <option value="0">----اختر----</option>
                                        <option value="1">رقم الطالب</option>
                                        <option value="2">رقم الهويه</option>
                                        <option value="3">رقم الجواز</option>
                                        <option value="4">اخرى </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                               
                                    <label id="Text1">  رقم  الوثيقه      </label>
                                    <div class="form-group mb-10">
                                        <input type="text" class="form-control" id="Code" name="Code" value="@Model.Code" />
                                    </div>
                                

                                @*<div class=" col-md-6"  id="StudentNumberaaaa" >
                                   
                                </div>*@
                            </div>
                            <div class="col-md-6">
                                <label>    رقم الجوال   </label>
                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="Phonenumber"  name="Phonenumber" value="966 @Model.Phonenumber" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.WhatsNumber   </label>
                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="WhatsNumber" name="WhatsNumber" value="@Model.WhatsNumber" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.TelgramNumber   </label>
                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="TelgramNumber" name="TelgramNumber"  value="@Model.TelgramNumber" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Email   </label>
                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" />
                                </div>
                            </div>
                            @*<div class="col-sm-12">
                                            <label>    @IslamicAcademy.Localiztion.IslamicAcademy.EducationBody   </label>

                                            <div class="form-group mb-10">
                                                @Html.DropDownListFor(x => Model.EducationBodyId, (List<SelectListItem>)ViewBag.EducationBodyList, new
                        {
                            @class = "form-control select2",
                            @required = "required"

                        })
                                            </div>
                                        </div>*@
                            <div class="col-md-6">
                                <label>    المرحلة   </label>
                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.StageId, (List<SelectListItem>)ViewBag.StageList, new
                                    {
                                        @class = "form-control select2",
                                        @required = "required"

                                    })
                                </div>
                            </div>

                       
                            @*<div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Case   </label>
                                <div class="form-group mb-10">
                                    <select class="form-control" id="Case" name="Case">
                                        <option value="مستمر">مستمر</option>
                                        <option value="جديد">جديد</option>
                                    </select>
                                </div>
                            </div>*@

                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Colleges   </label>
                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.ColleageId, (List<SelectListItem>)ViewBag.ColleageList, new
                               {
                                   @class = "form-control select2",
                                   @onchange = "CollageChange(this.value)",
                                   @required = "required"

                               })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Level   </label>
                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.LevelId, (List<SelectListItem>)ViewBag.LevelList, new
                                    {
                                        @class = "form-control select2",
                                        @onchange = "GetTrackList(this.value)",
                                        @required = "required"

                                    })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>    المسار   </label>
                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.TrackId, (List<SelectListItem>)ViewBag.TrackList, new
                                    {
                                        @class = "form-control select2",
                                        @onchange = "GetCoursiersList(this.value)",
                                        @required = "required"

                                    })
                                </div>
                            </div>
                            <div class="col-md-12">
                                @*<div class="form-group mb-10" id="CoursesList">

                                </div>*@
                            </div>


                           
                        </div>
                        <div class="form-group mb-0 mt-20">
                            <button type="submit" id="btsave" class="btn btn-gemy-form btn-padd" onclick="RegisterFirstBranch()" data-loading-text="Please wait...">  استمر</button>
                            <img src="~/giphy.gif" id="loading" style="display:none;width:60px; height:60px; background-color:transparent" />
                        </div>
                    </div>
                    <!-- Appointment Form Validation-->
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    function StudentCase() {
        var value = $("#JoinedUniversity").val();

        if (value != "لا") {
            {
                document.getElementById('StudentNumberaaaa').hidden = "";


                $.ajax({
                    url: '/Home/StudentCase/',

                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (data) {
                        $("#StudentNumberaaaa").html(data);
                        //renderFees(data);
                    }
                });

            };
        }
        else
        {
            document.getElementById('StudentNumberaaaa').hidden = "hidden";
        }

    }
function CheckCase() {
                var Id = $("#Check").val();
                if (Id == 1) {
                    var x = document.getElementById("Case1");
                    var xx = document.getElementById("Case2");
                    x.style.display = 'block';
                    //xx.style.display = "block";
                    xx.style.display = 'none';           // Hide


                }
                if (Id == 2) {
                    var x = document.getElementById("Case1");
                    var xx = document.getElementById("Case2");
                    xx.style.display = 'block';           // Hide
                    x.style.display = 'none';
                }
            }
    function RegisterFirstBranch() {

        var CoursesList = [];
        $.each($("input[name='Case']:checked"), function () {
            CoursesList.push($(this).val());
        });

        var Name = $("#Name").val();
        var NationalityId = $("#NationalityId").val();
        var JoinedUniversity = $("#JoinedUniversity").val();
        var Code = $("#Code").val();
        var Phonenumber = $("#Phonenumber").val();
        var WhatsNumber = $("#WhatsNumber").val();
        var TelgramNumber = $("#TelgramNumber").val();
        var Email = $("#Email").val();
        var EducationBodyId = $("#EducationBodyId").val();
        var StageId = $("#StageId").val();
        var Level = $("#LevelId").val();
        var Case = $("#Case").val();
        var ColleageId = $("#ColleageId").val();
        var TrackId = $("#TrackId").val();
        var EvaulationDayes = $("#EvaulationDayes").val();
        if (Name == "") {
            alert(" من فضلك ادخل اسم الطاب")
        }
        else if (Code == "")
        {
            alert(" من فضلك ادخل كود الطاب")
        }
        
        else if (ColleageId == 0) {
            alert(" من فضلك ادخل الكلية  الخاص الطاب")
        }
        else if (TrackId == 0) {
            alert(" من فضلك ادخل المسار  الخاص الطاب")
        }

        else
          

                $.ajax
                    ({
                        url: '/Home/FirstBranchRegister',

                        data: {
                            CoursesList: CoursesList,
                            Name: Name,
                            NationalityId: NationalityId,
                            JoinedUniversity: JoinedUniversity,
                            Code: Code,
                            Phonenumber: Phonenumber,
                            WhatsNumber: WhatsNumber,
                            TelgramNumber: TelgramNumber,
                            Email: Email,
                            EducationBodyId: EducationBodyId,
                            StageId: StageId,
                            Level: Level,
                            Case: Case,
                            ColleageId: ColleageId,
                            TrackId: TrackId,
                            EvaulationDayes: EvaulationDayes

                        },
                        type: 'POST',


                        success: function (data) {


                            if (data.ColleageId == 4 )
                            {
                                //alert("تم الحفظ بنجاح");

                                window.location.href = "/Home/StudentMaton?StudentId=" + data.StudentId + "&TrackId=" + data.TrackId;

                            }
                            if (data.ColleageId == 5)
                            {
                                //alert("تم الحفظ بنجاح");

                                window.location.href = "/Home/StudentMaton?StudentId=" + data.StudentId + "&TrackId=" + data.TrackId;

                            }
                            if (data.ColleageId == 2)
                            {
                                if (data.TrackId != 37)
                                {
                                    //alert("تم الحفظ بنجاح");
                                    window.location.href = "/Home/StudentMaton?StudentId=" + data.StudentId + "&TrackId=" + data.TrackId;

                                //window.location.href = "/Home/StudentMaton?StudentId=" + data.StudentId + "&TrackId=" + data.TrackId;
                                }
                                else
                                {
                                    //alert("تم الحفظ بنجاح");

                                    window.location.href = "/Home/StudentMatonCollage2?StudentId=" + data.StudentId + "&TrackId=" + data.TrackId;


                                }
                            }
                            if (data.ColleageId == 3)
                            {
                                if (data.TrackId == 50) {
                                    //alert("تم الحفظ بنجاح");
                                    window.location.href = "/Home/StudentMatonCollage3?StudentId=" + data.StudentId + "&TrackId=" + data.TrackId;


                                }
                                else if (data.TrackId == 51 || data.TrackId == 53 || data.TrackId == 55 || data.TrackId == 57 || data.TrackId == 59)
                                {
                                    //alert("تم الحفظ بنجاح");
                                    window.location.href = "/Home/StudentMatonCollage51?StudentId=" + data.StudentId + "&TrackId=" + data.TrackId;

                                }
                                
                               
                                else
                                {
                                    //alert("تم الحفظ بنجاح");
                                    window.location.href = "/Home/StudentMaton?StudentId=" + data.StudentId + "&TrackId=" + data.TrackId;

                                }
                            }
                            if (data.ColleageId == 1) {
                                if (data.TrackId == 1)
                                {
                                    //alert("تم الحفظ بنجاح");
                                    window.location.href = "/Home/StudentMatonCollage4?StudentId=" + data.StudentId + "&TrackId=" + data.TrackId;

                                }
                                else if (data.TrackId == 3) {
                                    //alert("تم الحفظ بنجاح");
                                    window.location.href = "/Home/StudentMatonCollage5?StudentId=" + data.StudentId + "&TrackId=" + data.TrackId;


                                }
                                else   if (data.TrackId == 12)
                                {
                                    window.location.href = "/Home/StudentMaton?StudentId=" + data.StudentId + "&TrackId=" + data.TrackId;

                                    //window.location.href = "/Home/AddPassword?UserName=" + data.UserName + '&Name=' + data.Name + '&Email=' + data.Email + '&UserId=' + data.UserId;


                                }
                                else if (data.TrackId == 16)
                                {
                                    window.location.href = "/Home/StudentMaton?StudentId=" + data.StudentId + "&TrackId=" + data.TrackId;

                                    //window.location.href = "/Home/AddPassword?UserName=" + data.UserName + '&Name=' + data.Name + '&Email=' + data.Email + '&UserId=' + data.UserId;


                                }
                                else if (data.TrackId == 20) {
                                    window.location.href = "/Home/StudentMaton?StudentId=" + data.StudentId + "&TrackId=" + data.TrackId;

                                    //window.location.href = "/Home/AddPassword?UserName=" + data.UserName + '&Name=' + data.Name + '&Email=' + data.Email + '&UserId=' + data.UserId;

                                }
                                else if (data.TrackId == 24) {
                                    window.location.href = "/Home/StudentMaton?StudentId=" + data.StudentId + "&TrackId=" + data.TrackId;

                                    //window.location.href = "/Home/AddPassword?UserName=" + data.UserName + '&Name=' + data.Name + '&Email=' + data.Email + '&UserId=' + data.UserId;

                                }
                                else if (data.TrackId == 28) {
                                    window.location.href = "/Home/StudentMaton?StudentId=" + data.StudentId + "&TrackId=" + data.TrackId;

                                    //window.location.href = "/Home/AddPassword?UserName=" + data.UserName + '&Name=' + data.Name + '&Email=' + data.Email + '&UserId=' + data.UserId;

                                }
                                else if (data.TrackId == 32)
                                {
                                    window.location.href = "/Home/StudentMaton?StudentId=" + data.StudentId + "&TrackId=" + data.TrackId;

                                    //window.location.href = "/Home/AddPassword?UserName=" + data.UserName + '&Name=' + data.Name + '&Email=' + data.Email + '&UserId=' + data.UserId;

                                }
                                else
                                {
                                    alert("تم الحفظ بنجاح");
                                    window.location.href = "/Home/StudentMaton?StudentId=" + data.StudentId + "&TrackId=" + data.TrackId;

                                }
                            }

                        },
                        error: function () {
                            toastr.error("Whooaaa! Something went wrong..")
                        },
                        beforeSend: function () {
                            $("#loading").show();
                            $("#btsave").hide();

                        },
                        complete: function () {
                            //$("#loading").hide();
                            //$("#btsave").show();
                        }
                    });

            }
            function GetCoursiersList() {

                var TrackId = $('#TrackId').val();

                $.ajax({
                    url: '/Home/CoursiesByTrack/',
                    data: { TrackId: TrackId },
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (data) {
                        $("#CoursesList").html(data);
                        //renderFees(data);
                    }
                });

            };

            function GetTrackList(LevelId) {
                LevelId = LevelId ? LevelId : 0;
                var CollageId = $("#ColleageId").val();

                $.ajax
                    ({
                        url: '/Home/GetTrackList',
                        type: 'Get',
                        data: { id: LevelId, CollageId: CollageId },
                        datatype: 'application/json',
                        contentType: 'application/json',

                        success: function (result) {
                            $("#TrackId").html("");


                            $.each((result), function (i, edu) {

                                $("#TrackId").append
                                    ($('<option></option>').val(edu.Value).html(edu.Text))
                            })
                        },
                        error: function () {
                            alert("Whooaaa! Something went wrong..")
                        },
                    });
            }
              
</script>

<script>
                function CollageChange(LevelId) {
                    document.getElementById("LevelId").selectedIndex = "0";
                    document.getElementById("TrackId").selectedIndex = "0";


                };
</script>