﻿
@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";

}
<section class="main-slider hidden-xs">

    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="assetsweb/images/main-slider/image-1.jpg" data-saveperformance="off" data-title="Awsome Service">
                    <img src="~/assetsweb/images/main-slider/image-1.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption lfl tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-50"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div><h2 style="margin-top:-120px;"><strong>مرحبا بك</strong> </h2></div></div>


                    <div class="tp-caption lfr tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="50"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class=""><h2 style="margin-top:-170px;font-size:95px; color:#cc942f;">متون</h2></div></div>



                    <div class="tp-caption lfl tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="200"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class=""><h2 style="margin-top:-180px; font-size:16px;">الريادة فى تعليم العلوم الشرعية واصولها </h2></div></div>


                    <div class="tp-caption lfl tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="200"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class=""><a href="#" style="margin-top:-180px;" class="btn btn-slider-1">انشاء حساب </a></div></div>

                    <div class="tp-caption lfl tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="200"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class=""><a href="#" style="margin-top:-180px;" class="btn btn-slider-2">اتصل بنا </a></div></div>

                </li>

                <li data-transition="slidedown" data-slotamount="1" data-masterspeed="1000" data-thumb="assetsweb/images/main-slider/image-1.jpg" data-saveperformance="off" data-title="Awsome Service">
                    <img src="~/assetsweb/images/main-slider/image-1.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption lfl tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-50"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div><h2 style="margin-top:-120px;"><strong>مرحبا بك</strong> </h2></div></div>


                    <div class="tp-caption lfr tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="50"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class=""><h2 style="margin-top:-170px;font-size:95px; color:#cc942f;">متون</h2></div></div>



                    <div class="tp-caption lfl tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="200"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class=""><h2 style="margin-top:-180px; font-size:16px;">الريادة فى تعليم العلوم الشرعية واصولها </h2></div></div>


                    <div class="tp-caption lfl tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="200"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class=""><a href="#" style="margin-top:-180px;" class="btn btn-slider-1">انشاء حساب </a></div></div>

                    <div class="tp-caption lfl tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="200"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class=""><a href="#" style="margin-top:-180px;" class="btn btn-slider-2">اتصل بنا </a></div></div>

                </li>


                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="assetsweb/images/main-slider/image-1.jpg" data-saveperformance="off" data-title="Awsome Service">
                    <img src="~/assetsweb/images/main-slider/image-1.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption lfl tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-50"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div><h2 style="margin-top:-120px;"><strong>مرحبا بك</strong> </h2></div></div>


                    <div class="tp-caption lfr tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="50"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class=""><h2 style="margin-top:-170px;font-size:95px; color:#cc942f;">متون</h2></div></div>



                    <div class="tp-caption lfl tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="200"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class=""><h2 style="margin-top:-180px; font-size:16px;">الريادة فى تعليم العلوم الشرعية واصولها </h2></div></div>


                    <div class="tp-caption lfl tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="200"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class=""><a href="#" style="margin-top:-180px;" class="btn btn-slider-1">انشاء حساب </a></div></div>

                    <div class="tp-caption lfl tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="200"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class=""><a href="#" style="margin-top:-180px;" class="btn btn-slider-2">اتصل بنا </a></div></div>

                </li>


            </ul>

            <!--<div class="tp-bannertimer"></div>-->

        </div>
    </div>
</section>






@*---------------------------------------------------------------------------------------------------*@

<div class="container">

    <div class="row">
        <div class="content-slider hidden-xs">

            <div class="col-md-3 border-leftt">
                <img src="~/assetsweb/images/icon/1.png" class="img-responsive" />
                <h3>تخريج الطلاب </h3>
                <p>تخريج طلاب علم متميزين ومتاصلين علميا</p>

            </div>


            <div class="col-md-3 border-leftt">
                <img src="~/assetsweb/images/icon/2.png" class="img-responsive" />
                <h3>التسجيل فى الفروع </h3>
                <p>تخريج طلاب علم متميزين ومتاصلين علميا</p>

            </div>


            <div class="col-md-3 border-leftt">
                <img src="~/assetsweb/images/icon/3.png" class="img-responsive" />
                <h3>المكتبة الاسلامية </h3>
                <p>تخريج طلاب علم متميزين ومتاصلين علميا</p>

            </div>

            <div class="col-md-3 border-leftt">
                <img src="~/assetsweb/images/icon/4.png" class="img-responsive" />
                <h3>قاعات تدريبة </h3>
                <p>تخريج طلاب علم متميزين ومتاصلين علميا</p>
            </div>

            <div class="cleaner"></div>
        </div><!--end content-s;ider-->
    </div><!--end row-->
</div><!--end container-->
@*----------------------------------------------------------------------*@




@Html.Action("AboutUs")

<div class="numbers">
    <div class="container">
        <div class="row">

            <div class="cleaner-h5"></div>


            <div class="col-md-3 col-xs-6 text-center wow fadeInRight">
                <img src="~/assetsweb/images/icon/number-1.png" class="img-responsive" />
                <span class="fh5co-counter js-counter" data-from="0" data-to="750" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">طالب</span>

            </div>

            <div class="col-md-3 col-xs-6 text-center wow fadeInRight">
                <img src="~/assetsweb/images/icon/number-2.png" class="img-responsive" />
                <span class="fh5co-counter js-counter" data-from="0" data-to="750" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">المقررات الدراسية</span>

            </div>

            <div class="col-md-3 col-xs-6 text-center wow fadeInLeft">
                <img src="~/assetsweb/images/icon/number-3.png" class="img-responsive" />
                <span class="fh5co-counter js-counter" data-from="0" data-to="750" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">مدرس</span>

            </div>

            <div class="col-md-3 col-xs-6 text-center wow fadeInLeft">
                <img src="~/assetsweb/images/icon/number-4.png" class="img-responsive" />
                <span class="fh5co-counter js-counter" data-from="0" data-to="750" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">شهادة تخرج</span>

            </div>
            <div class="cleaner-h2"></div>

        </div><!--end row-->
    </div><!--end continer-->
</div><!--end numbers-->



@Html.Action("Courses")

<!--end study-->


@Html.Action("Visualiztions")
<!--end video-->

@Html.Action("News")
<!--end news-->


<div class="newsletter">
    <div class="container">
        <div class="row">

            <div class="col-md-7 wow fadeInRight">
                <p class="i"><i class="fa fa-envelope"></i></p>
                <p>
                    الان يمكنك متابعة اخر اخبارنا عن طريق
                    <span>
                        البريد الالكترونى
                    </span>
                </p>

            </div><!--end col-md-6-->

            <div class="col-md-5 wow fadeInLeft">
                <form class="newsleter">
                    <input type="text" placeholder="البريد الالكترونى" />
                    <button class="btn btn-gemy-form">اشترك الان</button>
                </form>
            </div>


        </div><!--end row-->
    </div><!--end container-->
</div><!--end newsletter-->
