﻿@model IslamicAcademy.Core.VM.NewsVM

@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}


<div class="img-internal">
    <div class="container">
        <div class="row">
            <div class="overlay-big"></div>

            <div class="col-md-6 col-xs-12">
                <h2>معرض الصور </h2>
                <div class="line-orang"></div>
            </div><!--end col-6-->

            <div class="col-md-6 hidden-xs">
                <div class="left-col">
                    <p><a href="#"> الرئيسية </a>
                    <p>> الاخبار </p>
                </div><!---->
            </div><!--end col-6-->


        </div>
    </div><!--end container-->
</div><!--img-internal-->





<div class="about-us margin news-page">
    <div class="container">
        <div class="row">

            <div class="cleaner-h5"></div>


            <div class="col-md-12 wow fadeInRight">


                <div class="line-small"></div>
                <h2 class="title title-new">@Model.Tittel  </h2>
            </div><!--end col-6-->




            <div class="col-md-9">
                <div class="gray-back">

                    <img src="~/@Model.ImagePathe" class="img-responsive img-new" />
                    <h4>@Model.Tittel</h4>
                    <h5><i class="fa fa-calendar"></i> @Model.Datetime </h5>

                    <p>
                       @Html.Raw(Model.Details)

                    </p>

                    <div class="share">
                        <h4>انشر الخبر على مواقع التواصل الاجتماعى</h4>

                        <div class="social-linkss">
                            <a href="#" class="fa fa-facebook-f"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-google"></a>
                            <a href="#" class="fa fa-pinterest-p"></a>
                        </div>
                    </div><!--end share-facebook-->



                </div><!--end gray-background-->

                <div class="cleaner-h2"></div>

                <div class="related news">
                    <div class="line-small"></div>
                    <h2 class="title titles">اخبار متعلقة  </h2>
                </div><!--end -->

                <div class="row">

                    @Html.Action("News2")
                </div><!--end row-->

            </div><!--end col-9-->




            <div class="col-md-3 wow fadeInLeft">

                <div class="login-side hidden-xs">
                    <h4><i class="fa fa-lock"></i> تسجيل الدخول </h4>
                    <div class="line-horz"></div>

                    <form>
                        <label>الاسم </label>
                        <input type="text" placeholder="الاسم" />

                        <label>كلمة المرور </label>
                        <input type="text" placeholder="كلمة المرور" />

                        <button class="btn btn-gemy-form btn-form-side">تسجيل الدخول </button>

                        <a href="#" class="text-centter">نسيت كلمة المرور </a>
                        <p> مستخدم جديد <a href="#"> احصل على عضويتك الان </a></p>

                    </form>

                </div><!--end login-side-->

                <div class="adv">
                    <div class="cleaner-h2"></div>
                    <a href="#"><img src="~/assetsweb/images/join-us-adv.jpg" class="img-responsive width" /></a>
                    <div class="cleaner-h2"></div>
                </div><!--end adv-->

                @*<div class="latest-news login-side hidden-xs">
                    <h4><i class="fa fa-chain"></i> اخر الاخبار </h4>
                    <div class="line-horz"></div>
                    @Html.Action("News2")
                  
                </div>*@

                <div class="adv">
                    <div class="cleaner-h2"></div>
                    <a href="#"><img src="~/assetsweb/images/donate.jpg" class="img-responsive width" /></a>
                    <div class="cleaner-h2"></div>
                </div><!--end adv-->


            </div><!--end col-3-->


            <div class="cleaner-h5"></div>

        </div><!--end row-->
    </div><!--end container-->
</div><!--end about-us-->
