﻿
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="img-internal">
    <div class="container">
        <div class="row">
            <div class="overlay-big"></div>

            <div class="col-md-6 col-xs-12">
                <h2>معرض الصور </h2>
                <div class="line-orang"></div>
            </div><!--end col-6-->

            <div class="col-md-6 hidden-xs">
                <div class="left-col">
                    <p><a href="#"> الرئيسية </a>
                    <p>> الاخبار </p>
                </div><!---->
            </div><!--end col-6-->


        </div>
    </div><!--end container-->
</div><!--img-internal-->



<div class="cleaner-h5"></div>

<div class="container">
    <div class="row">

        <div class="wrapper" id="contentWrapper">
            <div class="boundingBox" id="content">
                <ul id="portfolio-filter">
                    <li><a href="#all" title="">كل الصور</a></li>
                    <li><a href="#design" title="" rel="design">الجوائز</a></li>
                    <li><a href="#partner" title="" rel="partner">الاطفال</a></li>
                    <li><a href="#political" title="" rel="political">الاوائل</a></li>
                </ul>
                <ul id="portfolio-list">


                    <div class="col-md-2 col-xs-6 business partner cms programming jquery video">
                        <li style="display: block;" class="">
                            <a href="images/1.png" class="fancybox" rel="groub" title=""><img src="~/assetsweb/portfolio_files/NEWSTORY.gif" class="img-responsive" alt=""></a>
                            <p> Story House Productions </p>
                        </li>
                    </div>

                    <div class="col-md-2 col-xs-6 business partner cms search">
                        <li style="display: block;" class="">
                            <a href="images/2.png" class="fancybox" rel="groub"><img src="~/assetsweb/portfolio_files/ConectivThumb.gif" alt=""></a>
                            <p> Conectiv Energy </p>
                        </li>
                    </div>

                    <div class="col-md-2 col-xs-6 political design programming jquery">
                        <li class="">
                            <a href="images/3.png" class="fancybox" rel="groub" title=""><img src="~/assetsweb/portfolio_files/VoteThumb.gif" alt=""></a>
                            <p> Vote the Site </p>
                        </li>
                    </div>





                    <div class="col-md-2 col-xs-6 political design cms">
                        <li class="">
                            <a href="images/1-1.png" class="fancybox" rel="groub" title=""><img src="~/assetsweb/portfolio_files/NEWFRIENDS.gif" alt=""></a>
                            <p> Friends of Wake County </p>
                        </li>
                    </div>


                    <div class="col-md-2 col-xs-6 nonprofit partner cms search">
                        <li style="display: block;" class="">
                            <a href="images/2.png" class="fancybox" rel="groub" title=""><img src="~/assetsweb/portfolio_files/UFCW-Small.jpg" alt=""></a>
                            <p> UFCW Local 1500 </p>
                        </li>
                    </div>


                    <div class="col-md-2 col-xs-6 business partner cms search">
                        <li style="display: block;" class="">
                            <a href="http://www.newmediacampaigns.com/page/pr-2020" title=""><img src="~/assetsweb/portfolio_files/PR20Thumb.gif" alt=""></a>
                            <p> PR 20/20 </p>
                        </li>
                    </div>

                    <div class="col-md-2 col-xs-6 political design cms">
                        <li class="">
                            <a href="http://www.newmediacampaigns.com/page/joe-simitian" title=""><img src="~/assetsweb/portfolio_files/SimitianThumb.gif" alt=""></a>
                            <p> Joe Simitian </p>
                        </li>
                    </div>

                    <div class="col-md-2 col-xs-6 political design cms video search">
                        <li class="">
                            <a href="http://www.newmediacampaigns.com/page/foster-friess" title=""><img src="~/assetsweb/portfolio_files/NewFriessThumb.gif" alt=""></a>
                            <p> Foster Friess </p>
                        </li>
                    </div>

                    <div class="col-md-2 col-xs-6 political design cms">
                        <li class="">
                            <a href="http://www.newmediacampaigns.com/page/polk-citizens-for-good-government" title=""><img src="~/assetsweb/portfolio_files/PolkThumb.gif" alt=""></a>
                            <p> Polk Citizens for Good Government </p>
                        </li>
                    </div>

                    <div class="col-md-2 col-xs-6 political design programming password video search">
                        <li class="">
                            <a href="http://www.newmediacampaigns.com/page/kansas-house-democrats" title=""><img src="~/assetsweb/portfolio_files/KansasThumb.gif" alt=""></a>
                            <p> Kansas House Democrats </p>
                        </li>
                    </div>

                    <div class="col-md-2 col-xs-6 nonprofit design branding cms password">
                        <li class="">
                            <a href="http://www.newmediacampaigns.com/page/north-carolina-association-of-volunteer-administration" title=""><img src="~/assetsweb/portfolio_files/NCAVAThumb.gif" alt=""></a>
                            <p> North Carolina Association of Volunteer Administration </p>
                        </li>
                    </div>


                    <div class="col-md-2 col-xs-6 political partner cms">
                        <li style="display: block;" class="">
                            <a href="http://www.newmediacampaigns.com/page/stephanie-miner-for-mayor" title=""><img src="~/assetsweb/portfolio_files/MinerThumb.gif" alt=""></a>
                            <p> Stephanie Miner for Mayor </p>
                        </li>
                    </div>

                    <div class="col-md-2 col-xs-6 business design cms">
                        <li class="">
                            <a href="http://www.newmediacampaigns.com/page/insider-sports-marketing1" title=""><img src="~/assetsweb/portfolio_files/Insider-Sports-Marketing-Small.jpg" alt=""></a>
                            <p> Insider Sports Marketing </p>
                        </li>
                    </div>

                    <div class="col-md-2 col-xs-6 business partner cms search">
                        <li style="display: block;" class="">
                            <a href="http://www.newmediacampaigns.com/page/whites-lumber" title=""><img src="~/assetsweb/portfolio_files/Whites-Lumber-Small.jpg" alt=""></a>
                            <p> White's Lumber </p>
                        </li>
                    </div>

                    <div class="col-md-2 col-xs-6 ecommerce partner cms">
                        <li style="display: block;" class="">
                            <a href="http://www.newmediacampaigns.com/page/happikins" title=""><img src="~/assetsweb/portfolio_files/HappiThumb.gif" alt=""></a>
                            <p> Happikins </p>
                        </li>
                    </div>


                    <div class="col-md-2 col-xs-6 university design">
                        <li class="">
                            <a href="http://www.newmediacampaigns.com/page/unc-admitted" title=""><img src="~/assetsweb/portfolio_files/UNC-Admitted-Small.jpg" alt=""></a>
                            <p> UNC Admitted </p>
                        </li>
                    </div>

                    <div class="col-md-2 col-xs-6 nonprofit design cms email search">
                        <li class="">
                            <a href="http://www.newmediacampaigns.com/page/united-way-of-pitt-county" title=""><img src="~/assetsweb/portfolio_files/United-Way-Small.jpg" alt=""></a>
                            <p> United Way of Pitt County </p>
                        </li>
                    </div>


                    <div class="col-md-2 col-xs-6 political design cms landing email video search">
                        <li class="">
                            <a href="http://www.newmediacampaigns.com/page/josh-mandel" title=""><img src="~/assetsweb/portfolio_files/JoshThumb.gif" alt=""></a>
                            <p> Josh Mandel </p>
                        </li>
                    </div>


                    <div class="col-md-2 col-xs-6 business design branding cms programming">
                        <li class="">
                            <a href="http://www.newmediacampaigns.com/page/white-knight-drivers1" title=""><img src="~/assetsweb/portfolio_files/WhiteThumb.gif" alt=""></a>
                            <p> White Knight Drivers </p>
                        </li>
                    </div>


                    <div class="col-md-2 col-xs-6 university design cms email search">
                        <li style="display: block;" class="">
                            <a href="http://www.newmediacampaigns.com/page/rejuvenate-medspa" title=""><img src="~/assetsweb/portfolio_files/rejuvTHUMB.gif" alt=""></a>
                            <p> Rejuvenate Medspa </p>
                        </li>
                    </div>


                    <div class="col-md-2 col-xs-6 university design cms email search">
                        <li class="">
                            <a href="http://www.newmediacampaigns.com/page/unc-entrepreneurship-minor" title=""><img src="~/assetsweb/portfolio_files/EminorThumb-1.gif" alt=""></a>
                            <p> UNC Entrepreneurship Minor </p>
                        </li>
                    </div>

                    <div class="col-md-2 col-xs-6 business design cms email landing">
                        <li>
                            <a href="http://www.newmediacampaigns.com/page/xbs-global" title=""><img src="~/assetsweb/portfolio_files/XBSThumb.gif" alt=""></a>
                            <p> XBS Global </p>
                        </li>
                    </div>

                    <div class="col-md-2 col-xs-6 university partner cms jquery search">
                        <li style="display: block;" class="">
                            <a href="http://www.newmediacampaigns.com/page/advanced-medical-technologies-at-nc-state" title=""><img src="~/assetsweb/portfolio_files/StateThumb.gif" alt=""></a>
                            <p> Advanced Medical Technologies at N.C. State </p>
                        </li>
                    </div>

                    <div class="col-md-2 col-xs-6 political design cms email">
                        <li>
                            <a href="http://www.newmediacampaigns.com/page/ben-r-lujn" title=""><img src="~/assetsweb/portfolio_files/LujanThumb.gif" alt=""></a>
                            <p> Ben R. Luján </p>
                        </li>
                    </div>

                    <div class="col-md-2 col-xs-6 nonprofit university design cms programming password email video">
                        <li>
                            <a href="http://www.newmediacampaigns.com/page/advising-corps" title=""><img src="~/assetsweb/portfolio_files/NCACthumbnew.gif" alt=""></a>
                            <p> National College Advising Corps </p>
                        </li>
                    </div>


                    <div class="col-md-2 col-xs-6 business design cms">
                        <li>
                            <a href="http://www.newmediacampaigns.com/page/dpr-landscape-architecture" title=""><img src="~/assetsweb/portfolio_files/DPRThumb.gif" alt=""></a>
                            <p> DPR Landscape Architecture </p>
                        </li>
                    </div>

                    <div class="col-md-2 col-xs-6 political partner cms jquery">
                        <li style="display: block;">
                            <a href="http://www.newmediacampaigns.com/page/mack-crounse" title=""><img src="~/assetsweb/portfolio_files/MackCrounseThumb.gif" alt=""></a>
                            <p> Mack Crounse </p>
                        </li>
                    </div>

                    <div class="col-md-2 col-xs-6 business partner cms jquery video">
                        <li style="display: block;">
                            <a href="http://www.newmediacampaigns.com/page/third-floor-productions" title=""><img src="~/assetsweb/portfolio_files/ThirdThumb.gif" alt=""></a>
                            <p> Third Floor Productions </p>
                        </li>
                    </div>


                    <div class="col-md-2 col-xs-6 political econdev design cms video">
                        <li>
                            <a href="http://www.newmediacampaigns.com/page/save-our-little-village" title=""><img src="~/assetsweb/portfolio_files/SOLVThumb.gif" alt=""></a>
                            <p> Save Our Little Village </p>
                        </li>
                    </div>


                    <li style="overflow: hidden; clear: both; height: 0px; position: relative; float: none; display: block;"></li>
                </ul>
            </div>
        </div>


    </div>
</div>

<div class="cleaner-h5"></div>
<div class="cleaner-h5"></div>



<div class="newsletter">
    <div class="container">
        <div class="row">

            <div class="col-md-7 wow fadeInRight">
                <p class="i"><i class="fa fa-envelope"></i></p>
                <p>
                    الان يمكنك متابعة اخر اخبارنا عن طريق
                    <span>
                        البريد الالكترونى
                    </span>
                </p>

            </div><!--end col-md-6-->

            <div class="col-md-5 wow fadeInLeft">
                <form class="newsleter">
                    <input type="text" placeholder="البريد الالكترونى" />
                    <button class="btn btn-gemy-form">اشترك الان</button>
                </form>
            </div>


        </div><!--end row-->
    </div><!--end container-->
</div><!--end newsletter-->
