﻿
@model IslamicAcademy.Models.RegisterVM
@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

@Html.Raw(TempData["success"])


<section class="position-inherit">
    <div class="container">
        <div class="row">
            <div class="col-md-3 scrolltofixed-container">
                <div class="list-group scrolltofixed">
                    <a href="@Url.Action("Register",new { BranchId=1})" class="list-group-item "> الفرع الاول </a>

                    <a href="@Url.Action("Register",new { BranchId=2})" class="list-group-item "> الفرع الثانى </a>

                    <a href="@Url.Action("Register",new { BranchId=3})" class="list-group-item "> الفرع الثالث  </a>
                </div>
            </div>
            @if (ViewBag.BranchId == 1)
    {

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-3">
                    <div class="border-1px p-25">
                        <h4 class="text-theme-colored text-uppercase m-0">تسجيل الطلاب فى الفرع الاول</h4>
                        <div class="line-bottom mb-30"></div>
                        <p></p>
                        @*@using (Html.BeginForm("Register", "Home", new { area = "" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()*@
                    <input type="text" hidden id="BranchId" name="BranchId" value="@ViewBag.BranchId" />
                    <div id="appointment_form" name="appointment_form" class="mt-30" method="post" action="includes/appointment.php">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.NameStudent   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" required id="Name" name="Name" value="@Model.Name" />
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Nationality   </label>

                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.NationalityId, (List<SelectListItem>)ViewBag.NationalityList, new
            {
                @class = "form-control select2",
                @required = "required"

            })
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label>هل انت من منسوبى الجامعه الاسلامية</label>

                                <div class="form-group mb-10">
                                    <select class="form-control" id="JoinedUniversity" name="JoinedUniversity">
                                        <option value="0">اختر الحالة</option>
                                        <option value="نعم">نعم</option>
                                        <option value="لا">لا</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12" >
                                <label id="Text1">  رقم الهوية/ رقم الطالب     </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="Code" name="Code" value="@Model.Code" />
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Phonenumber   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="Phonenumber" name="Phonenumber" value="@Model.Phonenumber" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.WhatsNumber   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="WhatsNumber" name="WhatsNumber" value="@Model.WhatsNumber" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.TelgramNumber   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="TelgramNumber" name="TelgramNumber" value="@Model.TelgramNumber" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Email   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" />
                                </div>
                            </div>
                            @*<div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.EducationBody   </label>

                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.EducationBodyId, (List<SelectListItem>)ViewBag.EducationBodyList, new
            {
                @class = "form-control select2",
                @required = "required"

            })
                                </div>
                            </div>*@

                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.stage   </label>

                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.StageId, (List<SelectListItem>)ViewBag.StageList, new
            {
                @class = "form-control select2",
                @required = "required"

            })
                                </div>
                            </div>
                           

                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Case   </label>

                                <div class="form-group mb-10">
                                    <select class="form-control" id="Case" name="Case">
                                        <option value="مستمر">مستمر</option>
                                        <option value="جديد">جديد</option>

                                    </select>
                                </div>
                            </div>



                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Colleges   </label>

                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.ColleageId, (List<SelectListItem>)ViewBag.ColleageList, new
                               {
                                   @class = "form-control select2",
                                   @required = "required"

                               })
                                </div>
                            </div>

                             <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Level   </label>

                                <div class="form-group mb-10">
                                     @Html.DropDownListFor(x => Model.LevelId, (List<SelectListItem>)ViewBag.LevelList, new
                              {
                                  @class = "form-control select2",
                                  @onchange = "GetTrackList(this.value)",
                @required = "required"

                              })
                                </div>
                            </div>



                            <div class="col-sm-12">
                                <label>    المسار   </label>

                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.TrackId, (List<SelectListItem>)ViewBag.TrackList, new
                               {
                                   @class = "form-control select2",
                                   @onchange ="GetCoursiersList(this.value)",
                                   @required = "required"

                               })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group mb-10" id="CoursesList">


                                    </div>
                                </div>




                            <div class="col-sm-12">
                                <label>    اختر اليوم المناسب لحضور التقيم  </label>

                                <div class="form-group mb-10">
                                    <select class="form-control" id="EvaulationDayes" name="EvaulationDayes">
                                        <option value="الاحد">الاحد</option>
                                        <option value="الاثنين">الاثنين</option>
                                        <option value="الثلاثاء">الثلاثاء</option>
                                        <option value="الاربعاء">الاربعاء</option>
                                        <option value="الخميس">الخميس</option>

                                    </select>
                                </div>
                            </div>

                            </div>

                        <div class="form-group mb-0 mt-20">
                            <button type="submit" class="btn btn-dark btn-theme-colored" onclick="RegisterFirstBranch()" data-loading-text="Please wait...">Submit</button>
                        </div>
                    </div>
        
                        <!-- Appointment Form Validation-->
                    </div>
                </div>
            </div>
        </div>

}

            @if (ViewBag.BranchId == 2)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-3">
                    <div class="border-1px p-25">
                        <h4 class="text-theme-colored text-uppercase m-0">تسجيل الطلاب فى الفرع الثانى</h4>
                        <div class="line-bottom mb-30"></div>
                        <p></p>
                        @using (Html.BeginForm("Register", "Home", new { area = "" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="text" hidden id="BranchId" name="BranchId" value="@ViewBag.BranchId" />
                    <div id="appointment_form" name="appointment_form" class="mt-30" method="post" action="includes/appointment.php">
                        <div class="row">



                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.NameStudent   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" required id="Name" name="Name" value="@Model.Name" />
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Nationality   </label>

                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.NationalityId, (List<SelectListItem>)ViewBag.NationalityList, new
            {
                @class = "form-control select2",
                @required = "required"

            })
                                </div>
                            </div>


                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Phonenumber   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="Phonenumber" name="Phonenumber" placeholder="966" value="@Model.Phonenumber" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.WhatsNumber   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="WhatsNumber" name="WhatsNumber" value="@Model.WhatsNumber" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.TelgramNumber   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="TelgramNumber" name="TelgramNumber" value="@Model.TelgramNumber" />
                                </div>
                            </div>



                            <div class="col-sm-12">
                                <label>  البيانات الاكادمية  </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="AcadmeyDetails" name="AcadmeyDetails" />
                                </div>
                            </div>





                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.EducationBody   </label>

                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.EducationBodyId, (List<SelectListItem>)ViewBag.EducationBodyList, new
            {
                @class = "form-control select2",
                @required = "required"

            })
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.stage   </label>

                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.StageId, (List<SelectListItem>)ViewBag.StageList, new
            {
                @class = "form-control select2",
                @required = "required"

            })
                                </div>
                            </div>


                            <div class="col-sm-12">
                                <label>    مرحلة الدراسات العليا   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="STageEducationhigher" name="STageEducationhigher" value="@Model.STageEducationhigher" />
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label>    السنة   </label>

                                <div class="form-group mb-10">
                                    <select class="form-control" id="Year" name="Year">
                                        <option value="الاول">الاول</option>
                                        <option value="الثانى">الثانى</option>
                                        <option value="الثالث">الثالث</option>
                                        <option value="الرابع">الرابع</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label>    مرحلة  البكالوريوس   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="Bachelorsdegree" name="Bachelorsdegree" value="@Model.Bachelorsdegree" />
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Level   </label>

                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.LevelId, (List<SelectListItem>)ViewBag.LevelList, new
            {
                @class = "form-control select2",
                @onchange = "GetTrackList(this.value)",
                @required = "required"

            })
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label>   المتن   </label>

                                <div class="form-group mb-10">
                                    <select class="form-control" id="Elmatone" name="Elmatone">
                                        <option value="المختار للتقوى">المختار للتقوى</option>
                                        <option value="اسهل المسالك">اسهل المسالك</option>
                                        <option value="الغاية والتتريب">الغاية والتتريب</option>
                                        <option value="اخصر المختصرات">اخصر المختصرات</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-0 mt-20">
                            <input name="form_botcheck" class="form-control" type="hidden" value="">
                            <button type="submit" class="btn btn-dark btn-theme-colored" data-loading-text="Please wait...">Submit</button>
                        </div>
                    </div>
        }
                        <!-- Appointment Form Validation-->
                    </div>
                </div>
            </div>
        </div>
}
            @if (ViewBag.BranchId == 3)
    {

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-3">
                    <div class="border-1px p-25">
                        <h4 class="text-theme-colored text-uppercase m-0">تسجيل الطلاب فى الفرع الثانى</h4>
                        <div class="line-bottom mb-30"></div>
                        <p></p>
                        @using (Html.BeginForm("Register", "Home", new { area = "" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="text" hidden id="BranchId" name="BranchId" value="@ViewBag.BranchId" />
                    <div id="appointment_form" name="appointment_form" class="mt-30" method="post" action="includes/appointment.php">
                        <div class="row">

                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.NameStudent   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" required id="Name" name="Name" value="@Model.Name" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Nationality   </label>

                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.NationalityId, (List<SelectListItem>)ViewBag.NationalityList, new
            {
                @class = "form-control select2",
                @required = "required"

            })
                                </div>
                            </div>



                            <div class="col-sm-12">
                                <label>هل انت من منسوبى الجامعه الاسلامية</label>

                                <div class="form-group mb-10">
                                    <select class="form-control" id="JoinedUniversity" name="JoinedUniversity">
                                        <option value="0">اختر الحالة</option>
                                        <option value="نعم">نعم</option>
                                        <option value="لا">لا</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label id="Text1">  رقم الهوية/ رقم الطالب     </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="Code" name="Code" value="@Model.Code" />
                                </div>
                            </div>








                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Phonenumber   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" placeholder="966" id="Phonenumber" name="Phonenumber" value="@Model.Phonenumber" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.WhatsNumber   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="WhatsNumber" name="WhatsNumber" value="@Model.WhatsNumber" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.TelgramNumber   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="TelgramNumber" name="TelgramNumber" value="@Model.TelgramNumber" />
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Email   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.EducationBody   </label>

                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.EducationBodyId, (List<SelectListItem>)ViewBag.EducationBodyList, new
            {
                @class = "form-control select2",
                @required = "required"

            })
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.stage   </label>

                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.StageId, (List<SelectListItem>)ViewBag.StageList, new
            {
                @class = "form-control select2",
                @required = "required"

            })
                                </div>
                            </div>


                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Level   </label>

                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.LevelId, (List<SelectListItem>)ViewBag.LevelList, new
            {
                @class = "form-control select2",
                @onchange = "GetTrackList(this.value)",
                @required = "required"

            })
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Case   </label>

                                <div class="form-group mb-10">
                                    <select class="form-control" id="Case" name="Case">
                                        <option value="مستمر">مستمر</option>
                                        <option value="جديد">جديد</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label>    ........   </label>

                                <div class="form-group mb-10">
                                    <select class="form-control" id="Check" name="Check" onchange="CheckCase()">
                                        <option value="0">اختر</option>

                                        <option value="1">التحقق</option>
                                        <option value="2">الابحاث الابداعية</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12" id="Case1">
                                <label>    ........   </label>

                                <div class="form-group mb-10">
                                    <select class="form-control" id="Tracks" name="Tracks">
                                        <option value="0">اختر</option>

                                        <option value="منهج الطلاب فى الفقة الشافعى">منهج الطلاب فى الفقة الشافعى</option>
                                        <option value="كافى المبتداء من الطلاب">كافى المبتداء من الطلاب </option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-12" id="Case2">
                                <label>    ........   </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="Tracks" name="Tracks" value="@Model.Tracks" />

                                </div>
                            </div>





                        </div>

                        <div class="form-group mb-0 mt-20">
                            <input name="form_botcheck" class="form-control" type="hidden" value="">
                            <button type="submit" class="btn btn-dark btn-theme-colored" data-loading-text="Please wait...">Submit</button>
                        </div>
                    </div>
        }
                        <!-- Appointment Form Validation-->
                    </div>
                </div>
            </div>
        </div>

}
        </div>


    </div>


</section>


<script>
   
    function CheckCase() {
        var Id = $("#Check").val();
        if (Id == 1) {
            var x = document.getElementById("Case1");
            var xx = document.getElementById("Case2");
            x.style.display = 'block';
            //xx.style.display = "block";
            xx.style.display = 'none';           // Hide
          

        }
        if(Id==2) {
            var x = document.getElementById("Case1");
            var xx = document.getElementById("Case2");
            xx.style.display = 'block';           // Hide
            x.style.display = 'none';
        }
    }
    function RegisterFirstBranch() {

        var CoursesList = [];
        $.each($("input[name='Case']:checked"), function () {
            CoursesList.push($(this).val());
        });

        var Name = $("#Name").val();
        var NationalityId = $("#NationalityId").val();
        var JoinedUniversity = $("#JoinedUniversity").val();
        var Code = $("#Code").val();
        var Phonenumber = $("#Phonenumber").val();
        var WhatsNumber = $("#WhatsNumber").val();
        var TelgramNumber = $("#TelgramNumber").val();
        var Email = $("#Email").val();
        var EducationBodyId = $("#EducationBodyId").val();
        var StageId = $("#StageId").val();
        var Level = $("#LevelId").val();
        var Case = $("#Case").val();
        var ColleageId = $("#ColleageId").val();
        var TrackId = $("#TrackId").val();
        var EvaulationDayes = $("#EvaulationDayes").val();

        $.ajax
            ({
                url: '/Home/FirstBranchRegister',

                data: {
                    CoursesList: CoursesList,
                    Name: Name,
                    NationalityId: NationalityId,
                    JoinedUniversity: JoinedUniversity,
                    Code: Code,
                    Phonenumber: Phonenumber,
                    WhatsNumber: WhatsNumber,
                    TelgramNumber: TelgramNumber,
                    Email: Email,
                    EducationBodyId: EducationBodyId,
                    StageId: StageId,
                    Level: Level,
                    Case: Case,
                    ColleageId: ColleageId,
                    TrackId: TrackId,
                    EvaulationDayes: EvaulationDayes
                    
                },
                type: 'POST',

                success: function (data) {
                    toastr.success("تم الحفظ بنجاح");
                    window.location.href = "/Home/AddPassword?UserName=" + data.UserName + '&Name=' + data.Name + '&Email=' + data.Email + '&UserId=' + data.UserId;
                    //location.reload();
                },
                error: function () {
                    toastr.error("Whooaaa! Something went wrong..")
                },
            });

    }
    function GetCoursiersList() {

        var TrackId = $('#TrackId').val();

        $.ajax({
            url: '/Home/CoursiesByTrack/',
            data: { TrackId: TrackId },
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $("#CoursesList").html(data);
                //renderFees(data);
            }
        });

    };

    function GetTrackList(LevelId) {
        alert("aaaa");
        LevelId = LevelId ? LevelId : 0;
        var CollageId = $("#ColleageId").val();

        $.ajax
            ({
                url: '/Home/GetTrackList',
                type: 'Get',
                data: { id: LevelId, CollageId: CollageId },
                datatype: 'application/json',
                contentType: 'application/json',

                success: function (result) {
                    $("#TrackId").html("");


                    $.each((result), function (i, edu) {

                        $("#TrackId").append
                            ($('<option></option>').val(edu.Value).html(edu.Text))
                    })
                },
                error: function () {
                    toastr.error("Whooaaa! Something went wrong..")
                },
            });
    };
</script>