﻿@using IslamicAcademy.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#login-tab" data-toggle="tab">تسجيل دخول</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active p-15" id="login-tab">
                        <h4 class="text-gray mt-0 pt-5"> تسجيل دخول</h4>
                        <hr>

                        @using (Html.BeginForm("ResetPasswordConfirmchange", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))

                        {
                    <div name="login-form" class="clearfix">
                        <input type="text" value="@ViewBag.UserId" id="UserId"  name="UserId" hidden />
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="form_password">كلمة المرور الجديدة</label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @required= "required" })
                            </div>
                        </div>

                        <div class="form-group pull-right mt-10">

                            <button type="submit" class="btn btn-dark btn-sm">استرجاع</button>

                        </div>

                    </div>

                        }


                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
