﻿@using IslamicAcademy.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

 @TempData["Error"];

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#login-tab" data-toggle="tab">استرجاع كلمه المرور </a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active p-15" id="login-tab">
                        <h4 class="text-gray mt-0 pt-5"> استرجاع كلمه المرور </h4>
                        <hr>
                        @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))

                        {
                            <div name="login-form" class="clearfix">
                                <div class="col-md-6">
                                    <label>نوع الوثيقه</label>
                                    <div class="form-group mb-10">
                                        <select class="form-control" id="DocNumber" name="DocNumber">
                                            <option value="0">----اختر----</option>
                                            <option value="1">رقم الطالب</option>
                                            <option value="2">رقم الهويه</option>
                                            <option value="3">رقم الجواز</option>
                                            <option value="4">اخرى </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>    رقم الجوال   </label>
                                    <div class="form-group mb-10">
                                        <input type="text" class="form-control" id="Phonenumber" name="Phonenumber" value="966" />
                                    </div>
                                </div>

                                <div class="form-group pull-right mt-10">
                                    <button type="submit" class="btn btn-dark btn-sm">استرجاع</button>
                                </div>

                            </div>
                        }


                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function checkUser() {

        var DocNumber = $('#JoinedUniversity').val();
        var PhoneNumber = $('#Phonenumber').val();


        $.ajax({
            url: '/Home/ResetPassword?DocNumber=' + DocNumber + "&PhoneNumber=" + PhoneNumber,
            contentType: 'application/html ; charset:utf-8',
            type: 'Post',
            dataType: 'html',
            success: function (data) {

                alert(data.StudentId);
                window.location.href = "/Home/ResetPasswordConfirm?UserId=" + data.StudentId;


            },
            error: function () {
                toastr.error("لا يوجد مستخدم بهذا الاسم");

            },
        });

    };
</script>