﻿@model IEnumerable<IslamicAcademy.Models.StudentDoctrinesVM>

@{
    ViewBag.Title = "StudentMaton";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<br />
<br />
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-2">
                <table>
                    <tr>
                        <td>
                            <label>@item.Name</label>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            @foreach (var item3 in item.DoctrinesDetails)
                            {

                                <label>
                                    <input type="checkbox" class="sss" onclick="onlyOne(this)" value="@item3.Id" id="Case" name="Case" title="@item.Name" /> @item3.Name
                                </label>
                            }
                        </td>
                    </tr>

                </table>


            </div>


        }
        <div class="form-group mb-0 mt-20">
            <button type="submit" class="btn btn-gemy-form btn-padd" onclick="RegisterScandBranch()" data-loading-text="Please wait..."> استمر</button>
        </div>




    </div>
</div>
<br />
<br />
<br />
<script>
    function onlyOne(checkbox) {
        var checkboxes = document.getElementsByName('Case')
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
        })
    }

</script>

<script>
    function RegisterScandBranch() {

        var CoursesList = [];
        $.each($("input[name='Case']:checked"), function () {
            CoursesList.push($(this).val());
        });


        $.ajax
            ({
                url: '/Home/UpdateScandBranchDoctrines',

                data: {
                    CoursesList: CoursesList,
                   StudentId:@ViewBag.StudentId

                },
                type: 'POST',

                success: function (data) {

                    alert("تم الحفظ بنجاح");
                    window.location.href = "/Home/AddPassword?UserName=" + data.UserName + '&Name=' + data.Name + '&Email=' + data.Email + '&UserId=' + data.UserId;
                    //location.reload();
                },
                error: function () {
                    toastr.error("Whooaaa! Something went wrong..")
                },
            });

    }
</script>