﻿
@model IslamicAcademy.Models.RegisterVM
@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
@Html.Raw(TempData["success"])
<div class="row">
    <div class="overlay-big"></div>
    <div class="col-md-6 col-xs-12">
        <h2>نبذة عن متون </h2>
        <div class="line-orang"></div>
    </div><!--end col-6-->
    <div class="col-md-6 hidden-xs">
        <div class="left-col">
            <p><a href="#"> الرئيسية </a>
            <p>> تسجيل الفرع الاول </p>
        </div><!---->
    </div><!--end col-6-->

</div>
<br />
<br />
<div class="about-internal">


    <div class="container">
        <div class="row">
            <div class="cleaner-h5"></div>
            <div class="col-md-3 wow fadeInRight">
                @Html.Action("FirstBranchSideMenu")
            </div><!--end col-3-->
            <div class="col-md-9 wow fadeInLeft">
                <div class="border-1px p-25">
                    <h4 class="text-theme-colored text-uppercase m-0">تسجيل الطلاب فى الفرع الثانى</h4>
                    <div class="line-bottom mb-30"></div>
                    <p></p>
                    @*@using (Html.BeginForm("Register", "Home", new { area = "" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()*@
                    <input type="text" hidden id="BranchId" name="BranchId" value="@ViewBag.BranchId" />
                    <div id="appointment_form" name="appointment_form" class="mt-30" method="post" action="includes/appointment.php">
                        <div class="row">
                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.NameStudent   </label>
                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" required id="Name" name="Name" value="@Model.Name" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Nationality   </label>
                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.NationalityId, (List<SelectListItem>)ViewBag.NationalityList, new
                                    {
                                        @class = "form-control select2",
                                        @required = "required"

                                    })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Phonenumber   </label>
                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="Phonenumber" name="Phonenumber" placeholder="966" value="@Model.Phonenumber" />

                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.WhatsNumber   </label>
                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="WhatsNumber" name="WhatsNumber" value="@Model.WhatsNumber" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.TelgramNumber   </label>
                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="TelgramNumber" name="TelgramNumber" value="@Model.TelgramNumber" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>  البيانات الاكادمية  </label>
                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="AcadmeyDetails" name="AcadmeyDetails" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.EducationBody   </label>
                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.EducationBodyId, (List<SelectListItem>)ViewBag.EducationBodyList, new
    {
        @class = "form-control select2",
        @required = "required"

    })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.stage   </label>
                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.StageId, (List<SelectListItem>)ViewBag.StageList, new
    {
        @class = "form-control select2",
        @required = "required"

    })
                                </div>
                            </div>
                            @*<div class="col-sm-12">
                                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.EducationBody   </label>

                                                    <div class="form-group mb-10">
                                                        @Html.DropDownListFor(x => Model.EducationBodyId, (List<SelectListItem>)ViewBag.EducationBodyList, new
                                {
                                    @class = "form-control select2",
                                    @required = "required"

                                })
                                                    </div>
                                                </div>*@
                            <div class="col-md-6">
                                <label>    مرحلة الدراسات العليا   </label>
                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="STageEducationhigher" name="STageEducationhigher" value="@Model.STageEducationhigher" />

                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>    السنة   </label>
                                <div class="form-group mb-10">
                                    <select class="form-control" id="Year" name="Year">
                                        <option value="الاول">الاول</option>
                                        <option value="الثانى">الثانى</option>
                                        <option value="الثالث">الثالث</option>
                                        <option value="الرابع">الرابع</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>    مرحلة  البكالوريوس   </label>
                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="Bachelorsdegree" name="Bachelorsdegree" value="@Model.Bachelorsdegree" />

                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Level   </label>
                                <div class="form-group mb-10">
                                    @Html.DropDownListFor(x => Model.LevelId, (List<SelectListItem>)ViewBag.LevelList, new
        {
            @class = "form-control select2",
            @onchange = "GetTrackList(this.value)",
            @required = "required"

        })
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label>   المتن   </label>
                                <div class="form-group mb-10">
                                    <select class="form-control" id="Elmatone" name="Elmatone">
                                        <option value="المختار للتقوى">المختار للتقوى</option>
                                        <option value="اسهل المسالك">اسهل المسالك</option>
                                        <option value="الغاية والتتريب">الغاية والتتريب</option>
                                        <option value="اخصر المختصرات">اخصر المختصرات</option>

                                    </select>
                                </div>
                            </div>
                            

                           
                        </div>
                        <div class="form-group mb-0 mt-20">
                            <button type="submit" class="btn btn-gemy-form btn-padd" onclick="RegisterFirstBranch()" data-loading-text="Please wait...">استمر</button>
                        </div>
                    </div>
                    <!-- Appointment Form Validation-->
                </div>
            </div>
        </div>
    </div>


</div>
<script>
function CheckCase() {
                var Id = $("#Check").val();
                if (Id == 1) {
                    var x = document.getElementById("Case1");
                    var xx = document.getElementById("Case2");
                    x.style.display = 'block';
                    //xx.style.display = "block";
                    xx.style.display = 'none';           // Hide


                }
                if (Id == 2) {
                    var x = document.getElementById("Case1");
                    var xx = document.getElementById("Case2");
                    xx.style.display = 'block';           // Hide
                    x.style.display = 'none';
                }
            }
            function RegisterFirstBranch() {

                var CoursesList = [];
                $.each($("input[name='Case']:checked"), function () {
                    CoursesList.push($(this).val());
                });

                var Name = $("#Name").val();
                var NationalityId = $("#NationalityId").val();
                var JoinedUniversity = $("#JoinedUniversity").val();
                var Code = $("#Code").val();
                var Phonenumber = $("#Phonenumber").val();
                var WhatsNumber = $("#WhatsNumber").val();
                var TelgramNumber = $("#TelgramNumber").val();
                var Email = $("#Email").val();
                var EducationBodyId = $("#EducationBodyId").val();
                var StageId = $("#StageId").val();
                var Level = $("#LevelId").val();
                var Case = $("#Case").val();
                var ColleageId = $("#ColleageId").val();
                var TrackId = $("#TrackId").val();
                var EvaulationDayes = $("#EvaulationDayes").val();

                $.ajax
                    ({
                        url: '/Home/FirstBranchRegister',

                        data: {
                            CoursesList: CoursesList,
                            Name: Name,
                            NationalityId: NationalityId,
                            JoinedUniversity: JoinedUniversity,
                            Code: Code,
                            Phonenumber: Phonenumber,
                            WhatsNumber: WhatsNumber,
                            TelgramNumber: TelgramNumber,
                            Email: Email,
                            EducationBodyId: EducationBodyId,
                            StageId: StageId,
                            Level: Level,
                            Case: Case,
                            ColleageId: ColleageId,
                            TrackId: TrackId,
                            EvaulationDayes: EvaulationDayes

                        },
                        type: 'POST',

                        success: function (data) {
                            alert("تم الحفظ بنجاح");
                            window.location.href = "/Home/StudentMaton?StudentId=" + data.StudentId ;
                            //location.reload();
                        },
                        error: function () {
                            toastr.error("Whooaaa! Something went wrong..")
                        },
                    });

            }
            function GetCoursiersList() {

                var TrackId = $('#TrackId').val();

                $.ajax({
                    url: '/Home/CoursiesByTrack/',
                    data: { TrackId: TrackId },
                    contentType: 'application/html ; charset:utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (data) {
                        $("#CoursesList").html(data);
                        //renderFees(data);
                    }
                });

            };

            function GetTrackList(LevelId) {
                LevelId = LevelId ? LevelId : 0;
                var CollageId = $("#ColleageId").val();

                $.ajax
                    ({
                        url: '/Home/GetTrackList',
                        type: 'Get',
                        data: { id: LevelId, CollageId: CollageId },
                        datatype: 'application/json',
                        contentType: 'application/json',

                        success: function (result) {
                            $("#TrackId").html("");


                            $.each((result), function (i, edu) {

                                $("#TrackId").append
                                    ($('<option></option>').val(edu.Value).html(edu.Text))
                            })
                        },
                        error: function () {
                            alert("Whooaaa! Something went wrong..")
                        },
                    });
            };</script>
