﻿@model IEnumerable<IslamicAcademy.Models.StudentMatoneVM>

@{
    ViewBag.Title = "StudentMaton";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<style>
    h2 {
        font-family: 'Cairo', sans-serif;
        font-size: 25px;
        text-align: center;
    }

    hr {
        padding: 1px;
        background-color: #CC942F;
        border: none;
        margin: 9px 0px;
    }

    .col-md-6 {
        box-sizing: border-box;
        width: calc(50% - 32px);
        float: right;
        margin: 0 16px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .head_item {
        color: #bb821f;
        font-size: 20px;
    }

    table, th, td {
        /*border: 0px !important;*/
    }

    .btn-padd {
        padding-left: 90px;
        padding-right: 90px;
    }
</style>
<br />
<br />
<h2> مسار:@ViewBag.TrackName  </h2>
<hr style="margin-bottom:40px; margin-left: auto; margin-right: auto; width: 20%; padding: 2px;" />
<div class="container">
    <h2>
        @ViewBag.TrackTittel
    </h2>
    <hr style="margin-bottom:40px; margin-left: auto; margin-right: auto; width: 20%; padding: 2px;" />

    <div class="row">

        @Html.Action("CoursesByStudentId", new { StudentId = ViewBag.StudentId })
        <div class="col-md-12">
            <button type="submit" id="btsave" class="btn btn-gemy-form btn-padd" onclick="RegisterFirstBranch()" data-loading-text="Please wait..."> استمر</button>
            <img src="~/giphy.gif" id="loading" style="display:none;width:60px; height:60px; background-color:transparent" />

        </div>
    </div>
</div>



@*<div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label class="head_item">@item.Name</label>
                                    <hr />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @foreach (var item3 in item.Elmatone)
                                    {

                                        <label>
                                            <input type="checkbox" class="sss" onclick="onlyOne(this,'@item.Id')" value="@item.MatoneId" id="@item.Id" name="@item.Id" title="@item.MatoneName" /> @item.MatoneName
                                        </label>
                                    @*}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>


            }
            <div class="col-md-12">
                <button type="submit" class="btn btn-gemy-form btn-padd" onclick="RegisterFirstBranch()" data-loading-text="Please wait..."> استمر</button>
            </div>


        </div>
    </div>*@
<br />
<br />
<br />

<script>
    function onlyOne(checkbox, Name) {
        var checkboxes = document.getElementsByName(Name)
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
        })
    }

</script>

<script>
    function RegisterFirstBranch() {

        if (@ViewBag.TrackId == 12) {
            window.location.href = "/Home/AddPassword?UserName=" + "@ViewBag.UserName" + '&Name=' + "@ViewBag.Name" + '&Email=' + "@ViewBag.Email" + '&UserId=' + "@ViewBag.UserId";


        }
        else if (@ViewBag.TrackId == 16) {
            window.location.href = "/Home/AddPassword?UserName=" + "@ViewBag.UserName" + '&Name=' + "@ViewBag.Name" + '&Email=' + "@ViewBag.Email" + '&UserId=' + "@ViewBag.UserId";

            //window.location.href = "/Home/AddPassword?UserName=" + data.UserName + '&Name=' + data.Name + '&Email=' + data.Email + '&UserId=' + data.UserId;


        }
        else if (@ViewBag.TrackId == 20) {

            window.location.href = "/Home/AddPassword?UserName=" + "@ViewBag.UserName" + '&Name=' + "@ViewBag.Name" + '&Email=' + "@ViewBag.Email" + '&UserId=' + "@ViewBag.UserId";

        }
        else if (@ViewBag.TrackId == 24) {

            window.location.href = "/Home/AddPassword?UserName=" + "@ViewBag.UserName" + '&Name=' + "@ViewBag.Name" + '&Email=' + "@ViewBag.Email" + '&UserId=' + "@ViewBag.UserId";

        }
        else if (@ViewBag.TrackId == 28) {

            window.location.href = "/Home/AddPassword?UserName=" + "@ViewBag.UserName" + '&Name=' + "@ViewBag.Name" + '&Email=' + "@ViewBag.Email" + '&UserId=' + "@ViewBag.UserId";

        }
        else if (@ViewBag.TrackId == 32) {

            window.location.href = "/Home/AddPassword?UserName=" + "@ViewBag.UserName" + '&Name=' + "@ViewBag.Name" + '&Email=' + "@ViewBag.Email" + '&UserId=' + "@ViewBag.UserId";

        }
        else {
            window.location.href = "/Home/StudentDoctrines?StudentId=" + @ViewBag.StudentId+"&TrackId=" +@ViewBag.TrackId;
        }

        @*var CoursesList = [];
        $.each($("input[class='sss']:checked"), function () {
            CoursesList.push($(this).val());
        });


        $.ajax
            ({
                url: '/Home/UpdateStudentElmatone',

                data: {
                    CoursesList: CoursesList,
                    StudentId:@ViewBag.StudentId,

                },
                type: 'POST',

                success: function (data) {

                    alert("تم الحفظ بنجاح");
                    window.location.href = "/Home/StudentDoctrines?StudentId=" + data.StudentId+"&TrackId="+@ViewBag.TrackId;
                },
                error: function () {
                    toastr.error("Whooaaa! Something went wrong..")
                },
            });*@

    }
</script>