﻿@*@model IEnumerable<IslamicAcademy.Models.StudentMatoneVM>*@
@model IslamicAcademy.Models.StudentMatoneVM

@*@model List<IslamicAcademy.Core.VM.Group<string, IslamicAcademy.Models.StudentMatoneVM>>*@

@{
    ViewBag.Title = "StudentMaton";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<style>
    h2 {
        font-family: 'Cairo', sans-serif;
        font-size: 25px;
        text-align: center;
    }

    hr {
        padding: 1px;
        background-color: #CC942F;
        border: none;
        margin: 9px 0px;
    }

    .col-md-6 {
        box-sizing: border-box;
        width: calc(50% - 32px);
        float: right;
        margin: 0 16px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .head_item {
        color: #bb821f;
        font-size: 20px;
    }

    table, th, td {
        /*border: 0px !important;*/
    }

    .btn-padd {
        padding-left: 90px;
        padding-right: 90px;
    }
</style>
<br />
<br />
<h2> مسار:@ViewBag.TrackName  </h2>
<hr style="margin-bottom:40px; margin-left: auto; margin-right: auto; width: 20%; padding: 2px;" />
<div class="container">
    <h2>
        @ViewBag.TrackTittel
    </h2>
    <hr style="margin-bottom:40px; margin-left: auto; margin-right: auto; width: 20%; padding: 2px;" />

    <div class="row">
        @*@foreach (var item in Model)
            {*@
        <div class="col-md-6">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label class="head_item">@Model.Name</label>
                            <hr />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @foreach (var item in Model.Elmatones)
                            {

                                <label>
                                    <input type="checkbox" class="sss" onclick="onlyOne(this,'@item.ElmatoneId')" value="@item.ElmatoneId" id="@item.ElmatoneId" name="@item.ElmatoneId" title="@item.Elmatone.Name" /> @item.Elmatone.Name
                                </label>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


        @*}*@
        <div class="col-md-12">
            <button type="submit" class="btn btn-gemy-form btn-padd" id="btnsave" onclick="RegisterFirstBranch()" data-loading-text="Please wait..."> استمر</button>
            <img src="~/giphy.gif" id="loading" style="display:none;width:60px; height:60px; background-color:transparent" />

            <br />
            <br />
            <br />
            <br />
        </div>




        @Html.Action("CoursesByStudentId", new { StudentId = ViewBag.StudentId })


    </div>
</div>
<br />
<br />
<br />
<script>
    function onlyOne(checkbox, Name) {
        var checkboxes = document.getElementsByName(Name)
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
        })
    }

</script>

<script>
    function RegisterFirstBranch() {

        var CoursesList = [];
        $.each($("input[class='sss']:checked"), function () {
            CoursesList.push($(this).val());
        });
        if (CoursesList == "") {
            alert("من فضلك اختر المتن");
        }

        $.ajax
            ({
                url: '/Home/UpdateStudentElmatone',

                data: {
                    CoursesList: CoursesList,
                    StudentId:@ViewBag.StudentId,
                    TrackId:@ViewBag.TrackId


                },
                type: 'POST',

                success: function (data) {

                    alert("تم الحفظ بنجاح");
                    window.location.href = "/Home/StudentDoctrines?StudentId=" + data.StudentId+"&TrackId="+@ViewBag.TrackId;
                    //location.reload();
                },
                error: function () {
                    toastr.error("Whooaaa! Something went wrong..")
                },
                beforeSend: function () {
                    $("#loading").show();
                    $("#btsave").hide();

                },
                complete: function () {
                    //$("#loading").hide();
                }
            });

    }
</script>