﻿@model IEnumerable<IslamicAcademy.Models.StudentDoctrinesVM>

@{
    ViewBag.Title = "StudentMaton";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<style>
    h2 {
        font-family: 'Cairo', sans-serif;
        font-size: 25px;
        text-align: center;
    }

    hr {
        padding: 1px;
        background-color: #CC942F;
        border: none;
        margin: 9px 0px;
    }

    .col-md-6 {
        box-sizing: border-box;
        width: calc(50% - 32px);
        float: right;
        margin: 0 16px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .head_item {
        color: #bb821f;
        font-size: 20px;
    }

    table, th, td {
        border: 0px !important;
    }

    .btn-padd {
        padding-left: 90px;
        padding-right: 90px;
    }
</style>
<br />
<br />
<h2>أهلا بك ! من فضلك اختر متن من كل مادة</h2>
<hr style="margin-bottom:40px; margin-left: auto; margin-right: auto; width: 20%; padding: 2px;" />
<div class="container">

    @Html.Action("Collage1Track3")

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <table>
                    <tr>
                        <td>
                            <label class="head_item">@item.Name</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @*@foreach (var item3 in item.DoctrinesDetails)
                            {*@

                                <label>
                                    <input type="checkbox" class="sss" onclick="onlyOne(this)" value="@item.DocDetailsId" id="Case" name="Case" title="@item.DocDetailsName" /> @item.DocDetailsName
                                </label>
                            @*}*@
                        </td>
                    </tr>
                </table>

            </div>


        }
        <div class="form-group mb-0 mt-20">
            <button type="submit" class="btn btn-gemy-form btn-padd" onclick="RegisterFirstBranch()" data-loading-text="Please wait..."> استمر</button>
        </div>




    </div>
</div>
<br />
<br />
<br />
<script>
    function onlyOne(checkbox) {
        var checkboxes = document.getElementsByName('Case')
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
        })
    }

</script>

<script>
    function RegisterFirstBranch() {

        var CoursesList = [];
        $.each($("input[name='Case']:checked"), function () {
            CoursesList.push($(this).val());
        });


        $.ajax
            ({
                url: '/Home/UpdateStudentDoctrines',

                data: {
                    CoursesList: CoursesList,
                   StudentId:@ViewBag.StudentId

                },
                type: 'POST',

                success: function (data) {

                    //alert("تم الحفظ بنجاح");
                    window.location.href = "/Home/AddPassword?UserName=" + data.UserName + '&Name=' + data.Name + '&Email=' + data.Email + '&UserId=' + data.UserId;
                    //location.reload();
                },
                error: function () {
                    toastr.error("Whooaaa! Something went wrong..")
                },
            });

    }
</script>