﻿
@model IEnumerable<IslamicAcademy.Core.VM.AcousticsVM>


<div class="video-1">
    <div class="container">
        <div class="row">

            <div class="cleaner-h2"></div>

            <div class="col-md-6 wow fadeInRight">

                <div class="title-video">
                    <div class="line-green"></div>
                    <h4>الوسائط</h4>
                    <h2 class="title"> اخر الفيديوهات </h2>
                </div><!--end title-video-->

                <div class="cleaner-h2"></div>

                <p class="text-video">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر</p>

                <ul class="buttons">
                    <li><a href="#" class="btn btn-gemy"> معرض الصور </a></li>
                    <li><a href="#" class="btn btn-gemy"> معرض الفيديو </a></li>
                    <li><a href="#" class="btn btn-gemy"> معرض الصوتيات </a></li>

                </ul>

            </div><!--end col-6-->

            <div class="col-md-6 wow fadeInLeft">

                <div class="cleaner-h5"></div>
                <div class="cleaner-h2"></div>

                <div class="slider hidden-xs">
                    <div id="carousel-example-generic-1" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            @foreach (var item in Model.Take(1))
                            {
                                 <div class="item active ">
                                <iframe width="100%" height="315" src="@item.Link" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            }
                           
                             @foreach (var item in Model.Skip(1).Take(3))
                            {
                                 <div class="item  ">
                                <iframe width="100%" height="315" src="@item.Link" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            }

                            @*<div class="item">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/Fuum0PoyYaM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>

                            <div class="item">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/Fuum0PoyYaM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>*@


                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic-1" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic-1" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div><!--end carsoul-->
                </div><!--end slider-->
            </div><!--end col-6-->


        </div><!--end row-->
    </div><!--end container-->
</div>

