﻿
@model IslamicAcademy.Core.VM.SecondBranchRegisterFM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@using (Html.BeginForm("Create", "SecondBranchRegister", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    @*<div class="modal-dialog" style="width: 900px;">*@
    <div class="modal-content" style="width: 1000px;">
        <div class="modal-header">
            <h4 class="modal-title">اضافه الفر  الثانى  &nbsp; &nabla; </h4>
            <a href="@Url.Action("Index1", "ScandBranchCourses", new { area = "Admin" })" class="btn yellow " value=" ">رجوع للقائمة السابقة </a>
        </div>
        <div class="modal-body" style="width :900px;">
            <div class="panel">
                @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                <div class="panel-body p25 pb5">
                    <div class="tab-content pn br-n admin-form">
                        <div id="tab1_1" class="tab-pane active">


                            <div class="row">
                                <div class="col-md-2">
                                    @Html.HiddenFor(model => model.Id)
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Nationality   </label>
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@
                                    @Html.DropDownListFor(x => Model.NationalityId, (List<SelectListItem>)ViewBag.NationalList, new
                                    {
                                        @class = "form-control select2"

                                    })
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    @Html.HiddenFor(model => model.Id)
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.EducationBody   </label>
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@
                                    @Html.DropDownListFor(x => Model.EducationBodyId, (List<SelectListItem>)ViewBag.EducationBodyList, new
                                    {
                                        @class = "form-control select2"

                                    })
                                </div>


                            </div>
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.HiddenFor(model => model.Id)
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.stage   </label>
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@
                                    @Html.DropDownListFor(x => Model.StageId, (List<SelectListItem>)ViewBag.StageList, new
                                    {
                                        @class = "form-control select2"

                                    })
                                </div>


                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.NameStudent   </label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" />
                                </div>


                            </div>
                            <br />

                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Phonenumber   </label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" />
                                </div>


                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.WhatsNumber   </label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="WhatsNumber" name="WhatsNumber" value="@Model.WhatsNumber" />
                                </div>


                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.TelgramNumber   </label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="TelegramNumber" name="TelegramNumber" value="@Model.TelegramNumber" />
                                </div>


                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Email   </label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" />
                                </div>


                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.EducationBody   </label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="AcadmayDetails" name="AcadmayDetails" value="@Model.AcadmayDetails" />
                                </div>


                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Level   </label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="Level" name="Level" value="@Model.Level" />
                                </div>


                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Case   </label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="Level" name="Level" value="@Model.Case" />
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.STageEducationhigher   </label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="STageEducationhigher" name="STageEducationhigher" value="@Model.STageEducationhigher" />
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Year   </label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="Year" name="Year" value="@Model.Year" />
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Bachelorsdegree   </label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="Bachelorsdegree" name="Bachelorsdegree" value="@Model.Bachelorsdegree" />
                                </div>


                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Elmatone   </label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="Elmatone" name="Elmatone" value="@Model.Elmatone" />
                                </div>


                            </div>

                            <br />
                            <br />

                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="@IslamicAcademy.Localiztion.IslamicAcademy.Save" class="btn yellow Saveee" onclick="Save()" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@IslamicAcademy.Localiztion.IslamicAcademy.Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*</div>*@
    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>

    @*</div>*@
}



<script src="~/Areas/Admin/Scripts/FirestBranchRegister.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        FirestBranchRegister.init();

    })

</script>


<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>

