﻿
@model IslamicAcademy.Core.VM.TaskesVM
@{
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";

}


 
    <div class="modal-content" style="width: 1000px;">
        <div class="modal-header">
            <h4 class="modal-title">تحويل مهمة &nbsp; &nabla; </h4>
            <a href="@Url.Action("Index1", "TaskEmp", new { area = "Employee" })" class="btn yellow " value=" ">رجوع للقائمة السابقة </a>
        </div>
        <div class="modal-body" style="width :900px;">
            <div class="panel">
                @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                <div class="panel-body p25 pb5">
                    <div class="tab-content pn br-n admin-form">
                        <div id="tab1_1" class="tab-pane active">
                            
                           
                            <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
                                <legend class="scheduler-border" style="margin-right:400px; background-color:cadetblue; width:170px;"> موظفين التنفيذ   </legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.Action("GetAllEmployee");
                                    </div>

                                </div>

                            </fieldset>
                            <br />
                          

                            <br />

                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="@IslamicAcademy.Localiztion.IslamicAcademy.Transfare" class="btn yellow Saveee" onclick="EditTaske()" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@IslamicAcademy.Localiztion.IslamicAcademy.Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*</div>*@
    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>

    @*</div>*@
}






<script>


    function EditTaske() {


        var EmpList = [];
        $.each($("input[name='EmpId']:checked"), function () {
            EmpList.push($(this).val());
        });

        


      


        $.ajax
            ({
                url: '/TaskEmp/EditTaske',

                data: {

                    EmpList: EmpList,
                    TaskeId:@ViewBag.TaskeId


                },
                type: 'POST',

                success: function (data) {
                    toastr.success("تم الحفظ بنجاح");
                    location.reload();
                },
                error: function () {
                    toastr.success("تم الحفظ بنجاح");
                    location.reload();                },
            });

    }
</script>

