﻿
@model IEnumerable<IslamicAcademy.Core.VM.TaskesVM>

@{
    Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Id</th>
                        <th>نوع المهمه</th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Name </th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Datetime </th>
                        <th>تفاصيل المهمة </th>
                        <th>مده المهمة </th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.TaskTypeName</td>
                        <td>@item.Name</td>
                        <td>@item.DateTime</td>
                        <td>@Html.Raw(item.Details)</td>
                        <td>@item.TimeProposed</td>


                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.datatable').DataTable();

        //Buttons examples
        var table = $('#datatable-buttons').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf']
        });

        table.buttons().container()
            .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    });


</script>




