﻿
@model IslamicAcademy.Core.VM.NewsVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@using (Html.BeginForm("Create", "News", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    @*<div class="modal-dialog" style="width: 900px;">*@
    <div class="modal-content" style="width: 1000px;">
        <div class="modal-header">
            <h4 class="modal-title">اضافه  الاخبار &nbsp; &nabla; </h4>
            <a href="@Url.Action("Index1", "News", new { area = "Admin" })" class="btn yellow " value=" ">رجوع للقائمة السابقة </a>
        
        </div>
        <div class="modal-body" style="width :900px;">
            <div class="panel">
                @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                <div class="panel-body p25 pb5">
                    <div class="tab-content pn br-n admin-form">
                        <div id="tab1_1" class="tab-pane active">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.HiddenFor(model => model.Id)
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Tittel   </label>
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@

                                    <input type="text" class="form-control" value="@Model.Tittel" id="Tittel" name="Tittel" />
                                </div>


                            </div>
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.HiddenFor(model => model.Id)
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Details   </label>
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@

<textarea class="form-control" id="Details" name="Details" required>@Model.Details</textarea>
                                    <script>
                                        CKEDITOR.replace('Details');
                                    </script>
                                </div>


                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.TextBox("file", null, new { @id = "input-1700", @type = "file", @class = "file-loading", @accept = "image/*" })
                                        <script>
                                            $("#input-1700").fileinput({
                                                maxFileCount: 1,
                                                allowedFileExtensions: ["jpg", "png", "gif"],
                                                browseLabel: " إضغط لإختيار صورة ..",
                                                browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
                                                browseClass: "btn btn-primary btn-block",
                                                showCaption: false,
                                                showRemove: false,
                                                showUpload: false
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>


                            <br />
                            <br />


                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="@IslamicAcademy.Localiztion.IslamicAcademy.Save" class="btn yellow Saveee" onclick="Save()" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@IslamicAcademy.Localiztion.IslamicAcademy.Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*</div>*@
    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>

    @*</div>*@
}
@*<link href="~/css/froala_editor.css" rel="stylesheet" />*@



<script src="~/Areas/Admin/Scripts/News.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        News.init();

    })

</script>



<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>
