﻿
@model IslamicAcademy.Core.VM.TaskesVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm("Create", "Taskes", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    @*<div class="modal-dialog" style="width: 900px;">*@
    <div class="modal-content" style="width: 1000px;">
        <div class="modal-header">
            <h4 class="modal-title">اضافه مهمة &nbsp; &nabla; </h4>
            <a href="@Url.Action("Index1", "Taskes", new { area = "Admin" })" class="btn yellow " value=" ">رجوع للقائمة السابقة </a>
        </div>
        <div class="modal-body" style="width :900px;">
            <div class="panel">
                @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                <div class="panel-body p25 pb5">
                    <div class="tab-content pn br-n admin-form">
                        <div id="tab1_1" class="tab-pane active">
                             <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
                                <legend class="scheduler-border" style="margin-right:390px; background-color:cadetblue; width:200px;"> البيانات الرئسية     </legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-2">
                                                @Html.HiddenFor(model => model.Id)
                                                <label>   انواع المهام   </label>
                                            </div>
                                            <div class="col-md-10">
                                                @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@
                                                @Html.DropDownListFor(x => Model.TaskTypeId, (List<SelectListItem>)ViewBag.TaskTypeList, new
            {
                @class = "form-control select2"

            })
                                            </div>


                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>   الاسم   </label>
                                            </div>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="Name" name="Name" required value="@Model.Name" />

                                            </div>


                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>   التاريخ   </label>
                                            </div>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="DateTime" name="DateTime" required />

                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>   المرفقات   </label>
                                            </div>
                                            <div class="col-md-10">
                                                <input type="file" class="form-control" id="FileUpload"  name="File"  />

                                            </div>


                                        </div>
                                        <br />
                                        <br />
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>   @IslamicAcademy.Localiztion.IslamicAcademy.Pirority  </label>
                                            </div>
                                            <div class="col-md-10">
                                                <select class="form-control" id="Type" name="Type">
                                                    <option value="0">--اختر ---- </option>
                                                    <option value="1">عاجله جدا</option>
                                                    <option value="2">عاجله </option>
                                                    <option value="2">عادىة </option>

                                                </select>
                                            </div>


                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>   مده المهمة    </label>
                                            </div>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="TimeProposed" name="TimeProposed" value="@Model.TimeProposed" required />

                                            </div>


                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>   تفاصيل المهمة     </label>
                                            </div>
                                            <div class="col-md-10">
                                                <textarea class="form-control" id="Details" name="Details" required>@Model.Details</textarea>
                                                <script>
                                                    CKEDITOR.replace('Details');
                                                </script>
                                            </div>


                                        </div>


                                    </div>
                                    </div>
                                 </fieldset>
                            <br />
                            <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
                                <legend class="scheduler-border" style="margin-right:400px; background-color:cadetblue; width:170px;"> @IslamicAcademy.Localiztion.IslamicAcademy.SendTo   </legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.Action("GetAllEmployee");
                                    </div>

                                </div>

                            </fieldset>
                            <br />
                            <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
                                <legend class="scheduler-border" style="margin-right:390px; background-color:cadetblue; width:200px;"> @IslamicAcademy.Localiztion.IslamicAcademy.AccessToShow</legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.Action("EmpShow");
                                    </div>
                                </div>


                            </fieldset>

                            <br />

                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="@IslamicAcademy.Localiztion.IslamicAcademy.Save" class="btn yellow Saveee" onclick="AddEmpShowOnly()" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@IslamicAcademy.Localiztion.IslamicAcademy.Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*</div>*@
    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>

    @*</div>*@
}



<script src="~/Areas/Admin/Scripts/Taskes.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        Taskes.init();

    })

</script>
<script>
    $(function () {
        $("#DateTime").datepicker();
    });
</script>

<script>
  

    function AddEmpShowOnly() {

        
        var EmpList = [];
        $.each($("input[name='EmpId']:checked"), function () {
            EmpList.push($(this).val());
        });

        var EmpShowList = [];
        $.each($("input[name='EmpShowId']:checked"), function () {
            EmpShowList.push($(this).val());
        });
   

        var Date = $("#DateTime").val();
        var Name = $("#Name").val();
        var Type = $("#Type").val();
        var TaskTypeId = $("#TaskTypeId").val();
        var TimeProposed = $("#TimeProposed").val();
        var Details = CKEDITOR.instances['Details'].getData()
        
        var dataFiles = new FormData();

        $('input[type="file"]').each(function (count, fileInput) {
            var files = $(fileInput).get(0).files;
            // Add the uploaded image content to the form data collection
            if (files.length > 0) {
                $.each(files, function (index, file) {
                    dataFiles.append($(fileInput).attr("name") + "[" + index + "]", file);
                });
            }
        });
      

        dataFiles.append("EmpList", EmpList);
        dataFiles.append("EmpShowList", EmpShowList);
        dataFiles.append("Date", Date);
        dataFiles.append("Type", Type);
        dataFiles.append("TaskTypeId", TaskTypeId);
        dataFiles.append("Details", Details);
        dataFiles.append("TimeProposed", TimeProposed);
        dataFiles.append("Name", Name);
        $.ajax
            ({
                url: '/Taskes/Create',

                data: dataFiles,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (data) {
                    toastr.success("تم الحفظ بنجاح");
                    location.reload();
                },
                error: function () {
                    toastr.error("Whooaaa! Something went wrong..")
                },
            });

    }
</script>

@*<script>
        $(document).ready(function () {
            $("input[type=text]").addClass("gui-input");
        });

        $('.btn').on('click', function () {
            var $this = $(this);
            setTimeout(function () {
                $this.button('reset');
            }, 8000);
        });

    </script>*@

