﻿


<div class="modal-dialog" style="width:100 %;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="width:100 %">
            @Html.Action("EmpDetails");
            
        </div>
    </div>
</div>

