﻿
@model IEnumerable<IslamicAcademy.Core.VM.TaskeEmpDetailsVM>

@{
    Layout = null;
}
<div class="modal-dialog" style="width:100 %;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="width:100 %">
            <table class="table table-hover table-bordered datatable" width="100px">
                <thead>
                    <tr>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Id</th>
                        <th>اسم الموظف</th>
                        <th>الوظيفه </th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.EmployeeName</td>
                            <td>@item.JobTitle</td>




                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




