﻿
@model IEnumerable<IslamicAcademy.Core.VM.SettingVM>

@{
                /**/

                Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <td></td>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Id</th>

                        <th>اسم الموظف </th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><input type="checkbox" id="EmpShowId" name="EmpShowId" value="@item.Id" /></td>
                            <td>@item.Id</td>
                            <td>@item.Name</td>




                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




