﻿
@model IEnumerable<IslamicAcademy.Core.VM.TaskesVM>

@{ 
    Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                    
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Pirority</th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Task </th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Datetime </th>
                        <th>تفاصيل المهمة </th>
                        <th>مده المهمة </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        @*<td>@item.Id</td>*@
                        <td>@item.TaskTypeName</td>
                        <td>@item.Name</td>
                        <td>@item.DateTime.ToString("dd/mm/yyyy HH:mm:ss")</td>
                        <td>@Html.Raw(item.Details)</td>
                        <td>@item.TimeProposed</td>
                        <td>
                            <div class="btn-group display-inline pull-right text-align-center hidden-tablet">
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-cog fa-lg"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-xs pull-left">
                                    <li class="text-align-center">
                                        <a onclick="EmpDetails('@item.Id')" class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate"> موظفين تنفيذ</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="">
                                        <a onclick="EmpShowOnly('@item.Id')" class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate"> موظفين عرض</a>
                                    </li>
                                    <li class="">
                                        <a href="/@item.File" target="_blank" download   class="btn btn-success   waves-effect waves-light m-b-0" id="btnDownload">المرفقات</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="text-align-center">
                                        <a href="javascript:void(0);" class="btn btn-warning waves-effect waves-light m-b-0" aria-hidden="true">@IslamicAcademy.Localiztion.IslamicAcademy.Cancel</a>
                                    </li>
                                </ul>
                            </div>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>
    </div>
        <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


        </script>




