﻿
@model IEnumerable<IslamicAcademy.Core.VM.TempHeaderDetailsVM>

@{
    Layout = null;
}
<div class="modal-content" style="width: 1000px; margin-right:200px;">
    
    <div class="modal-body" style="width :900px;">
        <div class="panel">
          
                        <table class="table table-hover table-bordered datatable" width="100%">
                            <thead>
                                <tr>
                                    <th>@IslamicAcademy.Localiztion.IslamicAcademy.Id</th>
                                    <th>اسم المتن</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.ElmatoneName</td>





                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
       
        <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                    .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


        </script>




