﻿
@model IslamicAcademy.Core.VM.StudentDocument
@{
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";

}


@using (Html.BeginForm("Create", "StudentDocuments", new { area = "Student" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    @*<div class="modal-dialog" style="width: 900px;">*@
    <div class="modal-content" style="width: 1000px;">
        <div class="modal-header">
            <h4 class="modal-title">اضافه   وثيقه &nbsp; &nabla; </h4>
            <a href="@Url.Action("Index1", "StudentDocuments", new { area = "Admin" })" class="btn yellow " value=" ">رجوع للقائمة السابقة </a>
        </div>
        <div class="modal-body" style="width :900px;">
            <div class="panel">
                @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                <div class="panel-body p25 pb5">
                    <div class="tab-content pn br-n admin-form">
                        <div id="tab1_1" class="tab-pane active">

                            <div class="col-md-6">
                                <label>نوع الوثيقه</label>
                                <div class="form-group mb-10">
                                    <select class="form-control" id="DocumentId" name="DocumentId">
                                        <option value="0">----اختر----</option>
                                        <option value="1">رقم الطالب</option>
                                        <option value="2">رقم الهويه</option>
                                        <option value="3">رقم الجواز</option>
                                        <option value="4">اخرى </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <label>    كود الطالب  </label>

                                <div class="form-group mb-10">
                                    <input type="text" class="form-control" id="CodeNumber" name="CodeNumber" required />
                                </div>

                            </div>
                            <br />



                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="@IslamicAcademy.Localiztion.IslamicAcademy.Save" class="btn yellow Saveee" onclick="Save()" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@IslamicAcademy.Localiztion.IslamicAcademy.Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*</div>*@
    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>

    @*</div>*@
}



<script src="~/Areas/Student/Scripts/StudentDocuments.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        StudentDocuments.init();

    })

</script>

<script>
    $(function () {
        $("#From").datepicker();
        $("#To").datepicker();
    });
</script>
@*<script>
        $(document).ready(function () {
            $("input[type=text]").addClass("gui-input");
        });

        $('.btn').on('click', function () {
            var $this = $(this);
            setTimeout(function () {
                $this.button('reset');
            }, 8000);
        });

    </script>*@

