﻿
@model IslamicAcademy.Core.VM.TrackFM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@using (Html.BeginForm("Create", "Track", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    @*<div class="modal-dialog" style="width: 900px;">*@
    <div class="modal-content" style="width: 1000px;">
        <div class="modal-header">
            <h4 class="modal-title">اضافه   @IslamicAcademy.Localiztion.IslamicAcademy.Tracks  &nbsp; &nabla; </h4>
            <a href="@Url.Action("Index1", "Track", new { area = "Admin" })" class="btn yellow " value=" ">رجوع للقائمة السابقة </a>
        </div>
        <div class="modal-body" style="width :900px;">
            <div class="panel">
                @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                <div class="panel-body p25 pb5">
                    <div class="tab-content pn br-n admin-form">
                        <div id="tab1_1" class="tab-pane active">



                            <div class="row">
                                <div class="col-md-2">
                                    @Html.HiddenFor(model => model.Id)
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Colleges   </label>
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@
                                    @Html.DropDownListFor(x => Model.CollageId, (List<SelectListItem>)ViewBag.CollegeList, new
            {
                @class = "form-control select2"

            })
                                </div>


                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>    المستوى   </label>
                                </div>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(x => Model.LevelId, (List<SelectListItem>)ViewBag.LevelList, new
            {
                @class = "form-control select2",
                @onchange = "GetTrackList(this.value)",
                @required = "required"

            })
                                </div>
                            </div>
                            <br />






                            <div class="row">
                                <div class="col-md-2">
                                    <label>    اسم المسار   </label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" />
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-2">
                                    <label>    العنوان    </label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="Tittel" name="Tittel" value="@Model.Tittel" />
                                </div>
                            </div>
                            <br />



                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="@IslamicAcademy.Localiztion.IslamicAcademy.Save" class="btn yellow Saveee" onclick="Save()" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@IslamicAcademy.Localiztion.IslamicAcademy.Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*</div>*@
    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>

    @*</div>*@
}



<script src="~/Areas/Admin/Scripts/Track.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        Track.init();

    })

</script>

@*<script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Description');
    </script>*@

