﻿@using IslamicAcademy.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#login-tab" data-toggle="tab">تسجيل دخول</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active p-15" id="login-tab">
                        <h4 class="text-gray mt-0 pt-5"> تسجيل دخول</h4>
                        <hr>
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div name="login-form" class="clearfix">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="form_username_email">اسم المستخدم(رقم التسجيل)</label>
                                        @Html.TextBoxFor(m => m.UserNam, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.UserNam, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="form_password">كلمة المرور</label>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                               
                                <div class="form-group pull-right mt-10">

                                    <button type="submit" class="btn btn-dark btn-sm">دخول</button>
                                    <a href="~/Account/RestPassword" >هل نسيت كلمه المرور </a>

                                </div>
                               
                            </div>
                        }

                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>
