﻿
@model  IslamicAcademy.Core.VM.CoursesFM

@{ 
    Layout = "";
}

<div class="modal-dialog" style="width: 900px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">مقدار الحفظ  </h4>
        </div>
        <input type="text" class="form-control" id="BranchId" name="BranchId" hidden value="@Model.BranchId" />
        <input type="text" class="form-control" id="ElmatoneId" name="ElmatoneId" hidden value="@Model.ElmatoneId" />
        <input type="text" class="form-control" id="ColleageId" name="Collea geId" hidden value="@Model.ColleageId" />
        <input type="text" class="form-control" id="LevelId" name="LevelId" hidden value="@Model.LevelId" />
        <input type="text" class="form-control" id="TrackId" name="TrackId" hidden value="@Model.TrackId" />
        <input type="text" class="form-control" id="Nots" name="Nots" value="@Model.Nots" hidden />


        <div class="modal-body">
            <div class="row">
                <div class="col-md-2">
                    <label>    الاسبوعى   </label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="Weak" name="Weak" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>    السنوى   </label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="Year" name="Year" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>    المقرر   </label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="Couresess" name="Couresess" />
                </div>
            </div>
            <br />


            <div class="row">
                <div class="col-md-3">

                    <input type="button" value="حفظ" class="btn yellow Saveee" onclick="SaveCoursess()" />
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function SaveCoursess() {

        var ElmatoneId = $("#ElmatoneId").val();
        var BranchId = $("#BranchId").val();
        var ColleageId = $("#ColleageId").val();
        var LevelId = $("#LevelId").val();
        var TrackId = $("#TrackId").val();

        
        var Weak = $("#Weak").val();
        var Year = $("#Year").val();
        var Couresess = $("#Couresess").val();


        $.ajax
            ({
                url: '/Admin/Courses/Create',

                data: {
                    ElmatoneId: ElmatoneId,
                    BranchId: BranchId,
                    ColleageId: ColleageId,
                    LevelId: LevelId,
                    TrackId: TrackId,
                    Weak: Weak,
                    Year: Year,
                    Couresess: Couresess,


                },
                type: 'Post',

                success: function (data) {

                    if (data == "success")
                    {

                        $('#myModalAddEdit').modal('hide');

                        toastr.success("تم الحفظ بنجاح");
                    }
                    if (data == "Erro")
                    {

                        $('#myModalAddEdit').modal('hide');

                        toastr.error("تم  حفظ المتن من قبل");
                    }
                    //location.reload();
                },
                error: function () {
                    toastr.error("Whooaaa! Something went wrong..")
                },
            });

    }
</script>