﻿
@model IEnumerable<IslamicAcademy.Core.VM.CoursesVM>

@{
    Layout = null;
}
<div class="modal-dialog" style="width:2000px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-box table-responsive">
                    <table class="table table-hover table-bordered datatable" >
                        <thead>
                            <tr>
                                <th>@IslamicAcademy.Localiztion.IslamicAcademy.Id</th>
                                <th>@IslamicAcademy.Localiztion.IslamicAcademy.Branches</th>
                                <th>اسم الكلية </th>
                                <th>اسم المادة </th>
                                <th>اسم المتن</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.BranchName</td>
                                <td>@item.ColleageName</td>
                                <td>@item.MatarialeName</td>
                                <td>@item.ElmatoneName</td>


                            </tr>
                    }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div></div>
        <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                    .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


        </script>




