﻿
@model IEnumerable<IslamicAcademy.Core.VM.DoctrinesDetailsVM>

@{
    Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>المذهب الفقهى</th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Name </th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><input type="checkbox" value="@item.Id" id="Case" name="Case" /></td>
                            <td>@item.DoctrinesName</td>
                            <td>@item.Name</td>


                           

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
<script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


</script>




