﻿
@model IEnumerable<IslamicAcademy.Core.VM.ElmatoneCoursesListVM>

@{
    Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>اسم المادة</th>
                        <th>اسم المتن </th>
                        <th></th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MatrialeName</td>
                            <td>@item.Name</td>

                            <td>
                                <button type="button" class="btn btn-success  waves-effect waves-light m-b-0" onclick="AddCoursess(@item.Id)">اضافه</button>
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/Areas/Admin/Scripts/Courses.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        Courses.init();

    })

</script>

<script type="text/javascript">
    $(function () {
        $('.datatable').DataTable();

        //Buttons examples
        var table = $('#datatable-buttons').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf']
        });

        table.buttons().container()
            .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    });


</script>




