﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HighCommittee/Views/Shared/_Layout.cshtml";
}

@Html.Raw(TempData["success"])

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <br />
            <h4 class="page-title"><a href="~/HomeAdmin/index">الرئسيه</a>--  </h4>  <h4 class="page-title"> تقيم الطلاب  </h4>
            <br />

        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card-box">
        <h4 class="header-title m-t-0 m-b-30">المسارات</h4>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link active" onclick="GetStudent('1')">
                    الاول
                </a>
            </li>
            <li class="nav-item">
                <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link " onclick="GetStudent('2')">
                    الثانى
                </a>
            </li>
            <li class="nav-item">
                <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link" onclick="GetStudent('3')">
                    الثالث
                </a>
            </li>
            <li class="nav-item">
                <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link" onclick="GetStudent('4')">
                    الرابع
                </a>
            </li>
            <li class="nav-item">
                <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link" onclick="GetStudent('5')">
                    الخامس
                </a>
            </li>
            <li class="nav-item">
                <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link" onclick="GetStudent('6')">
                    السادس
                </a>
            </li>
            <li class="nav-item">
                <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link" onclick="GetStudent('7')">
                    السابع
                </a>
            </li>
            <li class="nav-item">
                <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link" onclick="GetStudent('8')">
                    الثامن
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" id="home">
                @Html.Action("StudentRegister", new { TrackId = 1 })

            </div>

        </div>
    </div>
</div>
<script>
    function GetStudent(TrackId) {



        $.ajax({
            url: '/HighCommittee/EvulationStudent/StudentRegister',
            data: { TrackId: TrackId },
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $("#home").html(data);
                //renderFees(data);
            }
        });

    };
</script>

<script>
    function SaveData(StudentId) {
        var Degree = $("#Degree").val();
        var Day = $("#Day").val();
        var Weak = $("#Weak").val();
        var Oral = $("#Oral").val();
        var Nots = $("#Nots").val();
        var ElmatoneId = $("#ElmatoneId").val();
        $.ajax
            ({
                url: '/HighCommittee/EvulationStudent/AddEvulation',

                data: {


                    Degree: Degree,
                    Day: Day,
                    Weak: Weak,
                    Oral: Oral,
                    Nots: Nots,
                    ElmatoneId: ElmatoneId,
                    StudentId:StudentId


                },
                type: 'POST',
                datatype: 'application/json',

                success: function (result) {

                    toastr.success("تم الحفظ بنجاح");

                    location.reload();
    





                },
                error: function () {
                    // alert("Whooaaa! Something went wrong..")
                },
            });

    }
</script>