﻿
@model IEnumerable<IslamicAcademy.Core.VM.CoursesVM>

@{
    Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Id</th>
                        <th>اسم الكلية </th>
                        <th>اسم المادة </th>
                        <th>اسم المتن</th>


                      
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <th><input type="checkbox" id="Case" name="Case" value="@item.ElmatoneId" /></th>

                        <td>@item.Id</td>
                        <td>@item.ColleageName</td>
                        <td>@item.MatarialeName</td>
                        <td>@item.ElmatoneName</td>



                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




