﻿
@model IslamicAcademy.Core.VM.CoursesFM
@{
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";

}



<div class="modal-content" style="width: 1000px;">
    <div class="modal-header">
        <h4 class="modal-title">اضافه   @IslamicAcademy.Localiztion.IslamicAcademy.Courses  &nbsp; &nabla; </h4>
        @*<a href="@Url.Action("Index1", "CoursesStudent", new { area = "Admin" })" class="btn yellow " value=" ">رجوع للقائمة السابقة </a>*@
    </div>
    <div class="modal-body" style="width :900px;">
        <div class="panel">
            @*<div class="panel-heading">
                    <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                </div>*@
            <div class="panel-body p25 pb5">
                <div class="tab-content pn br-n admin-form">
                    <div id="tab1_1" class="tab-pane active">

                        <div class="row">
                            <div class="col-md-2">
                                @Html.HiddenFor(model => model.Id)
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Colleges   </label>
                            </div>
                            <div class="col-md-10">
                                @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@
                                @Html.DropDownListFor(x => Model.ColleageId, (List<SelectListItem>)ViewBag.CollegeList, new
            {
                @class = "form-control select2",
                @onchange = "CollageChange(this.value)"

            })
                            </div>


                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                <label>    المستوى   </label>
                            </div>
                            <div class="col-md-10">
                                @Html.DropDownListFor(x => Model.LevelId, (List<SelectListItem>)ViewBag.LevelList, new
            {
                @class = "form-control select2",
                @onchange = "GetTrackList(this.value)",
                @required = "required"

            })
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-2">
                                <label>    المسار   </label>
                            </div>

                            <div class="col-md-10">
                                @Html.DropDownList("TrackId", (List<SelectListItem>)ViewBag.TrackList, new
        {
            @class = "form-control select2",
            @onchange = "GetCoursiersList(this.value)",
            @required = "required"

        })
                            </div>
                        </div>
                            <div class="col-sm-12">
                                <div class="form-group mb-10" id="CoursesList">


                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="@IslamicAcademy.Localiztion.IslamicAcademy.Save" class="btn yellow Saveee" onclick="EditCourses()" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@IslamicAcademy.Localiztion.IslamicAcademy.Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>







<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });

    function CollageChange(LevelId) {
        document.getElementById("LevelId").selectedIndex = "0";
        document.getElementById("TrackId").selectedIndex = "0";


    };
    function GetTrackList(LevelId) {
        LevelId = LevelId ? LevelId : 0;
        var CollageId = $("#ColleageId").val();

        $.ajax
            ({
                url: '/Student/CoursesStudent/GetTrackList?id=' + LevelId + '&CollageId=' + CollageId,
                type: 'Get',
                datatype: 'application/json',
                contentType: 'application/json',

                success: function (result) {
                    $("#TrackId").html("");


                    $.each((result), function (i, edu) {

                        $("#TrackId").append
                            ($('<option></option>').val(edu.Value).html(edu.Text))
                    })
                },
                error: function () {
                    toastr.error("Whooaaa! Something went wrong..")
                },
            });
    }


    function EditCourses() {

        var ElmatoneList = [];
        $.each($("input[name='Case']:checked"), function () {
            ElmatoneList.push($(this).val());
        });




        $.ajax
            ({
                url: '/Student/CoursesStudent/Create',
                type: 'POST',

                data: {
                    ElmatoneList: ElmatoneList


                },

                success: function (data) {
                    toastr.success("تم الحفظ بنجاح");
                    location.href = "/Student/CoursesStudent/Index1";
                },
                error: function () {
                    toastr.success("تم الحفظ بنجاح");
                    location.href = "/Student/CoursesStudent/Index1";
                },
            });

    }
    function GetCoursiersList() {

        var TrackId = $('#TrackId').val();

        $.ajax({
            url: '/Student/CoursesStudent/CoursiesByTrack/',
            data: { TrackId: TrackId },
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $("#CoursesList").html(data);
                //renderFees(data);
            }
        });

    };
</script>
@*<script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Description');
    </script>*@

