﻿
@model IEnumerable<IslamicAcademy.Core.VM.StudentDocument>

@{ 
    Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">

            <table class="table table-hover table-bordered datatable" width="100%">
                
                <tbody>
                    @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.DocumentName</td>
                    <td>@item.CodeNumber</td>



                 

                </tr>
    }
                </tbody>
            </table>
        </div>
        </div>
    </div>
    
