﻿<div class="row">
    <div class="col-10" style="margin-right:100px;">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered ">

                <tr>

                    <td>
                        اسم الطالب
                    </td>
                    <td>
                        @ViewBag.StudentName
                    </td>
                    <td>
                        المستوى
                    </td>
                    <td>
                        @ViewBag.LevelName
                    </td>




                </tr>

                <tr>

                    <td>
                        رقم التسجيل 
                    </td>
                    <td>
                        @ViewBag.Number
                    </td>
                    <td>
                        المسار
                    </td>
                    <td>
                        @ViewBag.Track
                    </td>




                </tr>
                <tr>

                    <td>
                       الفصل الدراسى      
                    </td>
                    <td>
                        @ViewBag.Year
                    </td>
                    




                </tr>


            </table>
           </div>
</div>
</div>