﻿@model IslamicAcademy.Entity.AppActions
<div class="modal-body ">
    @using (Ajax.BeginForm("EditActionRoles", "Roles", new AjaxOptions()
    {
        UpdateTargetId = "controleactionDiv",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "$('.close').click()"
    }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
        </div>
        <div class="panel panel-default">
           
            <div class="panel-body">

                <div class="col-md-5">وصف الصلاحية عربى</div>
                <div class="col-md-12">
                    <input type="text" name="Description" value="@Model.Description" id="Description" class="form-control" />

                </div>



            </div>
        </div>



        <div class="form-group">

            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">اغلاق</button>
            <button type="submit" class="btn btn-primary waves-effect waves-light">حفظ</button>

        </div>
    }
</div>



