﻿@model IslamicAcademy.Core.VM.RoleVM.EditGroup

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal-body ">
    @using (Ajax.BeginForm("EditGroup", "Roles", new AjaxOptions()
    {
        UpdateTargetId = "GroupContentID",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "$('.close').click()"
    }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <div class="col-md-9">
                    <input type="text"  name="Name" id="Name" value="@Model.Name"  class="form-control"/>
                    @*@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control"} })*@
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

                                <div class="col-md-12">
                        @for (int i = 0; i < Model.Roles.Count; i++)
                        {
                            
                                    @Html.Hidden("Roles[" + i + "].Id", Model.Roles[i].Id)
                                    <label for="Roles_@(i)_Id">
                                        @Html.CheckBox("Roles[" + i + "].IsChecked", Model.Roles[i].IsChecked)
                                        @Model.Roles[i].Name
                                    </label>
                               
                        }

                   
            </div>



            <div class="form-group">

                <button type="submit" class="btn btn-primary waves-effect waves-light">حفظ</button>

            </div>
        </div>
    }
</div>


