﻿



@model IEnumerable<IslamicAcademy.Entity.Groups>
<div class="panel  panel-primary ">
    <div class="panel-heading">
        <div class="panel-title">
            
        </div>
    </div>
    <div class="panel-body">
        <div class="card-box">
            <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                <thead>
                    <tr class="row-name">
                    <tr>
                        <th>التسلسل </th>
                        <th>اسم المحموعة </th>
                        <th> تعديل</th>
                        <th>حذف</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() >= 0)
            {
                foreach (var item in Model)
                {
                    <tr id="@item.Id">


                        <td>@item.Id</td>
                        <td>@item.Name</td>


                        <td>
                            <a class="btn btn-success waves-effect waves-light m-b-5" href="@Url.Action("EditGroup",new {id=item.Id })"> <i class="fa fa-pencil m-r-5"></i> <span>تعديل</span> </a>
                        </td>
                        <td>
                            <a class="btn btn-danger waves-effect waves-light m-b-5" href="@Url.Action("DeleteGroup",new {id=item.Id })"> <i class="fa fa-trash-o m-r-5"></i> <span>حذف</span> </a>

                        </td>
                    </tr>
        }
    }

                </tbody>
            </table>
        </div>
    </div>
</div>




