﻿
@model IslamicAcademy.Core.VM.RoleVM.NewGroup

<div class="modal-body ">
    @using (Ajax.BeginForm("NewGroup", "Roles", new AjaxOptions()
    {
        UpdateTargetId = "GroupContentID",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "$('.close').click()"
    }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label>اسم المجموعه</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "اسم المجموعة " } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label>الوصف</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "الوصف " } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    @for (int i = 0; i < Model.Roles.Count; i++)
                    {
                        <div class="col-md-12">
                            <div class="col-md-2">
                                @Html.Hidden("Roles[" + i + "].Id", Model.Roles[i].Id)
                                <label for="Roles_@(i)_ID">
                                    @Html.CheckBox("Roles[" + i + "].IsChecked", Model.Roles[i].IsChecked)
                                    @Model.Roles[i].Name
                                </label>
                            </div>
                        </div>
                    }

                </div>
            </div>


            <div class="form-group">

                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                <button type="submit" class="btn btn-primary waves-effect waves-light">حفظ مجموعة</button>

            </div>
        </div>
    }

</div>


