﻿
@model IslamicAcademy.Core.VM.RoleVM.NewGroup
    @{ 
        Layout = "~/Views/Shared/_Layout.cshtml";

    }

<div class="modal-body ">
    @using (Ajax.BeginForm("NewGroup", "Roles", new AjaxOptions()
    {
        UpdateTargetId = "GroupContentID",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "$('.close').click()"
    }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "اسم المجموعة " } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "الوصف " } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

          
                               <div class="col-md-12">
                        @for (int i = 0; i < Model.Roles.Count; i++)
                        {
                                 
                                
                                    @Html.Hidden("Roles[" + i + "].Id", Model.Roles[i].Id)
                                    <label for="Roles_@(i)_ID">
                                        @Html.CheckBox("Roles[" + i + "].IsChecked", Model.Roles[i].IsChecked)
                                        @Model.Roles[i].Name
                                    </label>
                            
                        }
                                        </div>

               


            <div class="form-group">

                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">غلق</button>
                <button type="submit" class="btn btn-primary waves-effect waves-light">حفظ مجموعة</button>

            </div>
        </div>
    }

</div>


