﻿@{
    ViewBag.Title = "AddUserRoles";
            Layout = "~/Views/Shared/_Layout.cshtml";

}

@Html.Raw(TempData["msg"])
<div class="card-box">
    <h4 class="m-t-0 header-title">اضافة الصلاحيات للمستخدمين</h4>
</div>
<div class="card-box">
    @using (Html.BeginForm("AddUserRoles", "Roles", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {

        <div class="form-group row">
            <label class="col-2 col-form-label">اسم المستخدم</label>
            <div class="col-10">
                @Html.DropDownList("UserId", null, "اختر المستخدم", new { @class = "form-control select2", @Required = "Required" })

            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">اسم الصلاحية</label>
            <div class="col-10">
                @Html.DropDownList("RoleId", null, "اختر المجموعة", new { @class = "form-control select2", @Required = "Required" })

                @*@Html.DropDownList("GroupId", (SelectList)ViewBag.Groups, "-- أختر --", new
                    {
                        @class = "form-control select2"

                                              ,
                        @tabindex = "-1",
                        @aria_hidden = "true"
                                              ,
                        @required = "required"
                    })*@
            </div>
        </div>
        @*<div class="form-group row">
                        <label class="col-2 col-form-label">وصف</label>
                        <div class="col-10">
            <input type=" t"
                        </div>
                    </div>*@

        <div class="col-lg-12" style="text-align: left;">
            <button type="submit" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
            <a href="@Url.Action("All",new { pageIndex = 1 })" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">عودة</a>
        </div>
    }
    <div class="clearfix"></div>
</div>
