﻿
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .modal-dialog {
        width: 75%;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="col-lg-5">
                <a href="/Home/index" class="waves-effect waves-light m-b-5"> القائمه الرئسيه</a>
            </div>

            <div class="col-lg-5">
                <h4 class="page-title"> مجموعات الصلاحيات </h4>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>

</hr>
<a href="@Url.Action("NewGroup", "Roles" )" id="Add" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;اضافة جديد</a>
<br />
<br />

<div class="modal fade " id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="PersonDataModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">جروب جديد</h4>
            </div>
            <div class="divForAdd">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">تعديل جروب</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>


<div class="row" id="GroupContentID">
    @Html.Partial("_GroupList")

</div>

@section Scripts{
    <script>


    //bootstrap-sweetalert
    function deleteitem(id) {
       
                       $.ajax({
                           url: "/Roles/DeleteGroup/" + id,
                           contentType: 'application/html ; charset:utf-8',
                           type: 'GET',
                           dataType: 'html',
                           success: function (result) {
                               if (result == 1) {
                                   $("#" + id).remove();
                                   $(".validation-summary-errors").html('<ul><li>تم الحذف</li></ul>');
                               } else {
                                   $(".validation-summary-errors").html('<ul><li>لم يتم الحذف</li></ul>');

                               }
                           },
                           error: function () {
                               $(".validation-summary-errors").html('<ul><li>لم يتم الحذف</li></ul>');

                           }
                       });
                   }

                  
    </script>
}