﻿
@model IslamicAcademy.Core.VM.EmployeeVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@using (Html.BeginForm("Edit", "Employee", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-content" style="width: 1000px;">
        <div class="modal-header">
            <h4 class="modal-title">اضافه  @IslamicAcademy.Localiztion.IslamicAcademy.Elmatone &nbsp; &nabla; </h4>
            <a href="@Url.Action("Index1", "Employee", new { area = "Admin" })" class="btn yellow " value=" ">رجوع للقائمة السابقة </a>
        </div>
        <div class="modal-body" style="width :900px;">
            <div class="panel">
                @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                <div class="panel-body p25 pb5">
                    <div class="tab-content pn br-n admin-form">
                        <div id="tab1_1" class="tab-pane active">

                            <div class="row">
                                <div class="col-md-2">
                                    @Html.HiddenFor(model => model.ID)
                                    <label>  @IslamicAcademy.Localiztion.IslamicAcademy.Code  </label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="Emp_Code" name="Emp_Code" required class="form-control" value="@Model.Emp_Code" />
                                    @*@Html.TextBoxFor(model => model.Emp_Code, new { @id = "Emp_Code", @required = "required" ,@class="from-control" })*@

                                </div>
                                <div class="col-md-2">
                                    <label>  @IslamicAcademy.Localiztion.IslamicAcademy.Name  </label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="Emp_Name" name="Emp_Name" required class="form-control" value="@Model.Emp_Name" />

                                    @*@Html.TextBoxFor(model => model.Emp_Name, new { @id = "Emp_Name", @required = "required", @class = "from-control" })*@

                                </div>


                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-2">
                                    <label>  @IslamicAcademy.Localiztion.IslamicAcademy.Phonenumber  </label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="Phone1" name="Phone1" required class="form-control" value="@Model.Phone1" />

                                    @*@Html.TextBoxFor(model => model.Phone1, new { @id = "Phone1", @required = "required", @class = "from-control" })*@
                                </div>
                                <div class="col-md-2">
                                    <label>  @IslamicAcademy.Localiztion.IslamicAcademy.Phonenumber  </label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="Phone2" name="Phone2" required class="form-control" value="@Model.Phone2" />

                                    @*@Html.TextBoxFor(model => model.Phone2, new { @id = "Phone2", @required = "required", @class = "from-control" })*@
                                </div>


                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>  نوع الموظف </label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(x => Model.TypeID, (List<SelectListItem>)ViewBag.EmployeeTypeList, new { @class = "form-control select2" })
                                </div>
                                <div class="col-md-2">
                                    <label>  @IslamicAcademy.Localiztion.IslamicAcademy.Nationality  </label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(x => Model.NationatyID, (List<SelectListItem>)ViewBag.nationalityList, new { @class = "form-control select2" })
                                </div>


                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label> نوع الهوية </label>
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(x => Model.IdentitFicationID, (List<SelectListItem>)ViewBag.IdentitifcationTypeList, new { @class = "form-control select2" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">

                                    <label>  @IslamicAcademy.Localiztion.IslamicAcademy.Email  </label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="Email" name="Email" required class="form-control" value="@Model.Email" />

                                    @*@Html.TextBoxFor(model => model.Email, new { @id = "Email", @required = "required", @class = "from-control" })*@
                                </div>

                                <div class="col-md-2">
                                    <label>  العنوان  </label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" id="DetaildAddress" name="DetaildAddress" required class="form-control" value="@Model.DetaildAddress" />

                                    @*@Html.TextAreaFor(model => model.DetaildAddress, new { @id = "DetaildAddress", @required = "required", @cols = "40", @rows = "12", @class = "from-control" })*@
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Name" class="control-label">@IslamicAcademy.Localiztion.IslamicAcademy.Image</label>
                                        <input type="file" class="form-control" name="file">
                                    </div>
                                </div>
                            </div>

                          



                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="@IslamicAcademy.Localiztion.IslamicAcademy.Save" class="btn yellow Saveee" onclick="Save()" />
                                    <button type="button" class="btn btn-default" onclick="close()" data-dismiss="modal">@IslamicAcademy.Localiztion.IslamicAcademy.Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>

    @*</div>*@
}



@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/froala_editor.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">*@



<script src="~/Areas/Admin/Scripts/Employee.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        Employee.init();

    })

</script>


<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>
