﻿@model IslamicAcademy.Core.VM.FirestBranchRegisterFM

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}


<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <br />
                    <h4 class="page-title"><a href="~/HomeAdmin/index">الرئسيه</a>--  </h4>  <h4 class="page-title"> @IslamicAcademy.Localiztion.IslamicAcademy.SecondBranchRegister  </h4>
                    <br />

                </div>
            </div>
        </div>
        <!-- START ROW -->
        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-md-1">
                        <label>    المستوى   </label>
                    </div>
                    <div class="col-md-5">
                        @Html.DropDownListFor(x => Model.LevelId, (List<SelectListItem>)ViewBag.LevelList, new
                        {
                            @class = "form-control select2",
                            @onchange = "GetTrackList(this.value)",
                            @required = "required"

                        })
                    </div>


                </div>

                <br />
                <div class="row">


                    <div class="col-md-1">
                    </div>
                    <div class="col-md-1">
                        <button id="AddNew" onclick="Search()" class="btn yellow "> بحث </button>
                    </div>
                </div>
                <br />
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    @*<a href="@Url.Action("Create")" id="AddNew" onclick="Create()" class="btn yellow "> اضافه جديد</a>*@
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form class="smart-form">
                                <br />
                                @Html.Action("Search")
                                <div id="SearchTableContainer"></div>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->
    </section>
    <!-- end widget grid -->

    <div class="modal fade" id="myModalAddEdit" role="dialog" data-backdrop="static"></div>

</div>
@section scripts {

}

<script>
    function Search() {
        var LevelId = $("#LevelId").val();
       


        $.ajax({
            url: '/Teacher/PrepareStudents/Search',
            data: { LevelId: LevelId },
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $("#home").html(data);
                //renderFees(data);
            }
        });

    };
    function SaveValue(Id) {

        var CaseList = [];
        $.each($("input[name='Case']:checked"), function () {
            CaseList.push($(this).val());
        });

        var Weak = $("#Weak").val();
        var Day = $("Day").val();
        var Attandce = $("#Attandce").val();
        var Absence = $("#Absence").val();


        if (CaseList != null) {
            if (Weak != 0) {
                $.ajax
                    ({
                        url: '/Teacher/PrepareStudents/AddPerparStudent',

                        data: {


                            Weak: Weak,
                            Day: Day,
                            CaseList: CaseList,
                            StudentId: Id


                        },
                        type: 'POST',
                        datatype: 'application/json',

                        success: function (result) {
                            toastr.success("تم الحفظ بنجاح");

                            //alert("");



                        },
                        error: function () {
                            // alert("Whooaaa! Something went wrong..")
                        },
                    });
            }
        }
        else {
            toastr("من فضل احتر حضور او غياب")
        }

    }
</script>
