﻿
@model IEnumerable<IslamicAcademy.Core.VM.SecondBranchRegisterVM>

@{ 
    Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Id</th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Name</th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Nationality</th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.EducationBody</th>
                        <th>الاسبوع</th>
                       <th>اليوم</th>
                        <th>حضور</th>
                        <th>انصراف</th>

                       

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>

                        <td>@item.NationalityName</td>
                        <td>@item.EducationBodyName</td>
                        <td>
                            <select id="Weak" name="Weak">
                                <option value="0">اختر الاسبوع</option>
                                <option value="الاسبوع الاول">الاسبوع الاول</option>
                                <option value="الاسبوع الثانى">الاسبوع الثانى</option>
                                <option value="الاسبوع الثالث">الاسبوع الثالث</option>
                                <option value="الاسبوع الرابع">الاسبوع الرابع</option>
                                <option value="الاسبوع الخامس">الاسبوع الخامس</option>
                                <option value="الاسبوع السادس">الاسبوع السادس</option>
                                <option value="الاسبوع السابع">الاسبوع السابع</option>
                                <option value="الاسبوع الثامن">الاسبوع الثامن</option>
                                <option value="الاسبوع التاسع">الاسبوع التاسع</option>
                                <option value="الاسبوع العاشر">الاسبوع العاشر</option>
                            </select>
                        </td>
                        <td>
                            <select id="Weak" name="Weak">
                                <option value="0">اختر اليوم</option>
                                <option value=" الاحد">الاحد </option>
                                <option value="الثلاثاء ">الثلاثاء </option>
                                
                            </select>
                        </td>
                        <td>
                            <input type="checkbox" class="form-control" value="0"  style="width:50px;" id="Case" name="Case" />
                        </td>
                        <td>
                            <input type="checkbox" class="form-control" value="1" style="width:50px;" id="Case" name="Case" />
                        </td>

                        <td>
                            <div class="btn-group display-inline pull-right text-align-center hidden-tablet">
                                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"onclick="SaveValue('@item.Id')">
                                    حفظ
                                </a>

                            </div>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>
    </div>
        <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


        </script>




