﻿
@model IslamicAcademy.Core.VM.LibraryReadFM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@using (Html.BeginForm("Create", "LibraryRead", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    @*<div class="modal-dialog" style="width: 900px;">*@
        <div class="modal-content" style="width: 1000px;">
            <div class="modal-header">
                <h4 class="modal-title">اضافه  @IslamicAcademy.Localiztion.IslamicAcademy.LibraryRead &nbsp; &nabla; </h4>
                <a href="@Url.Action("Index1", "LibraryRead", new { area = "Admin" })" class="btn yellow " value=" ">رجوع للقائمة السابقة </a>

            </div>
            <div class="modal-body" style="width :900px;">
                <div class="panel">
                    @*<div class="panel-heading">
                            <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                        </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.HiddenFor(model => model.Id)
                                        <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Tittel   </label>
                                    </div>
                                    <div class="col-md-10">
                                        @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@

                                        <input type="text" class="form-control" value="@Model.Tittel" id="Tittel" name="Tittel" />
                                    </div>


                                </div>
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>    المادة   </label>
                                    </div>
                                    <div class="col-md-10">
                                        @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@
                                        @Html.DropDownListFor(x => Model.MatrialId, (List<SelectListItem>)ViewBag.MatarialeList, new
                {
                    @class = "form-control select2",
                    @onchange = "GetElmotenList(this.value)"

                })
                                    </div>


                                </div>


                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-2">
                                    <label>    المتن   </label>
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@

                                    @Html.DropDownListFor(x => Model.ElmatoneId, (List<SelectListItem>)ViewBag.ElmatoneList, new
            {
                @class = "form-control select2",


            })

                                </div>


                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-2">
                                    @Html.HiddenFor(model => model.Id)
                                    <label>    اختار الملف  </label>
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@

                                    <input type="file" class="form-control" id="FilePathe" name="FilePathe" />
                                </div>


                            </div>


                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>    اختار الملف الصوتى   </label>
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@

                                    <input type="file" class="form-control" id="FilePathe" name="FilePathe" />
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>     لينك     </label>
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@

                                    <input type="text" class="form-control" id="LinkPathe" name="LinkPathe" />
                                </div>


                            </div>
                            <br />
                            <br />


                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="@IslamicAcademy.Localiztion.IslamicAcademy.Save" class="btn yellow Saveee" onclick="Save()" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@IslamicAcademy.Localiztion.IslamicAcademy.Cancel</button>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
      
    @*</div>*@
    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>

    @*</div>*@
}


<script src="~/Areas/Admin/Scripts/LibraryRead.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        LibraryRead.init();

    })

</script>

<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });

    function GetElmotenList(MatrialId) {
        MatrialId = MatrialId ? MatrialId : 0;

        $.ajax
            ({
                url: '/Admin/Courses/GetElmotenList?id=' + MatrialId,
                type: 'Get',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    id: MatrialId
                }),
                success: function (result) {
                    $("#ElmatoneId").html("");


                    $.each((result), function (i, edu) {

                        $("#ElmatoneId").append
                            ($('<option></option>').val(edu.Value).html(edu.Text))
                    })
                },
                error: function () {
                    toastr.error("Whooaaa! Something went wrong..")
                },
            });
    }
</script>

