﻿@using IslamicAcademy.Localiztion;
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

@Html.Raw(TempData["success"])

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>@ViewBag.user.FullName</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="btn-group">
                    <button class="btn btn-primary" onclick="showChangePassword()">تعديل كلمة السر </button>
                    <button class="btn btn-primary" onclick="showImagChange()">تغير الصورة </button>
                </div>
            </div>
            <div class="col-md-offset-3 col-md-6  " id="changePasswordArea">
                <form id="change-passwordForm">
                    <div class=" form-group">
                        <label>Old password</label>
                        <input type="password" id="OldPassword" name="OldPassword" class="form-control" />
                    </div>
                    <div class=" form-group">
                        <label>new  password</label>
                        <input type="password" id="NewPassword" name="NewPassword" class="form-control" required />
                    </div>
                    <div class=" form-group">
                        <label>Confirm  password</label>
                        <input type="password" id="ConfirmPassword" name="ConfirmPassword" required class="form-control" />
                    </div> <div class=" form-group">

                        <input type="button" value="@IslamicAcademy.Save" onclick="savePassword()" class="btn btn-success" />
                    </div>
                </form>
            </div>
            <div class="col-md-offset-3 col-md-6  " id="changeImage">
                <form id="change-imageForm">

                    <div class=" form-group">
                        <img src="~/Uploads/@ViewBag.user.ImagePath" id="user-img" class="image" alt="Alternate Text" />
                    </div>
                    <div class=" form-group">
                        <label>تغير الصورة</label>
                        <input type="file" onchange="previewImage(event)" id="image-uplode-ctl" name="ConfirmPassword" required class="form-control" />
                    </div> <div class=" form-group">

                        <input type="button" value="@IslamicAcademy.Save" onclick="saveImage()" class="btn btn-success" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            showChangePassword();
        })
        function showChangePassword() {
            $("#changePasswordArea").slideToggle('slow');

        }
        function showImagChange() {
            $("#changeImage").slideToggle('slow');
        }
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('user-img');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }
        function savePassword(){
        console.log('save*********************');
        var  data = new FormData();
        var _FromData = $("#change-passwordForm").serializeArray();
            $.each(_FromData, function (key, value) {
                console.log('key ', key)
                data.append(this.name, this.value);
            });
            ajaxRequest("POST", "/Student/HomeStudent/ChnagePassword", data, 'json', false, false).done(function (result) {
        if (result.Succeeded)
            toastr.success('تم الحفظ');
        else
         toastr.error('لم يتم الحفظ');
    });

        }
           function saveImage(){

        var  data = new FormData();
               var _FromData = $("#change-imageForm");
                   _FromData.find('input[type="file"]').each(function (count, fileInput) {
                   var files = $(fileInput).get(0).files;
                   // Add the uploaded image content to the form data collection
                   if (files.length > 0) {
                       $.each(files, function (index, file) {
                           data.append($(fileInput).attr("name") + "[" + index + "]", file);
                       });
                   }
               });

               ajaxRequest("POST", "/Student/HomeStudent/ChnageImage", data, 'json', false, false).done(function (result) {
        if (result.Succeeded)
            toastr.success('تم الحفظ');
        else
         toastr.error('لم يتم الحفظ');
    });

        }

    </script>
}