﻿
@model IslamicAcademy.Core.VM.MatrailVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@using (Html.BeginForm("Create", "Matiriale", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-content" style="width: 1000px;">
        <div class="modal-header">
            <h4 class="modal-title">اضافه  المواد &nbsp; &nabla; </h4>
            <a href="@Url.Action("Index1", "Matiriale", new { area = "Admin" })" class="btn yellow " value=" ">رجوع للقائمة السابقة </a>
       
        </div>
        <div class="modal-body" style="width :900px;">
            <div class="panel">
                @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                <div class="panel-body p25 pb5">
                    <div class="tab-content pn br-n admin-form">
                        <div id="tab1_1" class="tab-pane active">


                            <div class="row">
                                <div class="col-md-2">
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Name   </label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" value="@Model.Id" class="form-control" id="Id" name="Id" hidden />

                                    <input type="text" value="@Model.Name" class="form-control" id="Name" name="Name" required />

                                </div>


                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-2">
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Details   </label>
                                </div>
                                <div class="col-md-10">
                                    <textarea class="form-control" id="Details" name="Details" required>@Model.Details</textarea>
                                    <script>
                                        CKEDITOR.replace('Details');
                                    </script>
                                </div>


                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="@IslamicAcademy.Localiztion.IslamicAcademy.Save" class="btn yellow Saveee" onclick="Save()" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@IslamicAcademy.Localiztion.IslamicAcademy.Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>

    @*</div>*@
}



@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/froala_editor.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">*@



<script src="~/Areas/Admin/Scripts/Matiriale.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        Matiriale.init();

    })

</script>


<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>
