﻿
@model IEnumerable<IslamicAcademy.Core.VM.FirestBranchRegisterVM>

@{
    Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <select id="Weak" name="Weak" class="form-control">
                <option value="">--------اختر الاسبوع--------</option>

                <option value="الاسبوع الاول">الاسبوع الاول</option>
                <option value="الاسبوع الثانى">الاسبوع الثانى</option>
                <option value="الاسبوع الثالث">الاسبوع الثالث</option>
                <option value="الاسبوع الرابع">الاسبوع الرابع</option>
                <option value="الاسبوع الخامس">الاسبوع الخامس</option>
                <option value="الاسبوع السادس">الاسبوع السادس</option>
                <option value="الاسبوع السابع">الاسبوع السابع</option>
                <option value="الاسبوع الثامن">الاسبوع الثامن</option>
            </select>
            <br />
            <br />
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Name</th>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Level</th>
                        <th>المسار</th>
                        @*<th>رقم الجوال</th>*@
                        @*<th>المتن</th>*@
                        <th>اليوم</th>
                        <th>الدرجة</th>
                        <th>المجموع</th>
                        <th>ملاحظات</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.LeveleName</td>
                        <td>@item.TrackName</td>
                        @*<td>@item.Phonenumber</td>*@
                        @*<td style="width:100px;">
                            @Html.DropDownList("ElmatoneId", (List<SelectListItem>)ViewBag.ElmatoneList, new
        {
            @class = "form-control select2",
            @style = "width:100px;"

        })

                        </td>*@
                        <td>
                            <input type="text" class="form-control" style="width:50px;" id="Day" readonly value="@item.EvaulationDayes" name="Day" />

                        </td>
                        <td><input type="number" id="Degree" name="Degree" max="1" min="0" class="form-control" style="width:50px;" /></td>
                        <td><input type="number" id="Oral" name="Oral" class="form-control" readonly style="width:50px;" /></td>
                        <td><input type="text" class="form-control" id="Nots" name="Nots" style="width:100px;" /></td>


                        <td>
                            <div class="btn-group display-inline pull-right text-align-center hidden-tablet">
                                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" onclick="SaveData('@item.Id')">
                                    حفظ
                                </a>

                            </div>
                        </td>

                    </tr>
    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


</script>




