﻿
@model List<IslamicAcademy.Core.VM.GardsApprovedVM>

@{
    Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Id</th>
                        <th>الكلية</th>
                        <th>المستوى</th>
                        <th>المسار</th>

                        <th>اسم الطالب</th>
                        <th>اسم المتن</th>
                        <th>التحريرى </th>
                        <th> الشفوى</th>


                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.CollageName</td>
                        <td>@item.TrackName</td>
                        <td>@item.LevelName</td>
                        <td>@item.StudentName</td>
                        <td>@item.ElmatoneName</td>
                        <td>@item.Degree</td>
                        <td>@item.Oral</td>


                        <td>
                            <div class="btn-group display-inline pull-right text-align-center hidden-tablet">
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-cog fa-lg"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-xs pull-left">
                                    <li class="text-align-center">
                                        <a onclick="Edit('@item.StudentId')" class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate">تفاصيل</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


</script>




