﻿
@model List<IslamicAcademy.Core.VM.GardsApprovedVM>

@{
    Layout = null;
}
<div class="modal-dialog" style="width: 900px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

            <a onclick="Approved('@ViewBag.StudentId')" class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate">اعتماد</a>

            <table class="table table-hover table-bordered ">
                <thead>
                    <tr>

                        <th>اسم المتن</th>
                        <th>التحريرى </th>
                        <th> الشفوى</th>


                        @*<th></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                <tr>

                    <td>@item.ElmatoneName</td>
                    <td>@item.Degree</td>
                    <td>@item.Oral</td>


                    @*<td>
                    <div class="btn-group display-inline pull-right text-align-center hidden-tablet">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog fa-lg"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-xs pull-left">
                            <li class="text-align-center">
                            </li>

                        </ul>
                    </div>
                </td>*@

                </tr>
    }
                </tbody>
            </table>
        </div>
    </div>
</div>



