﻿@model IslamicAcademy.Core.VM.FirestBranchRegisterFM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <br />
                    <h4 class="page-title"><a href="~/HomeAdmin/index">الرئسيه</a>--  </h4>  <h4 class="page-title">الشفوى والتحريرى </h4>
                    <br />

                </div>
            </div>
        </div>
        <!-- START ROW -->
        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="row">
                    <div class="col-md-1">
                        <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Colleges   </label>
                    </div>
                    <div class="col-md-5">
                        @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@
                        @Html.DropDownListFor(x => Model.ColleageId, (List<SelectListItem>)ViewBag.CollegeList, new
                        {
                            @class = "form-control select2"

                        })
                    </div>

                    <div class="col-md-1">
                        <label>    المستوى   </label>
                    </div>
                    <div class="col-md-5">
                        @Html.DropDownListFor(x => Model.LevelId, (List<SelectListItem>)ViewBag.LevelList, new
                        {
                            @class = "form-control select2",
                            @onchange = "GetTrackList(this.value)",
                            @required = "required"

                        })
                    </div>


                </div>

                <br />
                <div class="row">
                    <div class="col-md-1">
                        <label>    المسار  </label>
                    </div>
                    <div class="col-md-5">
                        @Html.DropDownListFor(x => Model.TrackId, (List<SelectListItem>)ViewBag.TrackList, new
                        {
                            @class = "form-control select2",
                            @required = "required"

                        })
                    </div>

                    <div class="col-md-1">
                    </div>
                    <div class="col-md-1">
                        <button id="AddNew" onclick="Search()" class="btn yellow "> بحث </button>
                    </div>
                </div>
                <br />

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    @*<a href="@Url.Action("Create")" id="AddNew" onclick="Create()" class="btn yellow "> اضافه جديد</a>*@
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form class="smart-form">
                                <br />
                                <div id="SearchTableContainer">
                                    @Html.Action("GardsList")
                                </div>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->
    </section>
    <!-- end widget grid -->

    <div class="modal fade" id="myModalAddEdit" role="dialog" data-backdrop="static"></div>

</div>

<script src="~/Areas/Admin/Scripts/GardsApproved.js"></script>
<script type="text/javascript">

    //$(document).ready(function () {
    //    Gard.init();

    //})
        </script>
        <script>

        function GetTrackList(LevelId) {
            LevelId = LevelId ? LevelId : 0;
            var CollageId = $("#ColleageId").val();

            $.ajax
                ({
                    url: '/Admin/Courses/GetTrackList?id=' + LevelId + '&CollageId=' + CollageId,
                    type: 'Get',
                    datatype: 'application/json',
                    contentType: 'application/json',

                    success: function (result) {
                        $("#TrackId").html("");


                        $.each((result), function (i, edu) {

                            $("#TrackId").append
                                ($('<option></option>').val(edu.Value).html(edu.Text))
                        })
                    },
                    error: function () {
                        toastr.error("Whooaaa! Something went wrong..")
                    },
                });
        }
    function Approved(Id) {

        $.ajax
            ({
                url: '/Admin/Aproves/Approved',

                data: {


                    Id: Id


                },
                type: 'POST',
                datatype: 'application/json',

                success: function (result) {

                    toastr.success("تم الحفظ بنجاح");

                    location.reload();






                },
                error: function () {
                    // alert("Whooaaa! Something went wrong..")
                },
            });

    }


    function Search() {

        var TrackId = $("#TrackId").val();

        $.ajax
            ({
                url: '/Admin/Aproves/GardsList?TrackId=' + TrackId,
                type: 'Get',
                datatype: 'application/json',
                contentType: 'application/json',

                success: function (result) {
                    $("#SearchTableContainer").html(result);


                },
                error: function () {
                    toastr.error("Whooaaa! Something went wrong..")
                },
            });
    }
</script>