﻿<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li class="menu-title">@IslamicAcademy.Localiztion.IslamicAcademy.Main</li>


                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-map"></i><span> بوابة الطالب </span><span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled"></ul>
                </li>


                <li><a href="@Url.Action("Index1","PrepareStudents",new { @area="Student"})"> التقيم الاسبوعى</a></li>

                <li><a href="@Url.Action("Index1","StudentInstructions",new { @area="Student"})"> التعليمات و الإرشادات</a></li>




                <li><a href="@Url.Action("Index1","EvulationStudent",new { @area="Student"})"> درجات المواد</a></li>


                <li> <a href="@Url.Action("Index1","CoursesStudent",new { @area="Student"})">المقررات</a></li>
                <li> <a href="@Url.Action("create","CoursesStudent",new { @area="Student"})">تعديل المقررات</a></li>



                <li>
                    <a href="@Url.Action("Index1","certificate",new { @area="Student"})">    إستلام الشهادة</a>
                </li>
                <li>
                    <a href="@Url.Action("Index1","StudentDocuments",new { @area="Student"})">    الوثائق </a>
                </li>



            </ul>

                    <div class="clearfix"></div>
</div>
        <div class="clearfix"></div>
    </div>
</div>