﻿
@model IEnumerable<IslamicAcademy.Core.VM.StudentCoursesVM>

@{
    Layout = null;
    var TrakId = ViewBag.TrackingId;
    var StudentId = ViewBag.StudentId;
}
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Id</th>
                        
                        <th>اسم المادة </th>
                        <th>اسم المتن</th>
                        <th> الاختبار التحريرى</th>
                        <th> الاختبار الشفوى</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Id</td>
                        
                        <td>@item.MatrailName</td>
                        <td>@item.ElmatoneName</td>
                        <td><input type="number" id="@item.Id" name="@item.Id" class="form-control" onkeyup="checkInputValue(this,40)" /></td>
                        <td><input type="number" id="@item.ElmatoneId" name="@item.ElmatoneId" onkeyup="checkInputValue(this,50)" class="form-control"  /></td>

                        <td>


                            <div class="btn-group display-inline pull-right text-align-center hidden-tablet">
                                <a class="btn yellow " onclick="SaveValue('@item.Id','@item.ElmatoneId')" value=""> حفظ </a>

                            </div>
                        </td>


                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('.datatable').DataTable();

        //Buttons examples
        //var table = $('#datatable-buttons').DataTable({
        //    lengthChange: false,
        //    buttons: ['copy', 'excel', 'pdf']
        //});

        //table.buttons().container()
        //    .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    });
    function checkInputValue(input, maxValue) {
        console.log('***********************')
        console.log('event works ')
        var inputValue = $(input).val();
        if (inputValue > maxValue) {
            $(input).val(maxValue);
            toastr.error('لا يمكن ادخال قيمه اكبر من ' + maxValue);
        }
    }
</script>






