﻿@model IslamicAcademy.Core.VM.FirestBranchRegisterFM

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HighCommittee/Views/Shared/_Layout.cshtml";
    var TrakId = ViewBag.TrackingId;
    var StudentId = ViewBag.StudentId;
}


@Html.Raw(TempData["success"])

<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <br />
                    <h4 class="page-title"><a href="~/HomeAdmin/index">الرئسيه</a>--  </h4>  <h4 class="page-title"> رصد الدرجات  </h4>
                    <br />

                </div>
            </div>
        </div>
        <!-- START ROW -->
        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

               
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    <a href="@Url.Action("Index1", "Addgrades", new { area = "Teacher" })" class="btn yellow " value=" ">رجوع للقائمة السابقة </a>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form class="smart-form">
                                <br />
                                @Html.Action("GradesList", new { TrakingId = ViewBag.TrackingId, StudentId = ViewBag.StudentId })
                                <div id="SearchTableContainer"></div>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->
    </section>
    <!-- end widget grid -->

    <div class="modal fade" id="myModalAddEdit" role="dialog" data-backdrop="static"></div>
    @*<button onclick="SaveValue('1','2')" >aaaaaaaaaaa</button>*@
</div>


<script>
    function SaveValue(Id, EmtoneId)
    {
                       var SS = "#" + Id;
                       var value = $(SS).val();
                       var Oral1 = "#" + EmtoneId;
                       var Oral = $(Oral1).val();
                       if (value == 0) {
                           alert("من فضلك ادخل الدرجة")
                       }
                       else if(Oral == 0)
                       {
                           alert("من فضلك ادخل الدرجة")
                       }
                       else
                       $.ajax
                           ({
                               url: '/Teacher/AddGrades/EditGrades',

                               data: {


                                   TrackingId:@TrakId,
                                   ElmtoneId: EmtoneId,
                                   StudentId:@StudentId,
                                   Oral: Oral,
                                   Value: value


                               },
                               type: 'POST',
                               datatype: 'application/json',

                               success: function (result) {

                                   toastr.success("تم الحفظ بنجاح");







                               },
                               error: function () {
                                   // alert("Whooaaa! Something went wrong..")
                               },
                           });

                   }
</script>