﻿
@model IslamicAcademy.Core.VM.CoursesFM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@using (Html.BeginForm("Create", "Courses", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    @*<div class="modal-dialog" style="width: 900px;">*@
    <div class="modal-content" style="width: 1000px;">
        <div class="modal-header">
            <h4 class="modal-title">اضافه او تعديل &nbsp; &nabla; </h4>
        </div>
        <div class="modal-body" style="width :900px;">
            <div class="panel">
                @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                <div class="panel-body p25 pb5">
                    <div class="tab-content pn br-n admin-form">
                        <div id="tab1_1" class="tab-pane active">

                            <div class="row">
                                <div class="col-md-2">
                                    @Html.HiddenFor(model => model.Id)
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Branches   </label>
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@
                                    @Html.DropDownListFor(x => Model.BranchId, (List<SelectListItem>)ViewBag.BranchList, new
            {
                @class = "form-control select2",
                @onchange = "GetCollageList(this.value)"

            })
                                </div>


                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-2">
                                    @Html.HiddenFor(model => model.Id)
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Colleges   </label>
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@
                                    @Html.DropDownListFor(x => Model.ColleageId, (List<SelectListItem>)ViewBag.CollegeList, new
            {
                @class = "form-control select2"

            })
                                </div>


                            </div>

                            <div class="col-sm-12">
                                <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Level   </label>

                                <div class="form-group mb-10">
                                    <select class="form-control" id="Level" name="Level">
                                        <option value="الاول">الاول</option>
                                        <option value="الثانى">الثانى</option>
                                        <option value="الثالث">الثالث</option>
                                        <option value="الرابع">الرابع</option>
                                        
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <label>    المسار   </label>

                                <div class="form-group mb-10">
                                    <select class="form-control" id="Masare" name="Masare">
                                        <option value="1">الاول</option>
                                        <option value="2">الثانى</option>
                                        <option value="3">الثالث</option>
                                        <option value="4">الرابع</option>
                                        <option value="5">الخامس</option>
                                        <option value="6">السادس</option>
                                        <option value="7">السابع</option>
                                        <option value="8">الثامن</option>
                                    </select>
                                </div>
                            </div>


                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>    المادة   </label>
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@
                                    @Html.DropDownListFor(x => Model.MatarialeId, (List<SelectListItem>)ViewBag.MatarialeList, new
            {
                @class = "form-control select2",
                @onchange = "GetElmotenList(this.value)"

            })
                                </div>


                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-2">
                                    <label>    المتن   </label>
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@

                                    @Html.DropDownListFor(x => Model.ElmatoneId, (List<SelectListItem>)ViewBag.ElmatoneList, new
            {
                @class = "form-control select2",


            })

                                </div>


                            </div>
                            <br />
                            <br />

                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="@IslamicAcademy.Localiztion.IslamicAcademy.Save" class="btn yellow Saveee" onclick="Save()" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@IslamicAcademy.Localiztion.IslamicAcademy.Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*</div>*@
    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>

    @*</div>*@
}



<script src="~/Areas/Admin/Scripts/Courses.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        Courses.init();

    })

</script>
<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });

    function GetCollageList(BranchId) {
        BranchId = BranchId ? BranchId : 0;

        $.ajax
            ({
                url: '/Admin/Courses/GetCollageList?id=' + BranchId,
                type: 'Get',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    id: BranchId
                }),
                success: function (result) {
                    $("#ColleageId").html("");


                    $.each((result), function (i, edu) {

                        $("#ColleageId").append
                            ($('<option></option>').val(edu.Value).html(edu.Text))
                    })
                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });
    }

    function GetElmotenList(MatarialeId) {
        MatarialeId = MatarialeId ? MatarialeId : 0;

        $.ajax
            ({
                url: '/Admin/Courses/GetElmotenList?id=' + MatarialeId,
                type: 'Get',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    id: MatarialeId
                }),
                success: function (result) {
                    $("#ElmatoneId").html("");


                    $.each((result), function (i, edu) {

                        $("#ElmatoneId").append
                            ($('<option></option>').val(edu.Value).html(edu.Text))
                    })
                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });
    }
</script>
@*<script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Description');
    </script>*@

