﻿@model IslamicAcademy.Core.VM.FirestBranchRegisterFM
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HighCommittee/Views/Shared/_Layout.cshtml";
}


<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <br />
                    <h4 class="page-title"><a href="~/HomeAdmin/index">الرئسيه</a>--  </h4>  <h4 class="page-title"> رصد الدرجات  </h4>
                    <br />

                </div>
            </div>
        </div>
        <!-- START ROW -->

        <div class="col-md-12">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30">المستويات</h4>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link active" onclick="GetStudent('1')">
                            الاول
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link " onclick="GetStudent('2')">
                            الثانى
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link" onclick="GetStudent('3')">
                            الثالث
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link" onclick="GetStudent('4')">
                            الرابع
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link" onclick="GetStudent('5')">
                            الخامس
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link" onclick="GetStudent('6')">
                            السادس
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link" onclick="GetStudent('7')">
                            السابع
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link" onclick="GetStudent('8')">
                            الثامن
                        </a>
                    </li>


                </ul>
                <div class="tab-content">

                    <div class="row">
                        <div class="col-md-1">
                            <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Colleges   </label>
                        </div>
                        <div class="col-md-5">
                            @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@
                            @Html.DropDownListFor(x => Model.ColleageId, (List<SelectListItem>)ViewBag.CollegeList, new
                            {
                                @class = "form-control select2"

                            })
                        </div>

                        <div class="col-md-1">
                            <label>    المستوى   </label>
                        </div>
                        <div class="col-md-5">
                            @Html.DropDownListFor(x => Model.LevelId, (List<SelectListItem>)ViewBag.LevelList, new
                            {
                                @class = "form-control select2",
                                @onchange = "GetTrackList(this.value)",
                                @required = "required"

                            })
                        </div>


                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-1">
                            <label>    المسار  </label>
                        </div>
                        <div class="col-md-5">
                            @Html.DropDownListFor(x => Model.TrackId, (List<SelectListItem>)ViewBag.TrackList, new
                            {
                                @class = "form-control select2",
                                @required = "required"

                            })
                        </div>

                        <div class="col-md-1">
                        </div>
                        <div class="col-md-1">
                            <button id="AddNew" onclick="Search()" class="btn yellow "> بحث </button>
                        </div>
                    </div>
                    <br />

                    <div class="tab-pane fade" id="home">
                        @Html.Action("Search")

                    </div>

                </div>
            </div>
        </div>


        <!-- END ROW -->
    </section>
    <!-- end widget grid -->

    <div class="modal fade" id="myModalAddEdit" role="dialog" data-backdrop="static"></div>

</div>
@section scripts {
    @*<script src="~/Areas/Teacher/Scripts/Addgrades.js"></script>*@

}

<script>

    function GetTrackList(LevelId) {
        LevelId = LevelId ? LevelId : 0;
        var CollageId = $("#ColleageId").val();

        $.ajax
            ({
                url: '/Teacher/Addgrades/GetTrackList?id=' + LevelId + '&CollageId=' + CollageId,
                type: 'Get',
                datatype: 'application/json',
                contentType: 'application/json',

                success: function (result) {
                    $("#TrackId").html("");


                    $.each((result), function (i, edu) {

                        $("#TrackId").append
                            ($('<option></option>').val(edu.Value).html(edu.Text))
                    })
                },
                error: function () {
                    toastr.error("Whooaaa! Something went wrong..")
                },
            });
    }
    function GetStudent(LevelId) {



        $.ajax({
            url: '/Teacher/Addgrades/Search',
            data: { LevelId: LevelId },
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $("#home").html(data);
                //renderFees(data);
            }
        });

    };
    function Search() {
        var LevelId = $("#LevelId").val();
        var TrackId = $("#TrackId").val();


        $.ajax({
            url: '/Teacher/Addgrades/Search',
            data: { LevelId: LevelId, TrackId: TrackId },
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $("#home").html(data);
                //renderFees(data);
            }
        });

    };
</script>