﻿
@model IEnumerable<IslamicAcademy.Core.VM.TimeTableVM>

@{
    Layout = null;
}
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" width="100%">
                <thead>
                    <tr>
                        <th>@IslamicAcademy.Localiztion.IslamicAcademy.Id</th>

                        <th>السنة  </th>
                        <th>اليوم  </th>
                        <th>الوقت  </th>
                        <th>المقرر </th>


                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Year</td>
                            <td>@item.Day</td>
                            <td>@item.Time</td>
                            <td>
                                @Html.DropDownListFor(x => item.ElmatoneId, new SelectList(ViewBag.ElmatoneList, "Value", "Text", item.ElmatoneId), new
                                {
                                    @class = "form-control select2",
                                    @Id=item.Id


                                })

                            </td>

                            <td>
                                <div class="btn-group display-inline pull-right text-align-center hidden-tablet">
                                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" onclick="SaveValue('@item.Id')">
                                        حفظ
                                    </a>

                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.datatable').DataTable();

        //Buttons examples
        var table = $('#datatable-buttons').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf']
        });

        table.buttons().container()
            .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    });


</script>


<script>
                   function SaveValue(Id)
                   {
                     
                       var ElmatoneId = $("#" + Id).val();
                      
                     
                       $.ajax
                           ({
                               url: '/Admin/TimeTable/Edite?Id=' + Id + "&ElmatoneId=" + ElmatoneId,

                             
                               type: 'POST',
                               datatype: 'application/json',

                               success: function (result) {

                                   toastr.success("تم الحفظ بنجاح");







                               },
                               error: function () {
                                   // alert("Whooaaa! Something went wrong..")
                               },
                           });

                   }
</script>


