ul#portfolio-filter,ul#portfolio-filter li,ul#portfolio-filter li a {
	padding:0px !important;
	margin:0px !important;
}

/* Layout */
.boundingBox {
margin: 0 auto;
width: 100%;
}
/* Content */

#content {
padding: 20px 0;
}
/* Content - Portfolio Listing */

ul#portfolio-filter {
margin: -20px 0;
padding: 0;
height: 64px;
padding-right: 70px;
line-height: 64px;
background: transparent url(../images/icon-tag-green.png) right no-repeat;
}
ul#portfolio-filter li {
display: inline;
}
ul#portfolio-filter a {
margin-left: 0.5em;
padding: 0.5em 1em;
background: #FFF;
color: #AAA;
font-weight: bold;
text-decoration: none;
float:right;
}
ul#portfolio-filter a:hover, ul#portfolio-filter a.current {
color: #888;
}
ul#portfolio-filter a.current {
background-color: black;
color:white;
}
ul#portfolio-list {
margin: 36px 0 0 0;
padding: 0;
list-style: none;

}
ul#portfolio-list li {
width: 100%;
height: auto;
display: block;
float: right;
margin-left: 18px;
overflow: hidden;
background:#f6f6f6;
margin-bottom:10px;
}
ul#portfolio-list li a {
display: block;
width: 163px;
height: 120px;
overflow: hidden;
border: 1px solid #CDCDCD;
background: #eee;

}
ul#portfolio-list li p {
font-size: 13px;
    text-align: center;
    line-height: 23px;
    color: #2f2d2d;
    margin: 5px 0;
	height: 47px;
    overflow: hidden;
	padding-left:7px;
	padding-right:7px;
}

ul#portfolio-filter, ul#portfolio-filter li, ul#portfolio-filter li a {



}

ul#portfolio-filter {
	margin-right:28% !important;
}

 ul#portfolio-filter li a {
	 color:white;
	background:#cc942f;
	margin-left:10px !important;
		width:125px;
		text-align:center;
		 -webkit-transition: 2s; /* Safari */
    transition: 2s;
}

 ul#portfolio-filter li a:hover {
	 background:black;
	 color:white;
 }
 
 
 @media (max-width: 979px) { 



ul#portfolio-filter {
	margin-right:7% !important;
}

ul#portfolio-filter li a {
	width:90px !important;
}

ul#portfolio-list li a {
    display: block;
    width: 100%;
    height: auto;
    /* overflow: hidden; */
    border: 1px solid #CDCDCD;
    /* background: #eee; */
}

ul#portfolio-list li a img {
	width:100%;
}

ul#portfolio-list li {
	margin-bottom:20px;
}

 }