body {
	font-family: 'Cairo', sans-serif;
	position:relative;
}

.cleaner {clear:both;}
.cleaner-h1 {clear:both; height:10px;}
.cleaner-h2 {clear:both; height:20px;}
.cleaner-h3 {clear:both; height:30px;}
.cleaner-h4 {clear:both; height:40px;}
.cleaner-h5 {clear:both; height:50px;}

ul , li {
	padding:0px;
	margin:0px;
	list-style:none;
}

.header {
	background:#f1f1f1;
	width:100%;
	height:150px;

}

.btn-slider-1 {
	border:1px solid black;
    color: white !important;
	width:100px;
	height:45px;
	text-align:center;
    /* margin-left: 14px; */
    margin-right: -100px;
	line-height:28px;
}

.btn-slider-2 {
	background:#cc942f;
    color: white !important;
	width:100px;
	height:45px;
	text-align:center;
    /* margin-left: 14px; */
    margin-right: 150px;
	line-height:28px;
}


.strip {
	width:64%;
	height:53px;
	background:#282824;
	    position: absolute;
    left: 0px;
	border-radius:0px 3px 21px 0px;
	z-index:2;
}


.logo {
	margin-top:20px;
}

.pos {
	margin-right: -51px;
	margin-top:-9px;

}

.strip ul {
	float:left;
	margin-left:110px;
	margin-top:12px;
}

.border-login {
	margin-left:10px;
	border-left:1px solid white;
	padding-left:10px;
}

a.login {
	color:white;
}

a.login:hover {
	text-decoration:none;
}

.strip ul li {
	display:inline-block;
	margin-left:15px;
}

.strip ul li a i {
    width: 31px;
    height: 29px;
    color: black;
    /* border-radius: 25px; */
    line-height: 31px;
    margin-left: -8px;
    background: white;
    padding: 0px 10px 0px;
	 -webkit-transition: 2s; /* Safari */
    transition: 2s;
}

.strip ul li a:hover i {
	background:#cc942f;
	color:white;
}

ul.postiotn {
	position:fixed;
	z-index:2222;
	left:0px !important;
	top:215px;

}

ul.postiotn  li a i  { 
    width: 31px;
    height: 29px;
    color: white;
    /* border-radius: 25px; */
    line-height: 31px;
    background: #cc942f;
    padding: 0px 10px 0px;
	margin-bottom:7px;
	margin-right:18px;
	 -webkit-transition: 2s; /* Safari */
    transition: 2s;

}

ul.postiotn li a {
		 -webkit-transition: 2s; /* Safari */
    transition: 2s;
}

ul.postiotn li a:hover i {
	color:white;
	background:black;
}
	

.postiotn li.login-rotate { 
      width: 67px;
    height: 32px;
    color: white;
    /* border-radius: 25px; */
    background: #cc942f;
    padding: 4px 11px 0px;
    font-weight: bold;
    margin-bottom: 7px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 19px;
    margin-left: -18px;
}

.postiotn li.login-rotate {
	 -webkit-transition: 2s; /* Safari */
    transition: 2s;
}

.postiotn li.login-rotate a {
	color:white;
	 -webkit-transition: 2s; /* Safari */
    transition: 2s;
}

.postiotn li.login-rotate:hover {
	background:black;
	color:white;
	text-decoration:none;
}




ul.menu {
	float:left;
	margin-top:90px;
}


ul.menu li {
	display:inline-block;
	margin-right:35px;
}

ul.menu li a {
	color:black;
	font-weight:bold;
	font-size:14px;
	font-weight:bold;
}

ul.menu li a:hover {
	text-decoration:none;
}

.news-page {
	background:url(../images/white-back.png);
	background-repeat:repeat;
	width:100%;
	height:auto;
}

.new-1 {
	width:100%;
	height:auto;
	background:#e3e3e2;
	border-bottom:2px solid #cc942f;
	margin-bottom:25px;
}

.new-1 img {
	margin-bottom:10px;
	width:100%;
	height:208px;
}

.new-1 h2 {
	padding:0px;
	margin:0px;
	font-size:22px;
	text-align:center;
	margin-bottom:-10px;
}

.new-1 h2 a {
	color:black;
}

.new-1 h2 a:hover{
	text-decoration:none;
}

.new-1 p {
	    padding: 0px 10px;
    font-size: 12px;
    text-align: center;
	    margin-top: -24px;
    height: 49px;
    overflow: hidden;
	line-height:22px !important;
}

.new-1 h5 {
	text-align:center;
	color:gray;
	margin-bottom:10px;
	padding-bottom:15px;
}



.main-header .header-lower{
	position:relative;
	padding:0px 0px;
	background:#36404b;
	
}

.main-menu{
	position:relative;
	z-index:5;
	margin-top:81px;
}

.main-menu .navbar-collapse{
	padding:0px 0px;	
}

.main-menu .navbar-collapse > ul > li{
	position:relative;
	float:right;
}

.main-menu .navbar-collapse > ul > li.dropdown > a:after{
	font-family: 'FontAwesome';
	content: "\f107";
	position:absolute;
	left:5px;
	top:10px;
	width:10px;
	height:20px;
	display:block;
	color:black;
	line-height:20px;
	font-size:13px;
	text-align:center;
	z-index:5;	
}

.main-menu .navbar-collapse > ul > li > a{
	position:relative;
	display:block;
	font-size:14px;
	font-weight:bold;
	line-height:24px;
	padding:8px 19px;
	color:#282824;
	background:none;
	overflow:hidden;
	text-transform:uppercase;
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

.main-menu .navbar-collapse > ul > li.dropdown > a{
/*	padding:16px 50px 16px 26px;*/
}

.main-menu .navbar-collapse > ul > li:hover > a,
.main-menu .navbar-collapse > ul > li.current > a,
.main-menu .navbar-collapse > ul > li.current-menu-item > a{
	color:black;

}

.main-menu .navbar-collapse > ul > li > ul{

    position: absolute;
    display: block;
    width: 210px;
    top: 120%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background: #eba032;
	border:1px solid rgba(255,255,255,0.50);
	border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	-ms-border-radius:0px 0px 5px 5px;
	-moz-border-radius:0px 0px 5px 5px;
	-o-border-radius:0px 0px 5px 5px;
}

.main-menu .navbar-collapse > ul > li:hover > ul{
	top:100%;
	opacity: 1;
    visibility: visible;
    transition:all 400ms ease 100ms;
	-moz-transition:all 400ms ease 100ms;
	-webkit-transition:all 400ms ease 100ms;
	-ms-transition:all 400ms ease 100ms;
	-o-transition:all 400ms ease 100ms;
}

.main-menu .navbar-collapse > ul > li > ul > li{
	position:relative;
	display:block;
	border-bottom:1px solid rgba(255,255,255,0.50);
}

.main-menu .navbar-collapse > ul > li > ul li.dropdown:after{

	position:absolute;
	left:7px;
	top:7px;
	width:20px;
	height:20px;
	display:block;
	color:#ffffff;
	line-height:20px;
	font-size:16px;
	text-align:center;
	z-index:5;	
}

.main-menu .navbar-collapse > ul > li > ul > li:last-child{
	border:none;	
}

.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn{
	position:absolute;
	left:10px;
	top:6px;
	width:34px;
	height:30px;
	border:1px solid #ffffff;

	background-size:20px;
	cursor:pointer;
	z-index:5;
	display:none;
	border-radius:3px;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
}

.main-menu .navbar-collapse > ul > li > ul > li > a {
    display: block;
    line-height: 24px;
    font-size: 14px;
	color:#ffffff;
	padding:7px 15px;
	background:none;
	transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
}
 
.main-menu .navbar-collapse > ul > li > ul > li:hover > a {
	background:rgba(255,255,255,0.30);
	padding-right:20px;
}

.main-menu .navbar-collapse > ul > li > ul > li > ul{
    position: absolute;
    display: block;
    width: 210px;
    top: -1px;
    right: 120%;
    opacity: 0;
    visibility: hidden;
    background: #eba032;
	border:1px solid rgba(255,255,255,0.50);
	border-radius:0px 5px 5px 5px;
	-webkit-border-radius:0px 5px 5px 5px;
	-ms-border-radius:0px 5px 5px 5px;
	-moz-border-radius:0px 5px 5px 5px;
	-o-border-radius:0px 5px 5px 5px;
}

.main-menu .navbar-collapse > ul > li > ul > li:hover > ul{
	opacity: 1;
	right:100%;
    visibility: visible;
    transition:all 400ms ease 100ms;
	-moz-transition:all 400ms ease 100ms;
	-webkit-transition:all 400ms ease 100ms;
	-ms-transition:all 400ms ease 100ms;
	-o-transition:all 400ms ease 100ms;
}

.main-menu .navbar-collapse > ul > li > ul > li > ul > li{
	position:relative;
	display:block;
	border-bottom:1px solid rgba(255,255,255,0.50);
}

.main-menu .navbar-collapse > ul > li > ul > li > ul > li:last-child{
	border:none;	
}

.main-menu .navbar-collapse > ul > li > ul > li > ul > li > a {
    display: block;
    line-height: 24px;
    font-size: 14px;
	color:#ffffff;
	padding:7px 15px;
	background:none;
	transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
}
 
.main-menu .navbar-collapse > ul > li > ul > li > ul > li:hover > a {
	background:rgba(255,255,255,0.30);
	padding-right:20px;
}

.header-lower .social-links{
	position:relative;
	padding-top:3px;
	text-align:left !important;
}




.main-slider{
	position:relative;
	color:#ffffff;
	font-size:15px;
	z-index:0;
}

.main-slider .grey-title{
	position:relative;
	padding:10px 20px;
	background:rgba(54,64,75,0.85);
	color:#ffffff;	
}

.main-slider .white-title{
	position:relative;
	padding:10px 20px;
	background:rgba(255,255,255,0.85);
	color:#fb4848;	
}

.main-slider h2{
	font-size:48px;
	line-height:1.2em;
	font-weight:300;
}

.main-slider .tp-bullets{
	display:none;	
}


.main-slider:after,
.page-banner:after,
.main-slider:before,
.page-banner:before{
	content:'';
	position:absolute;
	display:block;
	width:50%;
	height:5px;
	bottom:-5px;
	z-index:1;
}

.main-slider:after,
.page-banner:after{
	left:50%;
	background:#cccccc;
}

.main-slider:before,
.page-banner:before{
	left:0%;
	background:#fb4848;
}


.content-slider {
	position:absolute;

	width:85%;
	height:auto;
	background:url(../images/background-slider.png);
	background-repeat:no-repeat;
	padding:30px 0px;
	right: 101px;

top: 663px;
}

.border-leftt {
	border-left:1px solid white;
}

.border-leftt img {
	float:right;
	margin-left:13px;
}

.border-leftt h3 {
	font-weight:bold;
	font-size:23px;
}

.border-leftt h3 , .border-leftt p {
	color:white;
}

.about-us {
	background:url(../images/background-white.png);
	background-repeat:repeat-x;
	width:100%;
	height:500px;

}

.margin {
	margin-top:0px !important;
	background:none;
	height:auto;
}

.line {
	width:2px;
	height:75px;
	background:#cf902c;
	float:right;
	margin-left:20px;
}

.line-small {
	width:2px;
	height:45px;
	background:#cf902c;
	float:right;
	margin-left:20px;
	margin-top:7px;
} 

.line-green {
	width:2px;
	height:75px;
	background:#07901b;
	float:right;
	margin-left:20px;
}

.about-us h2 {
	margin-bottom:30px;
}

.about-us p {
	line-height:27px;
	color:#918e8e;
}

.vision {
	background:#cf902c;
	width:100%;
	height:290px;
	padding:20px;
	text-align:center;
	border-radius:7px;
	margin-top:25px;
}

.vision h4 , .vision p {
	color:white;
}

.vision img {
	margin-top:10px;
	margin-right:29%;
	padding-bottom:10px;
}

.message {
	background:black;
}

.numbers {
	width:100%;
	height:308px;
	background:url(../images/number.png);
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.numbers img {
	padding:20px;
	border:2px solid white;
	border-radius:53px;
	margin-right: 31%;
    margin-bottom: 18px;
    padding-top: 28px;
}

.fh5co-counter {
	font-size:32px;
	font-weight:bold;
	color:white;
	display:block;
}

.fh5co-counter-label {
	color:white;
}

h2.title {
	font-size:22px;
	font-weight:bold;
}

.block-new {
	width:100%;
	height:auto;
	background:white;
	padding-bottom:10px;
}

.block-new h5 {
	text-align:center;
	color:black;
	font-size:17px;
	font-weight:bold;
	margin-bottom:10px;
	padding-top:10px;
}

.block-new p {
	color:#5c5b59;
	text-align:right;
	padding:0px 15px;
	line-height:27px;
	    height: 166px;
    overflow: hidden;
}

.block-new-1 {
	position:relative;
		z-index:0;
		margin-bottom:15px;
}

.pos-image {	
	width:100% !important;
	height:157px;
}

.overlay {
	position:absolute;
	top:0px;
	background:black;
	z-index:2;
	width:100%;
	height:157px;
	opacity:0.4;
}

.text-pos {
	position:absolute;
	top:0px;
	z-index:3;
	margin-top:27px;
}

.text-pos h5{
	text-align:center;
	color:white;
	font-weight:bold;
	font-size:18px;
}

.text-pos p {
	color: white;
    padding: 0px 15px 15px 9px;
    height: 53px;
    line-height: 27px;
    overflow: hidden;
	font-size:12px;
}

.study {
	background:#e3e3e2;
	background-image:url(../images/white-back.png);
	width:100%;
	height:auto;
}

.video-1 {
	width:100% !important;
	height:370px;
	background-image:url(../images/background-slider.png);
	background-repeat:repeat;
}

.title-video {
	color:white;
}

.new-block {
	background:#f6f6f6;
}

.video-1 p.text-video {
	color:white;
	line-height:27px;
	    height: 160px;
    overflow: hidden;
}

ul.buttons li {
	display:inline-block;
}

ul.buttons li a {
	background:#282824;
	width:120px;
	text-align:center;
	color:white;
	    height: 40px;
    line-height: 25px;
}

ul.buttons li a:hover {
	color:#d49229;
}

.news p {
	height:60px;
}

.news-blocks {
	background:url(../images/white-back.png);
	background-repeat:repeat;
}

.twitter-timeline {
	width:100%;
	height:350px !important;
}

.newsletter {
	width:100%;
	background:url(../images/background-slider.png);
	padding:40px 0px;
}

.newsletter p {
	color:white;
	font-size:22px;
	line-height:35px;
}

.newsletter p.i i {
	color:white;
	font-size:22px;
	font-size:37px;
	margin-left:15px;
	float:right;
	margin-top:11px;
}

.newsletter p span{
	display:block;
	margin-right:7.5%;
}

.newsletter form input {
	width:76%;
	height:46px;
	padding:10px;
}

.btn-gemy-form {
	background: black;
    color: white;
    padding: 12px 10px;
    /* margin-left: 14px; */
    margin-right: -3px;
    margin-top: -4px;
	 -webkit-transition: 2s; /* Safari */
    transition: 2s;
}

.btn-gemy-form:hover {
	background:#cc942f;
	color:white;
}


form.newsleter {
	margin-top:24px;
}

.fotter {
	background:#282824;
	height:auto;
	width:100%;
}

.border {
	width:100%;
	border-left:2px solid white;
}

.logo-fotter {
	margin-top:45px;
	margin-bottom:50px;
}

ul.menu-fotter {
	margin-top:60px;
}

ul.menu-fotter li a {
	color:white;
	line-height:38px;
}

.strip-fotter {
	background:black;
	width:100%;
	height:45px;
	text-align:center;
	color:white;
	line-height:40px;
	font-size:12px;
}

.img-internal {
	width:100%;
	height:170px;
	background:url(../images/number-2.png);
	position:relative;
	background-attachment:fixed;
	border-bottom:2px solid black;
}

.overlay-big {
	position:absolute;
	background:black;
	width:100%;
	height:170px;
	right:0;
	opacity:0.5;
}

.img-internal h2 {
    color: white;
    margin-top: 73px;
    padding-bottom: 15px;
    font-size: 22px;
    text-align: right;
    width: 29%;
}

.line-orang {
	width:55px;
	height:2px;
	background:orange;
}

.left-col {
	float:left;
	margin-top:135px;
}

.left-col p {
	float:right;
	color:white;
	font-weight:bold;
}

.left-col p a {
	color:#cc942f;
	margin-left:7px;
}
	

.study-tasgel {
	background-image:none;
	background:#f1f1f0;
}

.tasgeel label {
	display:block;
	font-weight:200;
	margin-bottom:15px;
}

.tasgeel input , .tasgeel select {
	width:100%;
	height:35px;

	margin-bottom:25px;
}

.title-tasgel {
	width:100%;
	margin-bottom:45px;
}

.radio-label {
	float:right;
	width:60%;
	margin-bottom:15px !important;
	}
	
	.radio {
		width:40%;
		float:left;
		margin-top:-7px;
	}
	
	.radio input {
		width:35px;
		height:35px;
		float:right;
		background:white;
	}

	.radio p {
		float:right;
		margin-left:50px;
		margin-right:10px;
		font-weight:bold;
		margin-top:10px;
	}
	
	.text-area {
		margin-top:7px;
	}
	
	.text-area textarea {
		    width: 87%;
    height: 139px;
	margin-bottom:25px;
	}
	
	.btn-padding {
		padding-left:35px;
		padding-right:35px;
		margin-right:16px;
		margin-left:20px;
		 -webkit-transition: 2s; /* Safari */
    transition: 2s;
	}
	
	.btn-padding:hover {
		background:none;
		color:black;
		border:1px solid black;
	}
	
	.btn-padding-1 {
		padding-left:35px;
		padding-right:35px;
		background:none;
		color:black;
		border:1px solid black;
		 -webkit-transition: 2s; /* Safari */
    transition: 2s;
	}
	
	.btn-padding-1:hover {
		background:black;
		color:white;
	}
	
	.login-side {
		background:#f4f4f4;
		padding:15px 10px 10px 10px;
		border-bottom:2px solid #cc942f;
	}
	
	.login-side h4 {
		padding:0px;
		margin:0px;
		margin-bottom:10px;
	}
	
	.line-horz {
		background:#cc942f;
		width:20%;
		height:2px;
		margin-bottom:15px;
	}
		
	.login-side label {
		display:block;
		margin-bottom:7px;
		font-weight:400;
	}
	
	.login-side input {
		width:100%;
		height:35px;
		padding:7px;
		margin-bottom:20px;
	}
	
	.text-centter {
		text-align:center;
		color:#cc942f;
		margin-bottom:9px;
		margin-right:9%;
	}
	
	.text-centter:hover {
		text-decoration:none;
		color:black;
	}
	
	.btn-form-side {
		margin-bottom:10px;
		margin-right: 2px;
    padding: 7px;
	}
	
	.btn-form-side:hover {
		border:1px solid black;
		background:none;
	}
	
	.first-news img {
		width:75px;
		height:59px;
		float:right;
		margin-left:7px;
	}
	
	.first-news h5 {
		font-size:12px;
		color:#918e8e;
		height:48px;
		overflow:hidden;
		line-height:22px;
	}
	
	.first-news h5 a {
		color:#918e8e;
	}
	
	.first-news h5 a:hover {
		text-decoration:none;
	}
	
	.pagination {
		margin-right:35%;
	}
	
	
		
		.pagination>li:first-child>a, .pagination>li:first-child>span , .pagination>li:last-child>a, .pagination>li:last-child>span {
			color:white !important;
		background:#cc942f !important;
		padding:10px 15px;
		border:none;
		}
		
		.pagination>li>a, .pagination>li>span {
			padding:9px 15px;
			color:black;
		}
		
		.gray-back {
			background:#f4f4f4;
			width:100%;
			height:auto;
			padding-bottom:20px;
		}
		
		.title-new {
			font-size:16px !important;
			font-weight:400;
		}
		
		.img-new {
			width:100%;
			height:auto;
		}
		
		.gray-back h4 , .gray-back h5 , .gray-back p {
			padding:0px 20px;
		}
		
		.gray-back h4 {
			padding-top:15px;
			padding-bottom:7px;
		}
		
		.gray-back h5 {
			padding-bottom:7px;
		}
		
		.gray-back p {
			line-height:37px;
		}
		
		.share {
	background:white;
	border:1px solid #f3f3f3;
	width:95%;
	height:75px;
	padding:10px;
	margin-right:2.5%;
}

.share h4 {
	float:right;
	margin-top: 1px;
    margin-right: -15px;
}

.share .social-linkss {
	float:left;
	margin-left:10px;
	margin-top:12px;
}

.share .social-linkss a  {
	background:#cc942f;
	color:white;
	padding:10px;
}

.titles {
	padding-top:17px;	
}

.new-realted h5 {
	padding-bottom:2px;
}

.new-realted p {
	margin-top:-22px;
}

.contact-us label {
	display:block;
	margin-bottom:7px;
}

.contact-us input {
	width:100%;
	height:33px;
	margin-bottom:12px;
}

.contact-us textarea {
	width:100%;
	height:120px;
}

.social-linksss {
	margin-left:10px;
	margin-top:12px;
}

.social-linksss a  {
	background:#cc942f;
	color:white;
	text-align:center;
	line-height:37px;
	width:35px;
	height:35px;
	 -webkit-transition: 2s; /* Safari */
    transition: 2s;
}

.social-linksss a:hover  {
	background:black;
	color:white;
	text-decoration:none;
}

.social-linkss-1 p {
	display:block;
	text-align:right;
}



.about-internal {
	background:#f6f6f6;
	width:100%;
	height:auto;
}


.ui-tabs-vertical { width: 100%; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em;}
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-active ui-state-active {
	border:0px !important;
}

  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; }
  
  #tabs ul li {
	  display:inline-block !important;
    width: 46%;
    margin-right: 8px;
    padding: 10px;
    border: 1px solid #c7c6c6;
	text-align:center;
	margin-bottom:10px;
	color:black;
	background:#cc942f;
  }
  
    #tabs ul li img {
display: block;
margin-right: 28%;
height: 46px;
width: 46px;
margin-bottom: 17px;
	}
	
	#tabs ul li {
		    width: 119px;
    height: 120px;
	}
	
	#tabs ul li.ttabs { 
	width: 119px;
    height: 120px;
	padding-top:27px;
	
	}
	
	#tabs ul li.ttabs img {
		margin-bottom:20px;
		
	}
		
	
	 #tabs ul li a {
	color:white;
  }
  
  #tabs-1 p{
	  margin-top:7px;
  }
	
	#tabs-1 img , #tabs-2 img , #tabs-3 img , #tabs-4 img , #tabs-5 img , #tabs-6 img , #tabs-7 img {
		margin-right:29%;
		width:110px;
		height:110px;		
	}
	
	#tabs-1 h2 , #tabs-2 h2 , #tabs-3 h2 , #tabs-4 h2 , #tabs-5 h2 , #tabs-6 h2 , #tabs-7 h2 {
		margin-bottom:10px;
	}
	
	#tabs-1 p , #tabs-2 p , #tabs-3 p , #tabs-4 p , #tabs-5 p , #tabs-6 p , #tabs-7 p{
		line-height:30px;
	}
	
	.width {
	width:100%;
	height:auto;
}

.frooo3 label {
	display:block;
	font-weight:400;
	margin-bottom:10px;
}

.frooo3 input , .frooo3 select {
	width:100%;
	height:33px;
	margin-bottom:15px;
}

table, th, td {
    border: 1px solid #dedede;
	 border-collapse: collapse;
}

th, td {
	 padding: 5px;
}

table {
    border-spacing: 15px;
	margin-bottom:15px;
}

table tr td input {
	margin-top:7px;
}

tr.table-first th {
	text-align:center;
}

table input[type=checkbox] {
	height:auto !important;
}

.frooo3 input[type=radio] {
	height:auto;
	width:10%;
	float:right;
	margin-left:7px;
}

.right-1  , .right-2  {
	width:49.5%;
	float:right;
}

.right-1 p, .right-2 p {
	margin-top:-7px !important;
}

.btn-padd {
	padding-left:20px;
	padding-right:20px;
}

audio {
	border-radius:25px;
	background:white !important;
}

.youtube-bytom {
	background:#ba8728;
	padding:5px 10px;
	border:0px;
	border-radius:250px;
	margin-right:37%;
	
}

.youtube-bytom i {
	color:white;
	font-size:17px;
}

.tabels thead tr th {
	text-align:center !important;
	height:75px;
}

.modal-header .close {
	margin-top:-20px;
}

.tabel-final {
	width: 100%;
}

.new-realted img {
	height:135px;
}

.tabel-tab tabel {
	background:black;
	color:white;
}

.table-first {
	background:black;
	color:white;
	height:60px;
}

.blcok {
	background:black;
	height: 102px;
	width:100%;
padding-top: 10px;
}

.blcok:hover {
	background:orange;
}

.blcok a {
	color:white;
	font-weight:bold;
}

.blcok a:hover {
	text-decoration:none;
}

.blcok img {
	margin-right:23%;
}

.blcok h4 {
	font-size:14px;
	text-align:center;
}

.mosta  {
	background:black;
	height:74px;
	color:white;
	width:100%;
	text-align:center;
}

.mosta a {
	text-align:center;
	color:white;
	font-size:27px;
	line-height:70px;
}

h4.mosta-a {
	text-align:center;
}

.orange {
	background:#cc942f;
	-webkit-transition: 2s; /* Safari */
    transition: 2s;
}

.heade-h2 {
	font-size:23px;
}

h4.mosta-a a {
	color:black;
	font-size:14px;
	text-align:center;
}

ul.menu-right {
	display:inline-block;
}

ul.menu-right li {
	background:#cc942f;
	width:120px;
	height:110px;
	float:right;
	padding:10px;
	margin-left:10px;
	margin-bottom:10px;
}

ul.menu-right li img {
	width:50px;
	height:50px;
}

ul.menu-right li a {
	text-align:center;
	color:white;
}
ul.menu-right li a p {
	font-size:12px;
}

ul.menu-right li i {
	color:white;
	font-size:37px;
	text-align:center;
	margin-right: 33%;

margin-top: 14px;

margin-bottom: 8px;
}

ul.menu-mmoezat li {
	line-height:33px;
}

ul.menu-mmoezat li i {
	color:#cc942f;
	margin-left:12px;
}

@media (max-width: 979px) { 

	.youtube-bytom { 
		margin-right: 0%;
	}

.navbar-brand > img {
	width:100px !important;
	margin-top:-7px;	
}

.img-internal {
	margin-top:-20px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
	height:82px;
}

.navbar-collapse {
	height:auto !important;
}

.navbar-toggle {
	margin-top:25px;
}

.border {
	border-left:0px;
}

.logo-fotter {
	margin-right:1%;
}

.vision img {
	margin-right:33%;
}

.newsletter p {
	font-size:17px;
}

.newsletter form input {
	width:68%;
}

.img-internal h2 {
	width:70%;
}

.pagination {
	margin-right:14%;
}

.width {
	width:100%;
	height:auto;
}

.about-us {
	height:auto;
	padding-bottom:40px;
}

.vision {
	width:100%;
	height:auto;
}

.numbers {
	width:100%;
	height:auto;
}

.numbers img {
	margin-right:17%;
}

ul.buttons li a {
    width: 104px;
    font-size: 12px;
}

.video-1 {
	height:auto;
}

}