﻿
@model IslamicAcademy.Core.VM.CollegeFM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*<div id="fb-root"></div>
<script>
(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-comments"></div>
<br />
<br />

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-comment-embed"
     data-href="https://www.facebook.com/zuck/posts/10102735452532991?comment_id=1070233703036185"
     data-width="500"></div>
<br />
<br />
<br />

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


<div class="fb-comment-embed" data-href="https://www.facebook.com/zuck/posts/10102577175875681?comment_id=1193531464007751&amp;reply_comment_id=654912701278942" data-width="560" data-include-parent="false"></div>*@

@using (Html.BeginForm("Create", "Colleges", new { area = "Admin" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    @*<div class="modal-dialog" style="width: 900px;">*@
    <div class="modal-content" style="width: 1000px;">
        <div class="modal-header">
            <h4 class="modal-title">اضافه  @IslamicAcademy.Localiztion.IslamicAcademy.Colleges &nbsp; &nabla; </h4>
            <a href="@Url.Action("Index1", "Colleges", new { area = "Admin" })" class="btn yellow " value=" ">رجوع للقائمة السابقة </a>
        </div>
        <div class="modal-body" style="width :900px;">
            <div class="panel">
                @*<div class="panel-heading">
                        <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                    </div>*@
                <div class="panel-body p25 pb5">
                    <div class="tab-content pn br-n admin-form">
                        <div id="tab1_1" class="tab-pane active">

                            <div class="row">
                                <div class="col-md-2">
                                    @Html.HiddenFor(model => model.Id)
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Branches   </label>
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@
                                    @Html.DropDownListFor(x => Model.BranchId, (List<SelectListItem>)ViewBag.BranchList, new
                                    {
                                        @class = "form-control select2"

                                    })
                                </div>


                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label>    @IslamicAcademy.Localiztion.IslamicAcademy.Details   </label>
                                </div>
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.Details, new { @id = "Details", @required = "required" })*@
                                    <input type="text" class="form-control" id="Name" name="Name" required value="@Model.Name" />
                                    @*<script>
                                            CKEDITOR.replace('Details');
                                        </script>*@
                                </div>


                            </div>
                            <br />
                            <br />

                            <div class="row">
                                <div class="col-md-6">

                                </div>
                                <div class="col-md-3">
                                    <input type="button" value="@IslamicAcademy.Localiztion.IslamicAcademy.Save" class="btn yellow Saveee" onclick="Save()" />
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@IslamicAcademy.Localiztion.IslamicAcademy.Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @*</div>*@
    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>

    @*</div>*@
}



<script src="~/Areas/Admin/Scripts/Colleges.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        Colleges.init();

    })

</script>


@*<script>
        $(document).ready(function () {
            $("input[type=text]").addClass("gui-input");
        });

        $('.btn').on('click', function () {
            var $this = $(this);
            setTimeout(function () {
                $this.button('reset');
            }, 8000);
        });

    </script>*@

