﻿
@model IEnumerable<IslamicAcademy.Core.VM.EvulationVM>

@{ 
    Layout = null;
}
@if (Model != null)
{
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered " width="100%">
                <thead>
                    <tr>

                        <th>اسم المتن</th>

                        <th>الاختبار الشفوى </th>
                        <th>الاختبار التحريرى </th>
                        <th>المجموع </th>
                        <th>المعدل </th>
                        <th>التقيم </th>




                        @*<th></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.ElmatoneName</td>

                        <td>@item.Oral</td>
                        <td>@item.Degree</td>
                        <td>@item.Total</td>

                        <td>@item.Ev</td>
                        <td>@item.Evulation</td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>
    </div>
}
        <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


        </script>




