﻿<div class="row">
    <div class="col-10" style="margin-right:100px;">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered "  >

                <tr>

                    <td>
                        اسم الطالب
                    </td>
                    <td>
                        @ViewBag.StudentName
                    </td>
                    <td>
                        المستوى
                    </td>
                    <td>
                       @ViewBag.Track
                    </td>




                </tr>
                

            </table>
           </div>
</div>
</div>