﻿
<div class="row">
    <div class="col-4" style="margin-right:50px; ">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered ">

                <tr>

                    <td style="width:150px;">
                        المجموع الاحمالى
                    </td>
                    <td>
                     @Convert.ToInt32(ViewBag.Total)
                    </td>
                   


                </tr>
                <tr>

                    <td style="width:150px;">
                       النسبة المئوية
                    </td>
                    <td>
                        @Convert.ToInt32( ViewBag.Ev)%
                    </td>
                   




                </tr>

               

            </table>
        </div>
    </div>
</div>