﻿
@{
    Layout = null;
}


<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>متون</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


    <link rel="stylesheet" type="text/css" href="~/assetsweb/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assetsweb/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/assetsweb/js/slider/revolution-slider.css" />

    <link rel="stylesheet" type="text/css" href="~/assetsweb/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assetsweb/js/animate/animate.css" />


    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/assetsweb/css/portfolio.css" type="text/css" media="screen">

    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/assetsweb/js/fancy-box/jquery.fancybox.css" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />





</head>


<body>
    <ul class="postiotn">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li class="login-rotate"><A href="tasgeel.html">التسجيل </A></li>
    </ul>


    <nav class="navbar navbar-inverse visible-xs">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="~/assetsweb/images/fotter-logo.png" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","Home")">الرئيسيبة</a></li>
                    <li><a href="@Url.Action("About","Home")">من نحن</a></li>

                    <li><a href="@Url.Action("Branches","Home")">فروع متون</a></li>

                    <li><a href="@Url.Action("AllNews","Home")">الاخبار</a></li>
                    <li><a href="library.html">المكتبة</a></li>
                    @*<li><a href="tasgeel.html">التسجيل فى الفروع</a></li>*@
                    <li><a href="@Url.Action("PhotoGallary","Home")">معرض الصور</a></li>

                    @Html.Partial("_LoginPartial")
                    @*<li><a href="login.html">تسجيل الدخول</a></li>
                        <li><a href="Contact-us.html">اتصل بنا</a></li>*@

                </ul>


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>




    <div class="header hidden-xs">
        <div class="container">

            <div class="strip wow fadeInDown">
                <img src="~/assetsweb/images/strip.png" class="pos" />

                @Html.Partial("_LoginPartial")
                @*<a class="login border-login" href="tasgeel.html"><i class="fa fa-lock"></i> تسجيل الدخول </a>*@
                <a class="login" href="@Url.Action("ContactUs","Home")"><i class="fa fa-phone"></i> اتصل بنا </a>

                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>

            </div><!--end strip-->

            <div class="row">

                <div class="col-md-4 wow fadeInRight">
                    <img src="~/assetsweb/images/logo.png" class="img-responsive logo" />
                </div><!--end col-4-->

                <div class="col-md-8 wow fadeInLeft">

                    <ul class="menu">
                        <li><a href="@Url.Action("Index","Home")">الرئيسيبة</a></li>
                        <li><a href="@Url.Action("About","Home")">من نحن</a></li>

                        <li><a href="@Url.Action("Branches","Home")">فروع متون</a></li>
                        <li><a href="@Url.Action("AllNews","Home")">الاخبار </a></li>
                        <li><a href="@Url.Action("Library","Home")">المكتبة </a></li>
                        @*<li><a href="@Url.Action("Library","Home")">التسجيل فى الفروع </a></li>*@
                        <li><a href="@Url.Action("PhotoGallary","Home")">معرض الصور </a></li>
                    </ul>



                </div>


            </div><!--end row-->

        </div><!--end continer-->
    </div><!--end header-->
    @RenderBody()


    <div class="fotter">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="border">
                        <img src="~/assetsweb/images/fotter-logo.png" class="img-responsive logo-fotter" />
                    </div>
                </div><!--end col-6-->


                <ul class="menu-fotter hidden-xs">
                    <div class="col-md-2">

                        <li><a href="#">الرئيسية </a></li>
                        <li><a href="#">من نحن </a></li>
                        <li><a href="#">فروع متون </a></li>
                        <li><a href="#">الفعاليات </a></li>
                        <li><a href="#">اتصل بنا </a></li>

                    </div><!--end col-2-->

                    <div class="col-md-2">

                        <li><a href="#">مكتبة الكتب </a></li>
                        <li><a href="#">مكتبة الصور </a></li>
                        <li><a href="#">المكتبة الالكترونية </a></li>
                        <li><a href="#">المناهج التعليمية </a></li>
                        <li><a href="#">قالوا عنا </a></li>

                    </div><!--end col-2-->

                    <div class="col-md-2">

                        <li><a href="#">الاسئلة الشائعة </a></li>
                        <li><a href="#">انشاء حساب </a></li>
                        <li><a href="#">تسجيل الدخول </a></li>

                    </div><!--end col-2-->
                </ul>

            </div><!--end row-->
        </div><!--end continer-->
    </div><!--end fotter-->

    <div class="strip-fotter">
        <p> جميع الحقوق محفوظة لدى شركة متون لعام 2019 </p>
    </div>



    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="~/assetsweb/js/number/superfish.js"></script>
    <script type="text/javascript" src="~/assetsweb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assetsweb/js/slider/revolution.min.js"></script>
    <script type="text/javascript" src="~/assetsweb/js/number/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="~/assetsweb/js/number/jquery.countTo.js"></script>
    <script type="text/javascript" src="~/assetsweb/js/number/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="~/assetsweb/js/number/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/assetsweb/js/number/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/assetsweb/js/number/custom.js"></script>
    <script type="text/javascript" src="~/assetsweb/js/slider/script.js"></script>

    <script type="text/javascript" src="~/assetsweb/js/animate/wow.min.js"></script>
    <script>
        new WOW().init();
        $(function () {
            $("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
            $("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");
        });
    </script>
    <script type="text/javascript">
        new WOW().init();

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();


        $(".fancybox").fancybox({
            openEffect: "elastic",
            closeEffect: "elastic"


        });

    </script>
    <script src="~/Scripts/toastr.min.js"></script>





</body>
</html>
