﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="list-inline font-13 sm-text-center mt-5">
            <li>
                <a class="text-white" href="@Url.Action("UserDashBoard","Home")">لوحة التحكم</a>
            </li>
            <li class="text-white">|</li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">خروج</a>
            </li>
            <li class="text-white">|</li>
            <li>
                <a class="text-white" href="#">@User.Identity.GetUserName()</a>


            </li>
        </ul>

        @*<ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>*@
    }
}
else 

{
    @*<a class="login border-login" href="@Html.ActionLink("انشاء حساب", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })"></a>*@
    <a class="login" href="@Url.Action( "Login", "Account")"> تسجيل دخول</a>
    <a>|</a>


    @*<ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>*@
}
