﻿@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "HomeAdmin", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="list-inline font-13 sm-text-center mt-5">
            <li>
                <a href="#">@User.Identity.GetUserName()</a>


            </li>
            <li></li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()"> خروج</a>
            </li>


        </ul>

        @*<ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>*@
    }
}
else
{
    <ul class="list-inline font-13 sm-text-center mt-5">

        <li class="text-white">|</li>
        <li>@Html.ActionLink("انشاء حساب", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="text-white">|</li>
        <li>@Html.ActionLink("تسجيل دخول", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

    </ul>
    @*<ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>*@
}
