﻿<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li class="menu-title">@IslamicAcademy.Localiztion.IslamicAcademy.Main</li>

                @*<li>
            <a href="@Url.Action("Index", "Home", new { area = "" })" class="waves-effect waves-primary">
                <i class="ti-home"></i><span>@GlobalRes.MainPage</span>
            </a>
        </li>*@
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-menu-alt"></i><span> الموظفين </span> <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "Employee",new { area="Admin"})">الموظفين  </a></li>
                        <li><a href="@Url.Action("Index1", "TaskType",new { area="Admin"})">انواع المهام </a></li>
                        <li><a href="@Url.Action("Index1", "TaskSetting",new { area="Admin"})">اعدادات المهام   </a></li>
                        <li><a href="@Url.Action("Create", "Taskes",new { area="Admin"})">اضافة مهمة   </a></li>
                        <li><a href="@Url.Action("Index1", "Taskes",new { area="Admin"})">المهام المرسلة    </a></li>
                        <li><a href="@Url.Action("RequestTime", "Taskes",new { area="Admin"})"> طلبات التمديد   </a></li>
                        <li><a href="@Url.Action("TransfearedTasks", "Taskes",new { area="Admin"})"> المهام المحوله</a></li>

                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-menu-alt"></i><span> الصادر والوارد </span> <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "LettersType",new { area="Admin"})">انواع الخطابات  </a></li>
                        <li><a href="@Url.Action("Index1", "OfficialAgencies",new { area="Admin"})">الجهات الرسمية  </a></li>
                        <li><a href="@Url.Action("Index1", "OutPut",new { area="Admin"})">الصادر    </a></li>
                        <li><a href="@Url.Action("Index1", "Input",new { area="Admin"})">الوارد    </a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-menu-alt"></i><span> الصلاحيات </span> <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Register", "Account")">تسجيل المستخدمين</a></li>
                        <li><a href="@Url.Action("Groups", "Roles",new { area="Admin"})">تسجيل مجموعات المستخدمين</a></li>
                        <li><a href="@Url.Action("AppContollerRoles", "Roles",new { area="Admin"})">توزيع الصلاحيات</a></li>
                        <li><a href="@Url.Action("AddRoles", "Roles",new { area="Admin"})">اضافة صلاحية  </a></li>
                        <li><a href="@Url.Action("AddUserRoles", "Roles",new { area="Admin"})">اضافة الصلاحيات للمستخدمين  </a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary" style="color:#555">
                        <i class="ti-paint-bucket"></i> <span>الاعتمادات</span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "CoursesStudentTempHeader", new { area = "Admin" })">تعديلات الطلاب</a></li>
                        <li><a href="@Url.Action("GardsAproved", "Aproves", new { area = "Admin" })">الشفوى والتحريرى</a></li>
                        @*<li><a href="@Url.Action("EvulationApproved", "Aproves", new { area = "Admin" })">التقيم الاسبوعى </a></li>*@
                        @*<li><a href="@Url.Action("Index1", "Matiriale", new { area = "Admin" })">الشفوى والتحريرى </a></li>*@


                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary" style="color:#555">
                        <i class="ti-paint-bucket"></i> <span> @IslamicAcademy.Localiztion.IslamicAcademy.Setting </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "SendMail", new { area = "Admin" })"> ارسال ميل</a></li>
                        <li><a href="@Url.Action("Index1", "EducationBody", new { area = "Admin" })"> السنوات الدراسية</a></li>
                        <li><a href="@Url.Action("Index1", "Classes", new { area = "Admin" })"> الفصول الدراسية</a></li>

                        <li><a href="@Url.Action("Index1", "CoursesStudentTempHeader", new { area = "Admin" })">تعديلات الطلاب</a></li>
                        <li><a href="@Url.Action("Index1", "Matiriale", new { area = "Admin" })">المواد</a></li>
                        <li><a href="@Url.Action("Index1", "Elmatone", new { area = "Admin" })">المتون</a></li>
                        <li><a href="@Url.Action("Index1", "DoctrinesDetails", new { area = "Admin" })">المتون الفقهية</a></li>

                        <li><a href="@Url.Action("Index1", "TeacherInstructions", new { area = "Admin" })">تعليمات المدرس</a></li>
                        <li><a href="@Url.Action("Index1", "StudentInstructions", new { area = "Admin" })">تعليمات الطلاب</a></li>
                        <li><a href="@Url.Action("Index1", "Track", new { area = "Admin" })"> المسارات</a></li>

                        <li><a href="@Url.Action("Index1", "Nationality", new { area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.Nationality</a></li>


                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary" style="color:#555">
                        <i class="ti-paint-bucket"></i> <span> @IslamicAcademy.Localiztion.IslamicAcademy.AboutPrize </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "IntroducingPrize", new { area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.IntroducingPrize</a></li>
                        <li><a href="@Url.Action("Index1", "SysteamPrize", new { area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.SysteamPrize</a></li>
                        <li><a href="@Url.Action("Index1", "WordsSupevisor", new { area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.WordSupervisor</a></li>
                        <li><a href="@Url.Action("Index1", "Representations", new { area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.Representations</a></li>
                        <li><a href="@Url.Action("Index1", "WordsManage", new { area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.WordManage</a></li>
                        <li><a href="@Url.Action("Index1", "News", new { area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.News</a></li>
                        <li><a href="@Url.Action("Index1", "PhotoGallery", new { area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.PhotoGallery</a></li>
                        <li><a href="@Url.Action("Index1", "Advertisement", new { area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.Advertisement</a></li>

                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary" style="color:#555">
                        <i class="ti-paint-bucket"></i> <span> @IslamicAcademy.Localiztion.IslamicAcademy.LibraryPrize </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "Library", new { area = "Admin" })">مكتبة الجائزة</a></li>

                        <li><a href="@Url.Action("Index1", "LibraryRead", new { area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.LibraryRead</a></li>
                        <li><a href="@Url.Action("Index1", "Acoustics", new { area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.Acoustics</a></li>
                        <li><a href="@Url.Action("Index1", "Visualiztions", new { area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.Visualiztions</a></li>


                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary">
                        <i class="ti-paint-bucket"></i> <span> @IslamicAcademy.Localiztion.IslamicAcademy.BranchesL </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li class="has_sub">
                            <a style="color:#555" href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span style="color:#555">الفرع الاول</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>

                                <li><a href="@Url.Action("Index1", "Advantages", new { BranchId=1,area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.Advantages</a></li>
                                <li><a style="color:#555" href="@Url.Action("Index1", "Colleges", new {BranchId=1, area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.Colleges</a></li>
                                <li><a href="@Url.Action("Index1", "AssignmentsDate", new {BranchId=1, area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.AssignmentsDate</a></li>
                                <li><a href="@Url.Action("Index1", "Courses", new { area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.Courses</a></li>
                                <li><a href="@Url.Action("Index1", "EvaluationCriteria", new {BranchId=1, area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.EvaluationCriteria</a></li>
                            </ul>
                        </li>

                        <li class="has_sub" style="color:#555">
                            <a style="color:#555" href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span style="color:#555">الفرع الثانى</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="@Url.Action("Index1", "ScandBranchCourses", new {BranchId=2, area = "Admin" })">مقررات الفرع الثانى</a></li>

                                <li><a href="@Url.Action("Index1", "Advantages", new {BranchId=2, area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.Advantages</a></li>
                                <li><a href="@Url.Action("Index1", "AssignmentsDate", new { BranchId=2, area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.AssignmentsDate</a></li>
                                <li><a href="@Url.Action("Index1", "AssignmentsDate", new { area = "Admin" })">المتون المشروحة</a></li>
                                <li><a href="@Url.Action("Index", "TimeTable", new { area = "Admin" })">الجدول الزمنى</a></li>


                                <li><a href="@Url.Action("Index1", "EvaluationCriteria", new {BranchId=2, area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.EvaluationCriteria</a></li>
                            </ul>
                        </li>

                        <li class="has_sub" style="color:#555">
                            <a style="color:#555" href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span style="color:#555">الفرع الثالث</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>

                                <li><a href="@Url.Action("Index1", "Advantages", new {BranchId=3, area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.Advantages</a></li>
                                <li><a href="@Url.Action("Index1", "AssignmentsDate", new { BranchId=3,area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.AssignmentsDate</a></li>
                                <li><a href="@Url.Action("Index1", "AssignmentsDate", new { area = "Admin" })">المتون للبحوث</a></li>

                                <li><a href="@Url.Action("Index1", "EvaluationCriteria", new { BranchId=3,area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.EvaluationCriteria</a></li>
                            </ul>
                        </li>
                    </ul>


                </li>


                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect waves-primary" style="color:#555">
                        <i class="ti-paint-bucket"></i> <span> @IslamicAcademy.Localiztion.IslamicAcademy.Register </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index1", "FirestBranchRegister", new { area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.FirestBranchRegister</a></li>
                        <li><a href="@Url.Action("StudentPostPoned", "FirestBranchRegister", new { area = "Admin" })">الطلاب المؤجلين</a></li>

                        <li><a href="@Url.Action("Index1", "SecondBranchRegister", new { area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.SecondBranchRegister</a></li>
                        <li><a href="@Url.Action("Index1", "ThirdBranchRegister", new { area = "Admin" })">@IslamicAcademy.Localiztion.IslamicAcademy.ThirdBranchRegister</a></li>


                    </ul>
                </li>
                @*<li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @SchoolSystem.Localiztion.AgentResource.ExameControle </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index1", "Memory_Pattern_Answers", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.MemoryTestAnswers</a></li>
                <li><a href="@Url.Action("Index1", "Memory_Pattern_Qustions", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.TestAnswers</a></li>
                <li><a href="@Url.Action("Index1", "Memory_pattern_AnswerMean", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.memoryquestions</a></li>
                <li><a href="@Url.Action("Index1", "memory_pattern_Test", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.Testthememorypattern</a></li>
                <li><a href="@Url.Action("Index1", "Test", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.Aptitudetest</a></li>

                <li><a href="@Url.Action("Index1", "Capabilitiesqustions", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.CapacityTestQuestions</a></li>

                <li><a href="@Url.Action("Index1", "Game", new { area = "Admin" })">@SchoolSystem.Localiztion.AgentResource.Gamesforthegiftedchild</a></li>

            </ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> التحكم في منظومة افاق</span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index1", "Guardian", new { area = "Admin" })">ولى الامر</a></li>
                <li><a href="@Url.Action("Index", "Student", new { area = "Admin" })">الطلاب</a></li>
                <li><a href="@Url.Action("Index1", "SharedCareer", new { area = "Admin" })">مهن الطلاب</a></li>
                <li><a href="@Url.Action("Index", "Employee", new { area = "Admin" })">الموظفين</a></li>
                <li><a href="@Url.Action("Index1", "Subjects", new { area = "Admin" })">المواد الدراسية</a></li>

                <li><a href="@Url.Action("Index1", "EmpClass", new { area = "Admin" })">توزيع المعلمين</a></li>

                <li><a href="@Url.Action("Index1", "Stage", new { area = "Admin" })">المراحل الدراسية</a></li>

                <li><a href="@Url.Action("Contole", "Scadules", new { area = "Admin" })">الجداول</a></li>
                <li><a href="@Url.Action("Index1", "NonAttandance", new { area = "Admin" })">اخذ الغياب</a></li>
                <li><a href="@Url.Action("Index1", "RealResultMonthly", new { area = "Admin" })"> درجات الطالب الشهرية</a></li>
                <li><a href="@Url.Action("Index1", "StudentsList", new { area = "Admin" })"> تنشيط الطالب</a></li>
                <li><a href="@Url.Action("Index1", "PrintStudentList", new { area = "Admin" })"> قوائم الطلاب</a></li>

                <li><a href="@Url.Action("Index1", "Evaluations", new { area = "Admin" })">تقيم الطلاب </a></li>

                <li><a href="@Url.Action("Index1", "Levels", new { area = "Admin" })">نقاط المعلمين </a></li>

                <li><a href="@Url.Action("Index1", "TeacherLists", new { area = "Admin" })">قياس مستوى المعلم  </a></li>

            </ul>
        </li>


        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> الاعدادات</span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index1", "Footer", new { area = "Admin" })">ملومات الاتصال </a></li>
                <li><a href="@Url.Action("Index1", "Career", new { area = "Admin" })">المهن</a></li>
                <li><a href="@Url.Action("Index1", "Nationality", new { area = "Admin" })">الجنسيات </a></li>
                <li><a href="@Url.Action("Index1", "Job", new { area = "Admin" })">الوظائف</a></li>
                <li><a href="@Url.Action("Index1", "ContactUs", new { area = "Admin" })">اتصل بنا </a></li>

                <li><a href="@Url.Action("Index1", "Message", new { area = "Admin" })">الرسائل </a></li>

                <li><a href="@Url.Action("Index1", "DiscoverTelend", new { area = "Admin" })">الهويات </a></li>

                <li><a href="@Url.Action("Index1", "DiscoverTelent", new { area = "Admin" })">الميول</a></li>
                <li><a href="@Url.Action("Index1", "DiscoverSkills", new { area = "Admin" })">المهارات </a></li>
                <li><a href="@Url.Action("Index1", "Maxims", new { area = "Admin" })"> الحكمة اليومية  </a></li>

            </ul>
        </li>*@
                @*<li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> التجكم فى الادمن</span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index", "AdminMange", new { area = "Admin" })">الادمن  </a></li>


            </ul>
        </li>*@



                @*<li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Marketing  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index1", "ManageRequest", new { area = "Marketing" })">@GlobalRes.Order</a></li>
            </ul>
        </li>
        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.PriceOffers  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index1", "ManageRequestOffer", new { area = "Marketing" })">@GlobalRes.OrderInput</a></li>

            </ul>
        </li>
        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Contracts  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index1", "ManageRequestContract", new { area = "Marketing" })">@GlobalRes.Contracts @Model.</a></li>

            </ul>
        </li>*@
                @*<li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Analysis  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled"></ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Running  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled"></ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.SupportRequests  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled"></ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Engineers  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled"></ul>
        </li>

        <li class="has_sub">
            <a href="javascript:void(0);" class="waves-effect waves-primary">
                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Visits  </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="list-unstyled"></ul>
        </li>*@

            </ul>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>